server:
  port: 8081

spring:

  datasource:
    url: jdbc:mysql://localhost:3306/linggongyun_v3?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=GMT%2B8
    username: root
    password: root
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      # 下面为连接池的补充设置，应用到上面所有数据源中
      # 初始化大小，最小，最大
      initial-size: 5
      min-idle: 5
      max-active: 20
      # 配置获取连接等待超时的时间
      max-wait: 60000
      # 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
      time-between-eviction-runs-millis: 60000
      # 配置一个连接在池中最小生存的时间，单位是毫秒
      min-evictable-idle-time-millis: 300000
      validation-query: SELECT 1 FROM DUAL
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false
      # 打开PSCache，并且指定每个连接上PSCache的大小
      pool-prepared-statements: true
      #   配置监控统计拦截的filters，去掉后监控界面sql无法统计，'wall'用于防火墙
      max-pool-prepared-statement-per-connection-size: 20
      filters: stat,wall
      use-global-data-source-stat: true
      # 通过connectProperties属性来打开mergeSql功能；慢SQL记录
      connect-properties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000
      # 配置监控服务器
      stat-view-servlet:
        # 1.1.10以后的版本需要指定为true 不然默认是关闭的就会出现404
        enabled: true
        login-username: admin
        login-password: 123456
        reset-enable: false
        url-pattern: /druid/*
        # 添加IP白名单
        #allow:
        # 添加IP黑名单，当白名单和黑名单重复时，黑名单优先级更高
        #deny:
      web-stat-filter:
        # 添加过滤规则
        url-pattern: /*
        # 忽略过滤格式
        exclusions: "*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*"

  servlet:
    multipart:
      # 单个文件的最大值
      max-file-size: 40MB
      # 上传文件总的最大值
      max-request-size: 100MB

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    auto-mapping-behavior: full
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  mapper-locations: classpath*:mapper/*Mapper.xml
  type-aliases-package: classpath*:com.example.mybatis.entity

  global-config:
    # 逻辑删除配置
    db-config:
      # 删除前
      logic-not-delete-value: 1
      # 删除后
      logic-delete-value: 0

redis:
  host: 127.0.0.1  # Redis服务器地址
  datasource: 0 # Redis数据库索引（默认为0）
  port: 6379 # Redis服务器连接端口
  password: # Redis服务器连接密码（默认为空）
  jedis:
    pool:
      max-active: 8 # 连接池最大连接数（使用负值表示没有限制）
      max-wait: -lms # 连接池最大阻塞等待时间（使用负值表示没有限制）
      max-idea: 8 # 连接池中的最大空闲连接数
      min-idea: 0 # 连接池中的最小空闲连接
  timeout: 3000ms # 连接超时时间（毫秒）

#微信Appid
APPID: "wx3870ff35a721932e"

SECRET: "cf6f1bcea8c984dc699d2e554f9b2bf6"

#
PWD_KEY: "esdafw"

#初始化主帐号
AccountSid: "8a216da873b27ace0173b30bff5d0079"

#主帐号TOKEN
AccountToken: "b12a28072550438486f44fce85ad3fe6"

#初始化应用ID
AppId: "8a216da873b27ace0173b30c00620081"

#模板ID
TemplateId: "624431"

#初始化服务器地址,服务器地址不需要写https://
serverIP: "app.cloopen.com"

#初始化服务器端口
serverPort: "8883"



TOKEN: token

secret: "yixi"

expire: "7"

header: "linggongyun_v3"

#本地图片存储路径
PathImage_KEY: "D:/upload/image/"

#本地excel存储路径
PathExcel_KEY: "D:/upload/excel/"

#本地视频存储路径
PathVideo_KEY: "D:/upload/Video/"


#模板文件
TemplateFile:
  #  合同模板
  Contract: "D:/TemplateFile/test.pdf"
  #  总包+分包支付明细模板
  TotalPayInventory: "D:/TemplateFile/inventory.xlsx"
  #  众包支付明细模板
  ManyPayInventory: "D:/TemplateFile/inventory.xlsx"
  #  总包+分包交付支付验收单
  TotalAcceptanceCertificate: "D:/TemplateFile/acceptanceCertificate.xlsx"
  #  众包交付支付验收单
  ManyAcceptanceCertificate: "D:/TemplateFile/acceptanceCertificate.xlsx"
  #  导入创客的模板
  ImportWorker: "D:/TemplateFile/importWorker.xlsx"
  #  模板文件夹路径
  Path: "D:/TemplateFile/"
  #  模板访问路径
  StaticAccesspath: "/static/TemplateFile/"

#图片的访问路径
fileStaticAccesspathImage: "/static/image/"

#excel的访问路径
fileStaticAccesspathExcel: "/static/excel/"

#视频的访问路径
fileStaticAccesspathVideo: "/static/Video/"


appSecret: "872614e259eded522417c76ad0fb06f0"
