server:
  port: 8081
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/linggongyun_v3?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=GMT%2B8
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
    initial-size: 10
    max-active: 10000
    min-idle: 2
    max-wait: 100000
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    #  是否缓存preparedStatement，也就是PSCache。PSCache对支持游标的数据库性能提升巨大，比如说oracle。在mysql下建议关闭。
    pool-prepared-statements: true
    # 要启用PSCache，必须配置大于0，当大于0时，poolPreparedStatements自动触发修改为true。在Druid中，不会存在Oracle下PSCache占用内存过多的问题，可以把这个数值配置大一些，比如说100
    max-open-prepared-statements: 100
    validation-query: select 1 from dual
    validation-query-timeout: 100000
    # 申请连接时执行validationQuery检测连接是否有效，做了这个配置会降低性能。 建议false
    test-on-borrow: false
    # 归还连接时执行validationQuery检测连接是否有效，做了这个配置会降低性能 ，建议false
    test-on-return: false
    test-while-idle: true
    max-pool-prepared-statement-per-connection-size: 20
    filters: stat,wall

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    auto-mapping-behavior: full
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  mapper-locations: classpath*:mapper/*Mapper.xml
  type-aliases-package: classpath*:com.example.mybatis.entity

  global-config:
    # 逻辑删除配置
    db-config:
      # 删除前
      logic-not-delete-value: 1
      # 删除后
      logic-delete-value: 0

PWD_KEY: esdafw


