<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.AppletOtherInfoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatis.entity.AppletOtherInfo">
        <id column="id" property="id" />
        <result column="entry_name" property="entryName" />
        <result column="content" property="content" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
    </resultMap>

     <resultMap id="appletOtherVo" type="com.example.mybatis.vo.AppletOtherVO">
        <id column="id" property="id"/>
        <result column="entry_name" property="entryName"/>
        <result column="content" property="content"/>
        <result column="create_date" property="createDate"/>
        <result column="type" property="type"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, entry_name, content, create_date, update_date
    </sql>

    <select id="selectAppletOtherInfo" resultMap="appletOtherVo">
        SELECT
            id,
            entry_name,
            content,
            type,
            create_date
        FROM
            tb_applet_other_info
        ORDER BY
            create_date DESC
    </select>


</mapper>
