<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.CompanyInvoiceInfoDao">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatis.entity.CompanyInvoiceInfo">
        <id column="id" property="id"/>
        <result column="company_id" property="companyId"/>
        <result column="company_name" property="companyName"/>
        <result column="tax_code" property="taxCode"/>
        <result column="address_and_telephone" property="addressAndTelephone"/>
        <result column="bank_and_account" property="bankAndAccount"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, company_id, company_name, address_and_telephone, tax_code, bank_and_account
    </sql>
</mapper>
