<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.CompanyLadderServiceDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatis.entity.CompanyLadderService">
        <id column="id" property="id" />
        <result column="company_tax_id" property="companyTaxId" />
        <result column="start_money" property="startMoney" />
        <result column="end_money" property="endMoney" />
        <result column="service_charge" property="serviceCharge" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,company_tax_id, start_money, end_money, service_charge
    </sql>

</mapper>
