<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.CompanyTaxDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatis.entity.CompanyTax">
        <id column="company_id" property="companyId" />
        <result column="id" property="id" />
        <result column="tax_id" property="taxId" />
        <result column="charge_status" property="chargeStatus" />
        <result column="service_charge" property="serviceCharge" />
        <result column="package_status" property="packageStatus" />
        <result column="bank_name" property="bankName"/>
        <result column="bank_code" property="bankCode"/>
        <result column="contract" property="contract" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, company_id, tax_id, charge_status, service_charge, package_status, contract, create_date, update_date
    </sql>

</mapper>
