<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.CompanyInfoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatis.entity.CompanyInfo">
        <id column="id" property="id"/>
        <result column="company_s_name" property="companySName"/>
        <result column="company_logo" property="companyLogo"/>
        <result column="company_size" property="companySize"/>
        <result column="company_provice" property="companyProvice"/>
        <result column="company_city" property="companyCity"/>
        <result column="company_man" property="companyMan"/>
        <result column="company_man_id_card" property="companyManIdCard"/>
        <result column="business_license" property="businessLicense"/>
        <result column="company_desc" property="companyDesc"/>
        <result column="company_name" property="companyName"/>
        <result column="company_address" property="companyAddress"/>
        <result column="company_create_date" property="companyCreateDate"/>
        <result column="registered_capital" property="registeredCapital"/>
        <result column="bank_name" property="bankName"/>
        <result column="bank_code" property="bankCode"/>
        <result column="telephones" property="telephones"/>
        <result column="link_man" property="linkMan"/>
        <result column="link_mobile" property="linkMobile"/>
        <result column="contract" property="contract"/>
        <result column="credit_code" property="creditCode"/>
        <result column="audit_status" property="auditStatus"/>
        <result column="company_status" property="companyStatus"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, company_s_name, company_logo, company_size, company_provice, company_city, company_man, company_man_id_card, business_license, company_desc, company_name, company_address, company_create_date, bank_name, bank_code, telephones, link_man, link_mobile, contract, credit_code, company_status, create_date, update_date
    </sql>

    <sql id="tb_company_panyment_list">
        ((SELECT b.id 'payment_order_id',b.tax_id,b.company_id ,b.company_s_name 'company_name' ,
        b.platform_service_provider 'tax_name', b.company_contract,b.payment_inventory,
        (case when b.id is null then 1 else 0 end) package_status,b.real_money,b.is_invoice,b.payment_date
        FROM tb_company_info a RIGHT JOIN tb_payment_order b on a.id = b.company_id and b.payment_order_status &gt;= 2
        ) union
        (SELECT b.id 'payment_order_id' ,b.tax_id,b.company_id ,b.company_s_name 'company_name',
        b.platform_service_provider 'tax_name', b.company_contract,b.payment_inventory,
        (case when b.id is null then 0 else 1 end) package_status,b.real_money,b.is_application 'is_invoice',b.payment_date
         FROM tb_company_info a RIGHT JOIN tb_payment_order_many b on a.id = b.company_id and b.payment_order_status &gt;= 2
        )) tb_company_panyment_list
    </sql>


    <!-- 通用查询映射结果 -->
    <resultMap id="CompanyPaymentOrderPOResultMap" type="com.example.mybatis.po.CompanyPaymentOrderPO">
        <result column="payment_order_id" property="paymentOrderId"/>
        <result column="company_name" property="companyName"/>
        <result column="tax_name" property="taxName"/>
        <result column="package_status" property="packageStatus"/>
        <result column="company_contract" property="companyContract"/>
        <result column="payment_inventory" property="paymentInventory"/>
        <result column="real_money" property="realMoney"/>
        <result column="is_invoice" property="isInvoice"/>
        <result column="payment_date" property="paymentDate"/>
    </resultMap>

    <!--公司的支付订单-->
    <select id="selectCompanyPaymentOrder" resultMap="CompanyPaymentOrderPOResultMap">
        SELECT payment_order_id,
        company_name,
        tax_name,
        package_status,
        company_contract,
        payment_inventory,
        real_money,
        is_invoice,
        payment_date
        FROM
        <include refid="tb_company_panyment_list"/>
        <where>
            company_id = #{companyId}
            AND tax_id IN
            <foreach collection="taxIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            <if test="taxName != null and taxName != ''">
                AND tax_name LIKE CONCAT('%',#{taxName},'%')
            </if>
            <if test="startDate != null and startDate != '' ">
                AND payment_date &gt;= #{startDate}
            </if>
            <if test="endDate != null and endDate != '' ">
                AND payment_date &lt;= #{endDate}
            </if>
        </where>
        ORDER BY payment_date DESC
    </select>

    <select id="exportCompanyPaymentOrder" resultMap="CompanyPaymentOrderPOResultMap">
        SELECT payment_order_id,
        company_name,
        tax_name,
        package_status,
        company_contract,
        payment_inventory,
        real_money,
        is_invoice,
        payment_date
        FROM
        <include refid="tb_company_panyment_list"/>
        WHERE payment_order_id IN
        <foreach collection="paymentOrderIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>
