<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.CompanyUnionpayDao">

    <resultMap id="unionpayTaxListVO" type="com.example.mybatis.vo.UnionpayTaxListVO">
        <id column="id" property="id" />
        <result column="tax_name" property="taxName" />
        <result column="credit_code" property="creditCode" />
        <result column="link_man" property="linkMan" />
        <result column="link_mobile" property="linkMobile" />
        <result column="tax_create_date" property="taxCreateDate" />
    </resultMap>

    <select id="queryOfflineTaxList" resultMap="unionpayTaxListVO">
        SELECT t2.id, t2.tax_name, t2.credit_code, t2.link_man, t2.link_mobile, t2.tax_create_date FROM
        tb_company_tax t1 INNER JOIN tb_tax t2 ON t1.tax_id = t2.id
        WHERE t1.company_id = #{companyId} GROUP BY t2.id ORDER BY t2.tax_create_date DESC
    </select>

    <select id="queryUninopayTaxList" resultMap="unionpayTaxListVO">
        SELECT t3.id, t3.tax_name, t3.credit_code, t3.link_man, t3.link_mobile, t3.tax_create_date FROM tb_company_unionpay t1
        INNER JOIN tb_tax_unionpay t2 ON t1.tax_unionpay_id = t2.id INNER JOIN tb_tax t3 ON t2.tax_id = t3.id
        WHERE t1.company_id = #{companyId} GROUP BY t3.id ORDER BY t3.tax_create_date DESC
    </select>

    <select id="queryMerchantUnionpayUnionpayBankType" resultType="com.example.mybatis.entity.CompanyUnionpay">
        SELECT t1.* FROM tb_company_unionpay t1 INNER JOIN tb_tax_unionpay t2 ON t1.tax_unionpay_id = t2.id
        WHERE t1.company_id = #{companyId} AND t2.tax_unionpay_id = #{taxUnionpayId} AND t2.unionpay_bank_type = #{unionpayBankType}
    </select>

    <select id="queryCompanyUnionpayMethod" resultType="com.example.common.enums.UnionpayBankType">
        SELECT unionpay_bank_type FROM tb_tax_unionpay t1 INNER JOIN tb_company_unionpay t2 ON t1.id = t2.tax_unionpay_id WHERE t1.bool_enable = 1
        AND t2.company_id = #{companyId} AND t1.tax_id = #{taxId}
    </select>

</mapper>
