<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.CrowdSourcingInvoiceDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatis.entity.CrowdSourcingInvoice">
        <id column="id" property="id"/>
        <result column="application_id" property="applicationId"/>
        <result column="invoice_code" property="invoiceCode"/>
        <result column="invoice_print_date" property="invoicePrintDate"/>
        <result column="invoice_number" property="invoiceNumber"/>
        <result column="invoice_codeNo" property="invoiceCodeno"/>
        <result column="invoice_print_person" property="invoicePrintPerson"/>
        <result column="invoice_money" property="invoiceMoney"/>
        <result column="invoice_catalog_id" property="invoiceCatalogId"/>
        <result column="invoice_url" property="invoiceUrl"/>
        <result column="tax_receipt_url" property="taxReceiptUrl"/>
        <result column="express_sheet_no" property="expressSheetNo"/>
        <result column="express_company_name" property="expressCompanyName"/>
        <result column="express_update_datetime" property="expressUpdateDatetime"/>
        <result column="express_update_person" property="expressUpdatePerson"/>
        <result column="express_update_person_tel" property="expressUpdatePersonTel"/>
        <result column="invoice_desc" property="invoiceDesc"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
    </resultMap>

    <resultMap id="InvInfo" type="com.example.mybatis.vo.InvoiceInformationVo">
        <result column="billing_category" property="invoiceCatalogType"/>
        <result column="application_desc" property="applicationDesc"/>
        <result column="application_address" property="applicationAddress"/>
        <result column="invoice_url" property="invoiceUrl"/>
        <result column="tax_receipt_url" property="taxReceiptUrl"/>
        <result column="express_company_name" property="expressCompanyName"/>
        <result column="express_sheet_no" property="expressSheetNo"/>
    </resultMap>

    <resultMap id="CrowdSourcingInvoicePass" type="com.example.mybatis.vo.CrowdSourcingInvoiceVo">
        <result column="application_id" property="applicationId"/>
        <result column="company_id" property="companyId"/>
        <result column="company_s_name" property="companySName"/>
        <result column="platform_service_provider" property="platformServiceProvider"/>
        <result column="id" property="id"/>
        <result column="payment_inventory" property="paymentInventory"/>
        <result column="many_payment" property="manyPayment"/>
        <result column="is_application" property="isApplication"/>
        <result column="application_state" property="applicationState"/>
        <result column="application_date" property="applicationDate"/>
    </resultMap>

    <resultMap id="PayOrderManyById" type="com.example.mybatis.vo.PaymentOrderManyVo">
        <result column="id" property="id"/>
        <result column="company_s_name" property="companySName"/>
        <result column="platform_service_provider" property="platformServiceProvider"/>
        <result column="acceptance_certificate" property="acceptanceCertificate"/>
        <result column="payment_order_status" property="paymentOrderStatus"/>
        <result column="payment_inventory" property="paymentInventory"/>
        <result column="payment_date" property="paymentDate"/>
        <result column="real_money" property="realMoney"/>
        <association property="taskVo" javaType="com.example.mybatis.vo.TaskVo">
            <result column="task_code" property="taskCode"/>
            <result column="task_name" property="taskName"/>
            <result column="release_date" property="releaseDate"/>
            <result column="deadline_date" property="deadlineDate"/>
            <result column="industry_type" property="industryType"/>
        </association>
    </resultMap>
    <!--查询条件-->
    <sql id="que">
        <if test="merchantId != null and merchantId != ''">
            AND pom.merchant_id=#{merchantId}
        </if>
        <if test="platformServiceProvider != null and platformServiceProvider != ''">
            AND pom.platform_service_provider=#{platformServiceProvider}
        </if>
        <if test="applicationDateOne != null and applicationDateOne != ''">
            AND csp.application_date>=#{applicationDateOne}
        </if>
        <if test="applicationDateTwo != null and applicationDateTwo != ''">
            AND csp.application_date <![CDATA[<=]]> #{applicationDateTwo}
        </if>
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, application_id, invoice_code, invoice_print_date, invoice_number, invoice_codeNo, invoice_print_person, invoice_money, invoice_catalog_id, invoice_url, tax_receipt_url, express_sheet_no, express_company_name, express_update_datetime, express_update_person, express_update_person_tel, invoice_desc, create_date, update_date
    </sql>


    <resultMap id="InvoiceMoney" type="com.example.mybatis.po.InvoicePO">
        <result column="count" property="count"/>
        <result column="total_money" property="totalMoney"/>
    </resultMap>

    <!--查询总包的发票数量和发票金额-->
    <select id="selectCrowdInvoiceMoney" parameterType="string" resultMap="InvoiceMoney">
        select COUNT(1) 'count', SUM(d.invoice_money) 'total_money' from tb_company_info a RIGHT JOIN tb_payment_order_many b on a.id = b.company_id
        join tb_crowd_sourcing_application c on b.id = c.payment_order_many_id
        join tb_crowd_sourcing_invoice d on c.id = d.application_id
        where a.id = #{merchant_id}
    </select>

    <select id="selectCrowdInvoiceMoneyPaas" parameterType="string" resultMap="InvoiceMoney">
        select COUNT(1) 'count', SUM(d.invoice_money) 'total_money' from tb_company_info a RIGHT JOIN tb_payment_order_many
        b on a.id = b.company_id
        join tb_crowd_sourcing_application c on b.id = c.payment_order_many_id
        join tb_crowd_sourcing_invoice d on c.id = d.application_id
        where a.id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <insert id="addCrowdSourcingInvoice" parameterType="com.example.mybatis.entity.ApplicationCrowdSourcing">
        INSERT INTO tb_crowd_sourcing_application (id,payment_order_many_id,invoice_catalog_Type,application_address_id,application_date,application_state,application_desc)
        VALUES (#{id}, #{paymentOrderManyId}, #{invoiceCatalogType},#{applicationAddressId},now(), 1, #{applicationDesc});
    </insert>


    <resultMap id="CrowdSourcingInfo" type="com.example.mybatis.vo.CrowdSourcingInfoVo">
        <id column="id" property="id"/>
        <result column="company_id" property="companyId"/>
        <result column="invoice_code" property="invoiceCode"/>
        <result column="company_s_name" property="companySName"/>
        <result column="platform_service_provider" property="platformServiceProvider"/>
        <result column="pom_id" property="pomId"/>
        <result column="payment_inventory" property="paymentInventory"/>
        <result column="many_payment" property="manyPayment"/>
        <result column="is_application" property="isApplication"/>
        <result column="invoice_url" property="invoiceUrl"/>
        <result column="tax_receipt_url" property="taxReceiptUrl"/>
        <result column="invoice_stute" property="applicationState"/>
        <result column="invoice_print_date" property="invoicePrintDate"/>
    </resultMap>

    <select id="getCrowdSourcingInfo" resultMap="CrowdSourcingInfo">
        SELECT csi.id,pom.company_id,csi.invoice_code,pom.company_s_name,pom.platform_service_provider,pom.id,pom.payment_inventory,pom.many_payment,
        pom.is_application,csi.invoice_url,csi.tax_receipt_url,csi.invoice_print_date,if(csi.id is not null,'已开','未开')as invoice_stute
        FROM tb_crowd_sourcing_invoice csi
        LEFT JOIN tb_crowd_sourcing_application csa ON csa.id=csi.application_id
        LEFT JOIN tb_payment_order_many pom ON csa.payment_order_many_id=pom.id and csi.payment_order_many_id=pom.id
        WHERE csi.payment_order_many_id is NOT null OR csi.application_id is NOT null
        <if test="merchantId != null and merchantId != ''">
            AND pom.company_id=#{merchantId}
        </if>
        <if test="platformServiceProvider != null and platformServiceProvider != ''">
            AND pom.platform_service_provider=#{platformServiceProvider}
        </if>
        <if test="applicationDateOne != null and applicationDateOne != ''">
            AND csa.application_date>=#{applicationDateOne}
        </if>
        <if test="applicationDateTwo != null and applicationDateTwo != ''">
            AND csa.application_date <![CDATA[<=]]> #{applicationDateTwo}
        </if>
    </select>

    <select id="getCrowdSourcingInfoPass" resultMap="CrowdSourcingInfo">
        SELECT csi.id,pom.company_id,csi.invoice_code,pom.company_s_name,pom.platform_service_provider,pom.id,pom.payment_inventory,pom.many_payment,
        pom.is_application,csi.invoice_url,csi.tax_receipt_url,csi.invoice_print_date,if(csi.id is not null,'已开','未开')as invoice_stute
        FROM tb_crowd_sourcing_invoice csi
        LEFT JOIN tb_crowd_sourcing_application csa ON csa.id=csi.application_id
        LEFT JOIN tb_payment_order_many pom ON csa.payment_order_many_id=pom.id and csi.payment_order_many_id=pom.id
        WHERE csi.payment_order_many_id is NOT null OR csi.application_id is NOT null
        <if test="merchantId != null and merchantId != ''">
            AND pom.company_s_name=#{companySName}
        </if>
        <if test="platformServiceProvider != null and platformServiceProvider != ''">
            AND pom.platform_service_provider=#{platformServiceProvider}
        </if>
        <if test="applicationDateOne != null and applicationDateOne != ''">
            AND csa.application_date>=#{applicationDateOne}
        </if>
        <if test="applicationDateTwo != null and applicationDateTwo != ''">
            AND csa.application_date <![CDATA[<=]]> #{applicationDateTwo}
        </if>
    </select>

    <select id="getInvoiceById" resultMap="InvInfo">
        SELECT  csp.invoice_catalog_type,csp.application_desc,csp.application_address_id,csi.invoice_url,csi.tax_receipt_url,csi.express_company_name,csi.express_sheet_no
        FROM tb_crowd_sourcing_invoice as csi
        LEFT JOIN tb_invoice_catalog as ci ON csi.invoice_catalog_id=ci.id
        LEFT JOIN tb_crowd_sourcing_application as csp ON csi.application_id=csp.id
        WHERE csi.id=#{csiId}
    </select>

    <!--查询服务商众包的发票数量和发票金额-->
    <select id="selectCrowdInvoiceMoneyPaasTax" parameterType="string" resultMap="InvoiceMoney">
        select COUNT(1) 'count', SUM(d.invoice_money) 'total_money' from tb_payment_order_many b
        join tb_crowd_sourcing_application c on b.id = c.payment_order_many_id
        join tb_crowd_sourcing_invoice d on c.id = d.application_id
        where b.tax_id = #{taxId}
    </select>

    <!--查询服务商众包的发票数量和发票金额-->
    <select id="selectCrowdInvoiceMoneyPaasRegultor" parameterType="string" resultMap="InvoiceMoney">
        select COUNT(1) 'count', SUM(d.invoice_money) 'total_money' from tb_payment_order_many b
        join tb_crowd_sourcing_application c on b.id = c.payment_order_many_id
        join tb_crowd_sourcing_invoice d on c.id = d.application_id
        where b.tax_id in
        <foreach collection="taxIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <select id="getCrowdSourcingInvoicePass" resultMap="CrowdSourcingInvoicePass">
        SELECT  csa.id as application_id,pom.company_id,pom.company_s_name,pom.platform_service_provider,pom.id,pom.payment_inventory,pom.many_payment,pom.is_application,csa.application_state,csa.application_date
        FROM tb_payment_order_many pom
        LEFT JOIN tb_crowd_sourcing_application csa ON csa.payment_order_many_id=pom.id
        WHERE csa.application_state=1 or csa.application_state is null
        AND pom.payment_order_status=3
        <if test="companySName != null and companySName != ''">
            AND po.company_s_name like CONCAT('%',#{companySName},'%')
        </if>
        <if test="platformServiceProvider != null and platformServiceProvider != ''">
            AND pom.platform_service_provider=#{platformServiceProvider}
        </if>
        <if test="applicationDateOne != null and applicationDateOne != ''">
            AND csa.application_date>=#{applicationDateOne}
        </if>
        <if test="applicationDateTwo != null and applicationDateTwo != ''">
            AND csa.application_date <![CDATA[<=]]> #{applicationDateTwo}
        </if>
    </select>
    <!--平台查询支付信息-->
    <select id="getPaymentOrderManyPass" resultMap="PayOrderManyById">
        SELECT pom.id,pom.company_s_name,pom.platform_service_provider,pom.payment_inventory,pom.acceptance_certificate,
        pom.many_payment,pom.payment_order_status,pom.payment_date,t.task_code,t.task_name,t.release_date,t.deadline_date,t.industry_type
        from tb_payment_order_many pom
        LEFT JOIN tb_task t ON t.id=pom.task_id
        WHERE pom.id=#{payId}
    </select>
    <!--平台端查询开票清单明细-->
    <resultMap id="InvoiceListQuery" type="com.example.mybatis.vo.InvoiceDetailsVo">
        <id column="id" property="id"/>
        <result column="worker_id" property="workerId"/>
        <result column="worker_name" property="workerName"/>
        <result column="mobile_code" property="mobileCode"/>
        <result column="id_card_code" property="idCardCode"/>
        <result column="bank_code" property="bankCode"/>
        <result column="real_money" property="realMoney"/>
        <result column="task_money" property="taskMoney"/>
        <result column="tax_rate" property="taxRate"/>
        <result column="tax_id" property="taxId"/>
        <result column="tax_amount" property="taxAmount"/>
        <result column="recevice_tax" property="receviceTax"/>
    </resultMap>
    <select id="getPaymentInventoryPass" resultMap="InvoiceListQuery">
        SELECT pi.id,pi.worker_name,pi.mobile_code,pi.id_card_code,pi.bank_code,pi.real_money,pi.task_money,pom.tax_id,pom.recevice_tax
        FROM tb_payment_order_many pom
        LEFT JOIN tb_payment_inventory pi ON pi.payment_order_id=pom.id
        WHERE pom.id=#{payId}
    </select>

    <resultMap id="BuyerById" type="com.example.mybatis.vo.BuyerVo">
        <result column="company_name" property="companyName"/>
        <result column="credit_code" property="creditCode"/>
        <result column="company_address" property="companyAddress"/>
        <result column="telephones" property="telephones"/>
        <result column="bank_name" property="bankName"/>
        <result column="bank_code" property="bankCode"/>
    </resultMap>
    <select id="getBuyer" resultType="com.example.mybatis.vo.BuyerVo">
        SELECT m.company_name,ci.credit_code,ci.company_address,ci.telephones,ci.bank_name,ci.bank_code
        FROM tb_merchant as m
        LEFT JOIN tb_company_info as ci ON m.company_id=ci.id
        WHERE m.id=#{id}
    </select>
    <select id="getCrowdInvoiceCode" resultType="java.lang.String">
        select invoice_code from tb_crowd_sourcing_invoice
        where create_date in
        (select MAX(create_date) from tb_crowd_sourcing_invoice)
    </select>

    <select id="getPaymentInventoryInfoPass" resultMap="InvoiceListQuery">
        SELECT pi.id,pi.worker_id,pi.worker_name,pi.mobile_code,pi.id_card_code,pi.bank_code,pi.real_money,pi.task_money,pi.tax_rate,pi.tax_amount,pom.recevice_tax
        from tb_crowd_sourcing_invoice csi
        LEFT JOIN tb_payment_inventory pi ON pi.payment_order_id=csi.payment_order_many_id
        LEFT JOIN tb_payment_order_many pom ON pom.id=csi.payment_order_many_id
        WHERE csi.id=#{invoiceId}
    </select>

    <resultMap id="InvoiceInfoPO" type="com.example.mybatis.po.InvoiceInfoPO">
        <result column="invoice_url" property="invoiceUrl"/>
        <result column="express_company_name" property="expressCompanyName"/>
        <result column="express_sheet_no" property="expressSheetNo"/>
    </resultMap>


    <select id="selectInvoiceInfoPO" resultMap="InvoiceInfoPO">
        SELECT csi.invoice_url,
        csi.express_company_name,
        csi.express_sheet_no
        FROM tb_payment_order_many pom
        JOIN tb_crowd_sourcing_invoice csi
        ON pom.id = csi.payment_order_many_id
        WHERE pom.id = #{paymentOrderId}
    </select>

</mapper>
