<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.DictDao">

    <resultMap id="dict" type="com.example.mybatis.vo.DictVO">
        <result column="dict_key" property="dictKey"/>
        <result column="dict_value" property="dictValue"/>
    </resultMap>

     <resultMap id="dictMap" type="com.example.mybatis.entity.Dict">
        <result column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="dict_key" property="dictKey"/>
        <result column="dict_value" property="dictValue"/>
        <result column="sort" property="sort"/>
        <result column="remark" property="remark"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
        <result column="bool_deleted" property="boolDeleted"/>
    </resultMap>

    <select id="getDictValues" resultType="java.lang.String">
        SELECT
            dict_value
        FROM
            tb_dict
        WHERE
            `CODE` = #{code}
        AND parent_id != 0
        ORDER BY
            sort ASC
    </select>
    <select id="getDictValueAndKey" resultMap="dict">
        SELECT
            dict_value,dict_key
        FROM
            tb_dict
        WHERE
            parent_id = 0
        ORDER BY
            sort ASC
    </select>

    <select id="getDictValue" resultMap="dictMap">
         SELECT
            *
        FROM
            tb_dict
        WHERE
            dict_key = #{dictKey}
        AND parent_id = 0
    </select>

</mapper>
