<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.IndustryDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatis.vo.IndustryVO">
        <id column="id" property="id"/>
        <result column="industry_type" property="industryType"/>
        <collection property="list" ofType="com.example.mybatis.entity.Industry">
            <id column="id2" property="id"/>
            <result column="type2" property="industryType"/>
            <result column="one_level" property="oneLevel"/>
        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, industry_type, one_level
    </sql>

    <select id="getlist" resultMap="BaseResultMap">
        SELECT i1.id,i1.industry_type,i2.id as id2, i2.industry_type as type2,i2.one_level
        from tb_industry i1
        LEFT JOIN tb_industry i2 ON i1.id=i2.one_level
        WHERE i1.one_level is NULL
    </select>
    <select id="getIndustryType" resultType="java.lang.String">
                SELECT
            industry_type
        FROM
            tb_industry
        WHERE
            one_level is NULL
    </select>

</mapper>
