<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.InvoiceCatalogDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatis.entity.InvoiceCatalog">
        <result column="id" property="id" />
        <result column="service_type" property="serviceType" />
        <result column="service_content" property="serviceContent" />
        <result column="billing_category" property="billingCategory" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, service_type, service_content, billing_category
    </sql>


    <select id="getListInv" resultMap="BaseResultMap">
        SELECT c.id,c.service_type,c.service_content,c.billing_category
        FROM tb_invoice_catalog as c
        LEFT JOIN tb_merchant_catalog as mc ON mc.catalog_id=c.id
        WHERE mc.merchant_id=#{id}
    </select>

</mapper>
