<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.InvoiceLadderPriceDao">

    <resultMap id="invoiceLadderPriceDetailVO" type="com.example.mybatis.vo.InvoiceLadderPriceDetailVO">
        <id column="start_money" property="startMoney" />
        <result column="end_money" property="endMoney" />
        <result column="rate" property="rate" />
    </resultMap>

   <select id="queryInvoiceLadderPriceDetailVOList" resultMap="invoiceLadderPriceDetailVO">
        SELECT t1.start_money, t1.end_money, t1.rate FROM tb_invoice_ladder_price t1 INNER JOIN tb_tax_package t2 ON t1.tax_package_id = t2.id
        WHERE IF(t2.package_status = 0, t1.packaeg_status = 4, t1.packaeg_status = 5) AND t1.tax_package_id = #{taxPackageId} ORDER BY t1.start_money ASC
    </select>

</mapper>
