<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.InvoiceCatalogDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatis.entity.InvoiceCatalog">
        <result column="id" property="id" />
        <result column="service_type" property="serviceType" />
        <result column="service_content" property="serviceContent" />
        <result column="billing_category" property="billingCategory" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, service_type, service_content, billing_category
    </sql>

</mapper>
