<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.InvoiceListDao">
  <resultMap id="BaseResultMap" type="com.example.mybatis.entity.InvoiceList">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="invoice_id" jdbcType="VARCHAR" property="invoiceId" />
    <result column="maker_total_invoice_id" jdbcType="VARCHAR" property="makerTotalInvoiceId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, invoice_id, maker_total_invoice_id
  </sql>

</mapper>