<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.InvoiceLadderPriceDao">

    <resultMap id="invoiceLadderPriceDetailVO" type="com.example.mybatis.vo.InvoiceLadderPriceDetailVO">
        <id column="start_money" property="startMoney" />
        <result column="end_money" property="endMoney" />
        <result column="rate" property="rate" />
    </resultMap>

   <select id="queryInvoiceLadderPriceDetailVOList" resultMap="invoiceLadderPriceDetailVO">
        SELECT t1.start_money, t1.end_money, t1.packaeg_status, t1.status, t1.rate FROM tb_invoice_ladder_price t1 WHERE t1.tax_package_id = #{taxPackageId} ORDER BY t1.packaeg_status, t1.status ,t1.start_money ASC
    </select>

</mapper>
