<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.InvoiceDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatis.entity.Invoice">
        <id column="id" property="id" />
        <result column="application_id" property="applicationId" />
        <result column="invoice_code" property="invoiceCode" />
        <result column="invoice_print_date" property="invoicePrintDate" />
        <result column="invoice_number" property="invoiceNumber" />
        <result column="invoice_codeNo" property="invoiceCodeNo" />
        <result column="invoice_print_person" property="invoicePrintPerson" />
        <result column="application_invoice_person" property="applicationInvoicePerson" />
        <result column="invoice_numbers" property="invoiceNumbers" />
        <result column="invoice_money" property="invoiceMoney" />
        <result column="invoice_catalog_id" property="invoiceCatalog" />
        <result column="invoice_url" property="invoiceUrl" />
        <result column="tax_receipt_url" property="taxReceiptUrl" />
        <result column="express_sheet_no" property="expressSheetNo" />
        <result column="express_company_name" property="expressCompanyName" />
        <result column="express_update_datetime" property="expressUpdateDatetime" />
        <result column="express_update_person" property="expressUpdatePerson" />
        <result column="express_update_person_tel" property="expressUpdatePersonTel" />
        <result column="invoice_desc" property="invoiceDesc" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <resultMap id="InvoiceVo" type="com.example.mybatis.vo.InvoiceVO">
        <id column="id" property="id"/>
        <result column="application_id" property="applicationId"/>
        <result column="invoice_code" property="invoiceCode"/>
        <result column="company_s_name" property="companySName"/>
        <result column="platform_service_provider" property="platformServiceProvider"/>
        <result column="application_desc" property="applicationDesc"/>
        <result column="application_state" property="applicationState"/>
        <result column="invoice_print_date" property="invoicePrintDate"/>
        <result column="invoice_url" property="invoiceUrl"/>
        <result column="tax_receipt_url" property="taxReceiptUrl"/>
        <result column="is_invoice" property="isInvoice"/>
        <collection property="list" ofType="com.example.mybatis.vo.OrderSubpackageVO">
            <result column="pid" property="id"/>
            <result column="payment_inventory" property="paymentInventory"/>
            <result column="subpackage_payment" property="subpackagePayment"/>
        </collection>
    </resultMap>

    <resultMap id="InvInfo" type="com.example.mybatis.vo.InvoiceInformationVO">
        <result column="id" property="invAppId"/>
        <result column="invoice_catalog_type" property="invoiceCatalogType"/>
        <result column="application_desc" property="applicationDesc"/>
        <result column="application_address" property="applicationAddress"/>
        <result column="invoice_url" property="invoiceUrl"/>
        <result column="tax_receipt_url" property="taxReceiptUrl"/>
        <result column="express_company_name" property="expressCompanyName"/>
        <result column="express_sheet_no" property="expressSheetNo"/>
    </resultMap>

    <resultMap id="PlaInvInfo" type="com.example.mybatis.vo.PlaInvoiceInfoVO">
        <result column="invoice_catalog_type" property="invoiceCatalogType"/>
        <result column="application_desc" property="applicationDesc"/>
        <result column="application_address" property="applicationAddress"/>
    </resultMap>

    <resultMap id="SubList" type="com.example.mybatis.vo.ToSubcontractInvoiceVO">
        <id column="id" property="id"/>
        <result column="company_s_name" property="companySName"/>
        <result column="platform_service_provider" property="platformServiceProvider"/>
        <result column="invoice_url" property="invoiceUrl"/>
        <result column="tax_receipt_url" property="taxReceiptUrl"/>
        <result column="is_subpackage" property="isSubpackage"/>
        <result column="payment_date" property="paymentDate"/>
        <collection property="list" ofType="com.example.mybatis.vo.OrderSubpackageVO">
            <result column="pid" property="id"/>
            <result column="payment_inventory" property="paymentInventory"/>
            <result column="subpackage_payment" property="subpackagePayment"/>
        </collection>
    </resultMap>

    <resultMap id="InvoiceListQuery" type="com.example.mybatis.vo.InvoiceListVO">
        <id column="id" property="id"/>
        <result column="worker_id" property="workerId"/>
        <result column="worker_name" property="workerName"/>
        <result column="mobile_code" property="mobileCode"/>
        <result column="id_card_code" property="idCardCode"/>
        <result column="bank_code" property="bankCode"/>
        <result column="real_money" property="realMoney"/>
        <result column="task_money" property="taskMoney"/>
        <result column="tax_id" property="taxId"/>
        <result column="recevice_tax" property="receviceTax"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, application_id, invoice_code, invoice_print_date, invoice_number, invoice_codeNo, invoice_print_person, application_invoice_person, invoice_numbers, invoice_money, invoice_catalog_id, invoice_url, tax_receipt_url, express_sheet_no, express_company_name, express_update_datetime, express_update_person, express_update_person_tel, invoice_desc, create_date, update_date
    </sql>

    <resultMap id="InvoiceMoney" type="com.example.mybatis.po.InvoicePO">
        <result column="count" property="count" />
        <result column="total_money" property="totalMoney" />
    </resultMap>

    <resultMap id="resultTotal" type="com.example.mybatis.po.InvoicePO">
        <result column="package_status" property="packageStatus"/>
        <result column="total_money" property="totalMoney"/>
        <result column="count" property="count"/>
    </resultMap>

    <!--查询总包的发票数量和发票金额-->
    <select id="selectInvoiceMoney" parameterType="string" resultMap="InvoiceMoney">
        select SUM(d.invoice_numbers) 'count', SUM(d.invoice_money) 'total_money' from tb_company_info a RIGHT JOIN tb_payment_order b on a.id = b.company_id
        RIGHT join
        (select * from tb_application_payment
        GROUP BY invoice_application_id)
        c on b.id = c.payment_order_id
        join tb_invoice d on c.invoice_application_id = d.application_id
        where a.id = #{merchantId}
    </select>

    <select id="selectInvoiceMoneyPaas" parameterType="string" resultMap="InvoiceMoney">
        select SUM(d.invoice_numbers) 'count', SUM(d.invoice_money) 'total_money' from tb_company_info a RIGHT JOIN tb_payment_order b on a.id = b.company_id
        RIGHT join
        (select * from tb_application_payment
        GROUP BY invoice_application_id)
        c on b.id = c.payment_order_id
        join tb_invoice d on c.invoice_application_id = d.application_id
        where a.id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

<!--    <select id="selectTotalpaas" resultMap="resultTotal" parameterType="list">-->
<!--        select package_status ,SUM(invoice_money) 'total_money' , COUNT(*) 'count' FROM tb_invoice-->
<!--        WHERE merchant_id in-->
<!--        <foreach collection="list" index="index" item="merchantIds" open="(" separator="," close=")">-->
<!--            #{merchantIds}-->
<!--        </foreach>-->
<!--        GROUP BY package_status-->
<!--    </select>-->


    <resultMap id="TobeInvoiced" type="com.example.mybatis.vo.TobeinvoicedVO">
        <id column="id" property="invoiceApplicationId"/>
        <result column="company_s_name" property="companySName"/>
        <result column="platform_service_provider" property="platformServiceProvider"/>
        <result column="application_desc" property="applicationDesc"/>
        <result column="is_invoice" property="isInvoice"/>
        <result column="application_date" property="applicationDate"/>
        <collection property="list" ofType="com.example.mybatis.vo.OrderSubpackageVO">
            <result column="pid" property="id"/>
            <result column="payment_inventory" property="paymentInventory"/>
            <result column="subpackage_payment" property="subpackagePayment"/>
        </collection>
    </resultMap>
    <select id="selectTobeinvoiced" resultMap="TobeInvoiced">
        SELECT
        invapp.id,
        po.company_s_name,
        po.platform_service_provider,
        invapp.application_desc,
        po.is_invoice,
        invapp.application_date,
        po.id as pid,
        po.payment_inventory,
        po.subpackage_payment
        FROM tb_payment_order AS po
        LEFT JOIN tb_application_payment AS app ON app.payment_order_id = po.id
        LEFT JOIN tb_invoice_application as invapp ON invapp.id=app.invoice_application_id
        LEFT JOIN tb_invoice as i ON i.application_id=invapp.id
        WHERE po.payment_order_status = 6 and is_not_invoice is null
        AND po.company_id=#{param3}
        <if test="param2.platformServiceProvider != null and param2.platformServiceProvider != ''">
            AND po.tax_id=#{param2.platformServiceProvider}
        </if>
        <if test="param2.applicationDateOne != null and param2.applicationDateOne != ''">
            AND invapp.application_date>=#{param2.applicationDateOne}
        </if>
        <if test="param2.applicationDateTwo != null and param2.applicationDateTwo != ''">
            AND invapp.application_date <![CDATA[<=]]> #{param2.applicationDateTwo}
        </if>
        ORDER BY invapp.application_date DESC
    </select>

    <select id="getInvoiceList" resultMap="InvoiceVo">
        SELECT
        i.id,
        i.application_id,
        i.invoice_code,
        po.company_s_name,
        po.platform_service_provider,
        invapp.application_desc,
        invapp.application_state,
        i.invoice_print_date,
        i.invoice_url,
        i.tax_receipt_url,
        po.is_invoice,
        po.id as pid,
        po.payment_inventory,
        po.turnkey_project_payment
        FROM tb_payment_order AS po
        LEFT JOIN tb_application_payment AS app ON app.payment_order_id = po.id
        LEFT JOIN tb_invoice_application as invapp ON invapp.id=app.invoice_application_id
        LEFT JOIN tb_invoice as i ON i.application_id=invapp.id
        WHERE po.payment_order_status = 6 and invapp.application_state = 3
         AND po.company_id=#{param3}
        <if test="param2.platformServiceProvider != null and param2.platformServiceProvider != ''">
            AND po.platform_service_provider=#{param2.platformServiceProvider}
        </if>
        <if test="param2.applicationDateOne != null and param2.applicationDateOne != ''">
            AND invapp.application_date>=#{param2.applicationDateOne}
        </if>
        <if test="param2.applicationDateTwo != null and param2.applicationDateTwo != ''">
            AND invapp.application_date <![CDATA[<=]]> #{param2.applicationDateTwo}
        </if>
        ORDER BY i.invoice_print_date DESC
    </select>

    <select id="getInvInfoById" resultMap="InvInfo">
        SELECT invapp.invoice_catalog_type,	invapp.id,invapp.application_desc,invapp.application_address,i.invoice_url,i.tax_receipt_url,i.express_company_name,i.express_sheet_no
        FROM tb_invoice as i
        INNER JOIN tb_invoice_application as invapp ON i.application_id=invapp.id
        WHERE i.id=#{invId}
    </select>


    <resultMap id="invoiceListVo" type="com.example.mybatis.vo.PlaInvoiceListVO">
        <result column="invoice_application_id" property="invoiceApplicationId"/>
        <result column="company_s_name" property="companySName"/>
        <result column="platform_service_provider" property="platformServiceProvider"/>
        <result column="application_desc" property="applicationDesc"/>
        <result column="application_state" property="applicationState"/>
        <result column="application_date" property="applicationDate"/>
        <result column="is_invoice" property="isInvoice"/>
        <collection property="payVo" ofType="com.example.mybatis.vo.PayVO">
            <id column="pid" property="pId"/>
            <result column="payment_inventory" property="paymentTnventory"/>
            <result column="subpackage_payment" property="subpackagePayment"/>
        </collection>

    </resultMap>

    <select id="getPlaInvoiceList" resultMap="invoiceListVo">
        SELECT
        app.invoice_application_id,
        po.company_s_name,
        po.platform_service_provider,
        invapp.application_desc,
        invapp.application_state,
        invapp.application_date,
        po.is_invoice,
        po.id as pid,
        po.payment_inventory,
        po.subpackage_payment
        FROM
	    tb_invoice_application invapp
        INNER JOIN tb_application_payment app ON app.invoice_application_id = invapp.id
        INNER JOIN tb_payment_order po ON po.id = app.payment_order_id
        WHERE invapp.application_state != 3
        <if test="tobeinvoicedDto.companySName != null and tobeinvoicedDto.companySName != ''">
            AND po.company_s_name like CONCAT('%',#{tobeinvoicedDto.companySName},'%')
        </if>
        <if test="tobeinvoicedDto.platformServiceProvider != null and tobeinvoicedDto.platformServiceProvider != ''">
            AND po.tax_id=#{tobeinvoicedDto.platformServiceProvider}
        </if>
        <if test="tobeinvoicedDto.applicationDateOne != null and tobeinvoicedDto.applicationDateOne != ''">
            AND invapp.application_date>=#{tobeinvoicedDto.applicationDateOne}
        </if>
        <if test="tobeinvoicedDto.applicationDateTwo != null and tobeinvoicedDto.applicationDateTwo != ''">
            AND invapp.application_date <![CDATA[<=]]> #{tobeinvoicedDto.applicationDateTwo}
        </if>
        order by invapp.application_date desc
    </select>


    <select id="getPlaInvoiceInfo" resultMap="PlaInvInfo">
        SELECT invoice_catalog_type,application_desc,application_address
        FROM tb_invoice_application
        WHERE id=#{applicationId}
    </select>

    <select id="getInvoiceCode" resultType="java.lang.String">
        select invoice_code from tb_invoice
        where create_date in
        (select MAX(create_date) from tb_invoice)
    </select>


    <select id="getListInvoicequery" resultMap="InvoiceVo">
        SELECT i.id,i.application_id,i.invoice_code,po.company_s_name,po.platform_service_provider,po.is_invoice,ia.application_desc,i.invoice_url,
        i.tax_receipt_url,ia.application_state,i.invoice_print_date,po.id as pid,po.payment_inventory,po.turnkey_project_payment
        FROM tb_invoice as i
        INNER JOIN tb_invoice_application as ia ON i.application_id=ia.id
        INNER JOIN tb_application_payment as ap ON ia.id = ap.invoice_application_id
        INNER JOIN tb_payment_order as po ON ap.payment_order_id=po.id
        WHERE ia.application_state=3
        <if test="tobeinvoicedDto.companySName != null and tobeinvoicedDto.companySName != ''">
            AND po.company_s_name like CONCAT('%',#{tobeinvoicedDto.companySName},'%')
        </if>
        <if test="tobeinvoicedDto.platformServiceProvider != null and tobeinvoicedDto.platformServiceProvider != ''">
            AND po.tax_id=#{tobeinvoicedDto.platformServiceProvider}
        </if>
        <if test="tobeinvoicedDto.applicationDateOne != null and tobeinvoicedDto.applicationDateOne != ''">
            AND ia.application_date>=#{tobeinvoicedDto.applicationDateOne}
        </if>
        <if test="tobeinvoicedDto.applicationDateTwo != null and tobeinvoicedDto.applicationDateTwo != ''">
            AND ia.application_date <![CDATA[<=]]> #{tobeinvoicedDto.applicationDateTwo}
        </if>
        order by i.invoice_print_date desc
    </select>

    <select id="getListSubQuery" resultMap="SubList">
        SELECT i.id,po.company_s_name,po.platform_service_provider,i.invoice_url,i.tax_receipt_url,po.is_subpackage,po.payment_date,po.id as pid,po.payment_inventory,po.turnkey_project_payment
        FROM tb_invoice as i
        INNER JOIN tb_invoice_application as ia ON i.application_id=ia.id
        INNER JOIN tb_application_payment as ap ON ap.invoice_application_id=ia.id
        INNER JOIN tb_payment_order as po ON po.id=ap.payment_order_id
        WHERE ia.application_state = 3 AND po.is_subpackage=0
        <if test="tobeinvoicedDto.companySName != null and tobeinvoicedDto.companySName != ''">
            AND po.company_s_name like CONCAT('%',#{tobeinvoicedDto.companySName},'%')
        </if>
        <if test="tobeinvoicedDto.platformServiceProvider != null and tobeinvoicedDto.platformServiceProvider != ''">
            AND po.tax_id=#{tobeinvoicedDto.platformServiceProvider}
        </if>
        <if test="tobeinvoicedDto.applicationDateOne != null and tobeinvoicedDto.applicationDateOne != ''">
            AND invapp.application_date>=#{tobeinvoicedDto.applicationDateOne}
        </if>
        <if test="tobeinvoicedDto.applicationDateTwo != null and tobeinvoicedDto.applicationDateTwo != ''">
            AND invapp.application_date <![CDATA[<=]]> #{tobeinvoicedDto.applicationDateTwo}
        </if>
        order by i.invoice_print_date desc
    </select>

      <select id="getInvoiceListQuery" parameterType="string" resultMap="InvoiceListQuery">
        SELECT pi.id,pi.worker_id,pi.worker_name,pi.mobile_code,pi.id_card_code,pi.bank_code,pi.real_money,pi.task_money,po.tax_id,po.recevice_tax
        FROM tb_invoice as i
        INNER JOIN tb_invoice_application as ia ON ia.id=i.application_id
        INNER JOIN tb_application_payment as ap ON ap.invoice_application_id=ia.id
        INNER JOIN tb_payment_order as po ON po.id=ap.payment_order_id
        INNER JOIN tb_payment_inventory as pi ON pi.payment_order_id=po.id
        WHERE i.id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!--查询总包的发票数量和发票金额-->
    <select id="selectInvoiceMoneyPaasTax" parameterType="string" resultMap="InvoiceMoney">
        select SUM(d.invoice_numbers) 'count', SUM(d.invoice_money) 'total_money' from tb_payment_order b
        RIGHT join
        (select * from tb_application_payment
        GROUP BY invoice_application_id)
        c on b.id = c.payment_order_id
        join tb_invoice d on c.invoice_application_id = d.application_id
        where b.tax_id = #{taxId}
    </select>

    <!--查询总包的发票数量和发票金额-->
    <select id="selectInvoiceMoneyPaasRegultor" parameterType="string" resultMap="InvoiceMoney">
        select SUM(d.invoice_numbers) 'count', SUM(d.invoice_money) 'total_money' from tb_payment_order b
        RIGHT join
        (select * from tb_application_payment
        GROUP BY invoice_application_id)
        c on b.id = c.payment_order_id
        join tb_invoice d on c.invoice_application_id = d.application_id
        where b.tax_id in
        <foreach collection="taxIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <resultMap id="InvoiceInfoPO" type="com.example.mybatis.po.InvoiceInfoPO">
        <result column="invoice_url" property="invoiceUrl"/>
        <result column="maker_invoice_url" property="makerInvoiceUrl"/>
        <result column="express_company_name" property="expressCompanyName"/>
        <result column="express_sheet_no" property="expressSheetNo"/>
    </resultMap>

    <select id="selectInvoiceInfoPO" resultMap="InvoiceInfoPO">
        SELECT
            i.invoice_url,
            i.express_company_name,
            i.express_sheet_no,
            mti.maker_invoice_url
        FROM
            tb_payment_order po
        INNER JOIN tb_application_payment ap ON ap.payment_order_id = po.id
        INNER JOIN tb_invoice_application ia ON ia.id = ap.invoice_application_id
        INNER JOIN tb_invoice i ON i.application_id = ia.id
        INNER JOIN tb_invoice_list il ON il.invoice_id = i.id
        INNER JOIN tb_maker_total_invoice mti ON mti.id = il.maker_total_invoice_id
        WHERE
	        po.id = #{paymentOrderId}
        LIMIT 0,1
    </select>

    <select id="selectInvoiceListPayId" resultType="java.lang.String">
        SELECT
            payment_order_id
        FROM
            tb_application_payment
        WHERE invoice_application_id=#{applicationId}
    </select>

</mapper>
