<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.InvoiceDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatis.entity.Invoice">
        <id column="id" property="id" />
        <result column="application_id" property="applicationId" />
        <result column="invoice_code" property="invoiceCode" />
        <result column="invoice_print_date" property="invoicePrintDate" />
        <result column="invoice_number" property="invoiceNumber" />
        <result column="invoice_codeNo" property="invoiceCodeno" />
        <result column="invoice_print_person" property="invoicePrintPerson" />
        <result column="application_invoice_person" property="applicationInvoicePerson" />
        <result column="invoice_numbers" property="invoiceNumbers" />
        <result column="invoice_money" property="invoiceMoney" />
        <result column="invoice_catalog_id" property="invoiceCatalogId" />
        <result column="invoice_url" property="invoiceUrl" />
        <result column="tax_receipt_url" property="taxReceiptUrl" />
        <result column="express_sheet_no" property="expressSheetNo" />
        <result column="express_company_name" property="expressCompanyName" />
        <result column="express_update_datetime" property="expressUpdateDatetime" />
        <result column="express_update_person" property="expressUpdatePerson" />
        <result column="express_update_person_tel" property="expressUpdatePersonTel" />
        <result column="invoice_desc" property="invoiceDesc" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, application_id, invoice_code, invoice_print_date, invoice_number, invoice_codeNo, invoice_print_person, application_invoice_person, invoice_numbers, invoice_money, invoice_catalog_id, invoice_url, tax_receipt_url, express_sheet_no, express_company_name, express_update_datetime, express_update_person, express_update_person_tel, invoice_desc, create_date, update_date
    </sql>


    <resultMap id="InvoiceMoney" type="com.example.mybatis.po.InvoicePO">
        <result column="count" property="count" />
        <result column="total_money" property="totalMoney" />
    </resultMap>

    <!--查询总包的发票数量和发票金额-->
    <select id="selectInvoiceMoney" parameterType="string" resultMap="InvoiceMoney">
        select SUM(d.invoice_numbers) 'count', SUM(d.invoice_money) 'total_money' from tb_merchant a RIGHT JOIN tb_payment_order b on a.id = b.merchant_id
        RIGHT join
        (select * from tb_application_payment
        GROUP BY invoice_application_id)
        c on b.id = c.payment_order_id
        join tb_invoice d on c.invoice_application_id = d.application_id
        where a.id = #{merchantId}
    </select>

    <select id="selectInvoiceMoneyPaas" parameterType="string" resultMap="InvoiceMoney">
        select SUM(d.invoice_numbers) 'count', SUM(d.invoice_money) 'total_money' from tb_merchant a RIGHT JOIN tb_payment_order b on a.id = b.merchant_id
        RIGHT join
        (select * from tb_application_payment
        GROUP BY invoice_application_id)
        c on b.id = c.payment_order_id
        join tb_invoice d on c.invoice_application_id = d.application_id
        where a.id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


</mapper>
