<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.MakerTotalInvoiceDao">
  <resultMap id="BaseResultMap" type="com.example.mybatis.entity.MakerTotalInvoice">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="invoice_type_no" jdbcType="VARCHAR" property="invoiceTypeNo" />
    <result column="invoice_serial_no" jdbcType="VARCHAR" property="invoiceSerialNo" />
    <result column="invoice_date" jdbcType="TIMESTAMP" property="invoiceDate" />
    <result column="invoice_category" jdbcType="VARCHAR" property="invoiceCategory" />
    <result column="total_amount" jdbcType="DOUBLE" property="totalAmount" />
    <result column="tax_amount" jdbcType="DOUBLE" property="taxAmount" />
    <result column="invoice_person" jdbcType="VARCHAR" property="invoicePerson" />
    <result column="sale_company" jdbcType="VARCHAR" property="saleCompany" />
    <result column="maker_invoice_desc" jdbcType="VARCHAR" property="makerInvoiceDesc" />
    <result column="maker_invoice_url" jdbcType="VARCHAR" property="makerInvoiceUrl" />
    <result column="maker_tax_url" jdbcType="VARCHAR" property="makerTaxUrl" />
    <result column="maker_voice_upload_date_time" jdbcType="TIMESTAMP" property="makerVoiceUploadDateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, invoice_type_no, invoice_serial_no, invoice_date, invoice_category,
    total_amount, sales_amount, tax_amount, invoice_person, sale_company, maker_invoice_desc,
    maker_invoice_url, maker_tax_url, maker_voice_upload_date_time, create_time, update_time
  </sql>

  <resultMap id="MakerTotalInvoiceVo" type="com.example.mybatis.vo.MakerTotalInvoiceVO">
        <id property="id" column="id"/>
        <result property="companyId" column="company_id"/>
        <result property="companySName" column="company_s_name"/>
        <result property="taxId" column="tax_id"/>
        <result property="platformServiceProvider" column="platform_service_provider"/>
        <result property="invoiceUrl" column="invoice_url"/>
        <result property="taxReceiptUrl" column="tax_receipt_url"/>
        <result property="makerInvoiceUrl" column="maker_invoice_url"/>
        <result property="makerTaxUrl" column="maker_tax_url"/>
        <result property="isSubpackage" column="is_subpackage"/>
        <result property="createDate" column="create_date"/>
      <collection property="payVOList" ofType="com.example.mybatis.vo.PayVO">
            <id property="pId" column="pid"/>
            <result property="paymentTnventory" column="payment_inventory"/>
            <result property="subpackagePayment" column="turnkey_project_payment"/>
       </collection>
   </resultMap>

  <select id="queryMakerTotalInvoice" resultMap="MakerTotalInvoiceVo">
    SELECT
        mti.id,
        po.company_id,
        po.company_s_name,
        po.tax_id,
        po.platform_service_provider,
        i.invoice_url,
        i.tax_receipt_url,
        mti.maker_invoice_url,
        mti.maker_tax_url,
        po.is_subpackage,
        mti.create_date,
        po.id AS pid,
        po.payment_inventory,
        po.turnkey_project_payment
    FROM
        tb_maker_total_invoice mti
    INNER JOIN tb_invoice_list il ON il.maker_total_invoice_id = mti.id
    INNER JOIN tb_invoice i ON i.id = il.invoice_id
    INNER JOIN tb_invoice_application ia ON ia.id = i.application_id
    INNER JOIN tb_application_payment ap ON ap.invoice_application_id = ia.id
    INNER JOIN tb_payment_order po ON po.id = ap.payment_order_id
    where 1=1
    <if test="param2.companyId != null and param2.companyId != ''">
        AND po.company_id=#{param2.companyId}
    </if>
    <if test="param2.platformServiceProvider != null and param2.platformServiceProvider != ''">
        AND po.tax_id=#{param2.platformServiceProvider}
    </if>
    <if test="param2.applicationDateOne != null and param2.applicationDateOne != ''">
        AND mti.invoice_date>=#{param2.applicationDateOne}
    </if>
    <if test="param2.applicationDateTwo != null and param2.applicationDateTwo != ''">
        AND mti.invoice_date <![CDATA[<=]]> #{param2.applicationDateTwo}
    </if>
  </select>
</mapper>