<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.MenuDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatis.entity.Menu">
        <id column="id" property="id"/>
        <result column="menu_name" property="menuName"/>
        <result column="menu_parent" property="menuParent"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, menu_name, menu_parent, create_date, update_date
    </sql>

    <resultMap id="MenuList" type="com.example.mybatis.vo.MenuListVO">
        <id column="id" property="id"/>
        <result column="menu_name" property="menuName"/>
        <result column="menu_zhname" property="menuZhname"/>
        <collection property="list" ofType="com.example.mybatis.entity.Menu">
            <id column="ids" property="id"/>
            <result column="NAME" property="menuName"/>
            <result column="zhname" property="menuZhname"/>
        </collection>
    </resultMap>

    <!--商户端-->
    <select id="getMenuList" resultMap="MenuList">
        SELECT
            me.id,
            me.menu_name,
            me.menu_zhname,
            mes.id AS ids,
            mes.menu_name AS NAME,
            mes.menu_zhname AS zhname
        FROM
            tb_menu me
        LEFT JOIN tb_menu mes ON me.id = mes.menu_parent
        WHERE
            me.menu_parent IS NULL
        AND me.is_merchant != 1
        ORDER BY
            me.id ASC
    </select>


    <select id="getPlatformMenuList" resultMap="MenuList">
        SELECT
            me.id,
            me.menu_name,
            me.menu_zhname,
            mes.id AS ids,
            mes.menu_name AS NAME,
            mes.menu_zhname AS zhname
        FROM
            tb_menu me
        LEFT JOIN tb_menu mes ON me.id = mes.menu_parent
        WHERE
            me.menu_parent IS NULL
        AND me.is_merchant != 2
        ORDER BY
            me.id ASC
    </select>

    <select id="getAgentMenuList" resultMap="MenuList">
        SELECT
            me.id,
            me.menu_name,
            me.menu_zhname,
            mes.id AS ids,
            mes.menu_name AS NAME,
            mes.menu_zhname AS zhname
        FROM
            tb_menu me
        LEFT JOIN tb_menu mes ON me.id = mes.menu_parent
        WHERE
            me.menu_parent IS NULL
        AND me.is_merchant != 2
        AND me.id IN (1, 2, 3, 4, 12, 5, 7)
        ORDER BY
            me.id ASC
    </select>
</mapper>
