<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.MerchantDao">

    <resultMap id="BuyerById" type="com.example.mybatis.vo.BuyerVO">
        <result column="company_name" property="companyName"/>
        <result column="credit_code" property="creditCode"/>
        <result column="address_and_telephone" property="addressAndTelephone"/>
        <result column="bank_and_account" property="bankAndAccount"/>
    </resultMap>

    <resultMap type="com.example.mybatis.vo.TodayVO" id="dayTradeVO">
        <result property="oneHourIncome" column="one_hour_income"/>
        <result property="twoHourIncome" column="two_hour_income"/>
        <result property="threeHourIncome" column="three_hour_income"/>
        <result property="fourHourIncome" column="four_hour_income"/>
        <result property="fiveHourIncome" column="five_hour_income"/>
        <result property="sixHourIncome" column="six_hour_income"/>
        <result property="sevenHourIncome" column="seven_hour_income"/>
        <result property="eightHourIncome" column="eight_hour_income"/>
        <result property="nineHourIncome" column="nine_hour_income"/>
        <result property="tenHourIncome" column="ten_hour_income"/>
        <result property="elevenHourIncome" column="eleven_hour_income"/>
        <result property="twelveHourIncome" column="twelve_hour_income"/>
        <result property="thirteenHourIncome" column="thirteen_hour_income"/>
        <result property="fourteenHourIncome" column="fourteen_hour_income"/>
        <result property="fifteenHourIncome" column="fifteen_hour_income"/>
        <result property="sixteenHourIncome" column="sixteen_hour_income"/>
        <result property="seventeenHourIncome" column="seventeen_hour_income"/>
        <result property="eighteenHourIncome" column="eighteen_hour_income"/>
        <result property="nineteenHourIncome" column="nineteen_hour_income"/>
        <result property="twentyHourIncome" column="twenty_hour_income"/>
        <result property="twentyOneHourIncome" column="twenty_one_hour_income"/>
        <result property="twentyTwoHourIncome" column="twenty_two_hour_income"/>
        <result property="twentyThreeHourIncome" column="twenty_three_hour_income"/>
        <result property="twentyFourHourIncome" column="twenty_four_hour_income"/>
    </resultMap>

    <resultMap type="com.example.mybatis.vo.WeekTradeVO" id="weekTradeVO">
        <result property="monIncome" column="mon_income"/>
        <result property="tueIncome" column="tue_income"/>
        <result property="wedIncome" column="wed_income"/>
        <result property="thuIncome" column="thu_income"/>
        <result property="friIncome" column="fri_income"/>
        <result property="satIncome" column="sat_income"/>
        <result property="sunIncome" column="sun_income"/>
    </resultMap>

    <resultMap type="com.example.mybatis.vo.MonthTradeVO" id="monthTradeVO">
        <result property="oneDayIncome" column="one_day_income"/>
        <result property="twoDayIncome" column="two_day_income"/>
        <result property="threeDayIncome" column="three_day_income"/>
        <result property="fourDayIncome" column="four_day_income"/>
        <result property="fiveDayIncome" column="five_day_income"/>
        <result property="sixDayIncome" column="six_day_income"/>
        <result property="sevenDayIncome" column="seven_day_income"/>
        <result property="eightDayIncome" column="eight_day_income"/>
        <result property="nineDayIncome" column="nine_day_income"/>
        <result property="tenDayIncome" column="ten_day_income"/>
        <result property="elevenDayIncome" column="eleven_day_income"/>
        <result property="twelveDayIncome" column="twelve_day_income"/>
        <result property="thirteenDayIncome" column="thirteen_day_income"/>
        <result property="fourteenDayIncome" column="fourteen_day_income"/>
        <result property="fifteenDayIncome" column="fifteen_day_income"/>
        <result property="sixteenDayIncome" column="sixteen_day_income"/>
        <result property="seventeenDayIncome" column="seventeen_day_income"/>
        <result property="eighteenDayIncome" column="eighteen_day_income"/>
        <result property="nineteenDayIncome" column="nineteen_day_income"/>
        <result property="twentyDayIncome" column="twenty_day_income"/>
        <result property="twentyOneDayIncome" column="twenty_one_day_income"/>
        <result property="twentyTwoDayIncome" column="twenty_two_day_income"/>
        <result property="twentyThreeDayIncome" column="twenty_three_day_income"/>
        <result property="twentyFourDayIncome" column="twenty_four_day_income"/>
        <result property="twentyFiveDayIncome" column="twenty_five_day_income"/>
        <result property="twentySixDayIncome" column="twenty_six_day_income"/>
        <result property="twentySevenDayIncome" column="twenty_seven_day_income"/>
        <result property="twentyEightDayIncome" column="twenty_eight_day_income"/>
        <result property="twentyNineDayIncome" column="twenty_nine_day_income"/>
        <result property="thirtyDayIncome" column="thirty_day_income"/>
        <result property="thirtyOneDayIncome" column="thirty_one_day_income"/>
    </resultMap>


    <resultMap type="com.example.mybatis.vo.YearTradeVO" id="yearTradeVO">
        <result property="janIncome" column="jan_income"/>
        <result property="febIncome" column="feb_income"/>
        <result property="marIncome" column="mar_income"/>
        <result property="aprIncome" column="apr_income"/>
        <result property="mayIncome" column="may_income"/>
        <result property="junIncome" column="jun_income"/>
        <result property="julIncome" column="jul_income"/>
        <result property="augIncome" column="aug_income"/>
        <result property="sepIncome" column="sep_income"/>
        <result property="octIncome" column="oct_income"/>
        <result property="novIncome" column="nov_income"/>
        <result property="decIncome" column="dec_income"/>
    </resultMap>

    <resultMap id="TaxTransactionFlowVOMap" type="com.example.mybatis.vo.TaxTransactionFlowVO">
        <result column="company_id" property="companyId"/>
        <result column="merchant_id" property="merchantId"/>
        <result column="tax_id" property="taxId"/>
        <result column="company_name" property="merchantName"/>
        <result column="tax_name" property="taxName"/>
        <result column="total_package_money" property="totalPackageMoney"/>
        <result column="many_package_money" property="manyPackageMoney"/>
        <result column="total_package_count" property="totalPackageCount"/>
        <result column="many_package_count" property="manyPackageCount"/>
        <result column="cooperation_state" property="cooperationState"/>
        <result column="start_cooperation_date" property="startCooperationDate"/>
        <result column="lately_cooperation_date" property="latelyCooperationDate"/>
    </resultMap>

    <resultMap id="IdAndName" type="com.example.mybatis.vo.MerchantListVO">
        <id column="id" property="id"/>
        <result column="company_name" property="companyName"/>
    </resultMap>

    <select id="getIdAndName" resultMap="IdAndName">
        select id,company_name from tb_merchant
    </select>

    <select id="getNameById" resultType="java.lang.String">
        SELECT company_name FROM tb_merchant WHERE id= #{id}
    </select>

    <select id="getBuyerById" resultMap="BuyerById">
        SELECT
            m.company_name,
            ci.credit_code,
            ci.address_and_telephone,
            ci.bank_and_account
        FROM
            tb_merchant AS m
        LEFT JOIN tb_company_info AS ci ON m.company_id = ci.id
        WHERE m.id=#{id}
    </select>


    <!--平台端-->

    <resultMap id="MerchantInfoPo" type="com.example.mybatis.po.MerchantInfoPo">
        <id column="id" property="merchantId"/>
        <result column="company_name" property="merchantName"/>
        <result column="link_name" property="linkName"/>
        <result column="link_mobile" property="linkMobile"/>
        <result column="structure" property="structure"/>
        <result column="contract" property="contract"/>
        <result column="company_status" property="status"/>
        <result column="create_date" property="createDate"/>
    </resultMap>

    <resultMap id="MerchantPaymentList" type="com.example.mybatis.po.MerchantPaymentListPO">
        <id column="payment_order_id" property="paymentOrderId"/>
        <result column="merchant_name" property="merchantName"/>
        <result column="tax_name" property="taxName"/>
        <result column="package_status" property="packageStatus"/>
        <result column="real_money" property="realMoney"/>
        <result column="is_invoice" property="isInvoice"/>
        <result column="payment_date" property="paymentDate"/>
    </resultMap>

    <!--查询商户-->
    <select id="selectMerchantInfoPo" resultMap="MerchantInfoPo" parameterType="list">
        SELECT
            a.id,
            a.company_name,
            b.link_name,
            b.link_mobile,
            (
                CASE
                WHEN a.agent_id IS NULL THEN
                    (
                        SELECT
                            real_name
                        FROM
                            tb_managers
                        WHERE
                            id = a.sales_man_id
                    )
                ELSE
                    CONCAT(
                        (
                            SELECT
                                real_name
                            FROM
                                tb_managers
                            WHERE
                                id = a.sales_man_id
                        ),
                        '/',
                        (
                            SELECT
                                real_name
                            FROM
                                tb_managers c
                            INNER JOIN tb_agent d ON c.id = d.managers_id
                            WHERE
                                c.id = a.agent_id
                        )
                    )
                END
            ) structure,
            a.contract,
            a.company_status,
            a.create_date
        FROM
            tb_company_info a
        LEFT JOIN tb_linkman b ON a.id = b.company_id
        AND b.is_not = 0
        <where>
            a.id in
            <foreach collection="merchantIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            and a.audit_status = #{auditStatus}
            <if test="merchantId != null and merchantId != ''">
                and a.company_id = #{merchantId}
            </if>
            <if test="merchantName != null and merchantName != ''">
                and a.company_name = CONCAT('%',#{merchantName},'%')
            </if>
            <if test="linkMobile != null and linkMobile != ''">
                and b.link_mobile = #{linkMobile}
            </if>
        </where>
        order by a.create_date desc
    </select>

    <!--商户支付列表-->
    <select id="selectMerchantPaymentList" parameterType="list" resultMap="MerchantPaymentList">
        select * from tb_merchant_payment_list
        where company_id = #{merchantId}
        ORDER BY payment_date desc
    </select>

    <select id="selectTaxMerchantPaymentList" parameterType="list" resultMap="MerchantPaymentList">
        SELECT
	        payment_order_id, company_id, merchant_name, tax_name, package_status, real_money, is_invoice, payment_date
        FROM
	(
		SELECT
			b.id AS payment_order_id,
			b.company_id AS company_id,
			b.company_s_name AS merchant_name,
			b.platform_service_provider AS tax_name,
			b.tax_id AS tax_id,
			(
				CASE
				WHEN isnull(b.id) THEN
					1
				ELSE
					0
				END
			) AS package_status,
			b.real_money AS real_money,
			b.is_invoice AS is_invoice,
			b.payment_date AS payment_date
		FROM
			(
				tb_payment_order b
				LEFT JOIN tb_merchant a ON (
					(a.company_id = b.company_id)
				)
			)
		UNION
			SELECT
				b.id AS payment_order_id,
				b.company_id AS company_id,
				b.company_s_name AS merchant_name,
				b.platform_service_provider AS tax_name,
				b.tax_id AS tax_id,
				(
					CASE
					WHEN isnull(b.id) THEN
						0
					ELSE
						1
					END
				) AS package_status,
				b.real_money AS real_money,
				b.is_application AS is_invoice,
				b.payment_date AS payment_date
			FROM
				(
					tb_payment_order_many b
					LEFT JOIN tb_merchant a ON (
						(a.company_id = b.company_id)
					)
				)
	) AS tmp where tmp.company_id = #{merchantId} and tmp.tax_id = #{taxId}
    </select>

    <select id="getTodayById" resultMap="dayTradeVO" >
        SELECT
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 1,
                        real_money,
                        0
                    )
                ),
                0
            ) AS one_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 2,
                        real_money,
                        0
                    )
                ),
                0
            ) AS two_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 3,
                        real_money,
                        0
                    )
                ),
                0
            ) AS three_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 4,
                        real_money,
                        0
                    )
                ),
                0
            ) AS four_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 5,
                        real_money,
                        0
                    )
                ),
                0
            ) AS five_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 6,
                        real_money,
                        0
                    )
                ),
                0
            ) AS six_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 7,
                        real_money,
                        0
                    )
                ),
                0
            ) AS seven_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 8,
                        real_money,
                        0
                    )
                ),
                0
            ) AS eight_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 9,
                        real_money,
                        0
                    )
                ),
                0
            ) AS nine_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 10,
                        real_money,
                        0
                    )
                ),
                0
            ) AS ten_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 11,
                        real_money,
                        0
                    )
                ),
                0
            ) AS eleven_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 12,
                        real_money,
                        0
                    )
                ),
                0
            ) AS twelve_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 13,
                        real_money,
                        0
                    )
                ),
                0
            ) AS thirteen_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 14,
                        real_money,
                        0
                    )
                ),
                0
            ) AS fourteen_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 15,
                        real_money,
                        0
                    )
                ),
                0
            ) AS fifteen_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 16,
                        real_money,
                        0
                    )
                ),
                0
            ) AS sixteen_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 17,
                        real_money,
                        0
                    )
                ),
                0
            ) AS seventeen_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 18,
                        real_money,
                        0
                    )
                ),
                0
            ) AS eighteen_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 19,
                        real_money,
                        0
                    )
                ),
                0
            ) AS nineteen_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 20,
                        real_money,
                        0
                    )
                ),
                0
            ) AS twenty_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 21,
                        real_money,
                        0
                    )
                ),
                0
            ) AS twenty_one_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 22,
                        real_money,
                        0
                    )
                ),
                0
            ) AS twenty_two_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 23,
                        real_money,
                        0
                    )
                ),
                0
            ) AS twenty_three_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 0,
                        real_money,
                        0
                    )
                ),
                0
            ) AS twenty_four_hour_income
        FROM
            tb_payment_order
        WHERE
            payment_order_status = 6
        AND DATE(payment_date) = DATE(NOW())
        AND company_id =#{merchantId}
    </select>

    <select id="getWeekTradeById" resultMap="weekTradeVO">
        SELECT
            IFNULL(
                SUM(

                    IF (
                        WEEKDAY(payment_date) = 0,
                        real_money,
                        0
                    )
                ),
                0
            ) AS mon_income,
            IFNULL(
                SUM(

                    IF (
                        WEEKDAY(payment_date) = 1,
                        real_money,
                        0
                    )
                ),
                0
            ) AS tue_income,
            IFNULL(
                SUM(

                    IF (
                        WEEKDAY(payment_date) = 2,
                        real_money,
                        0
                    )
                ),
                0
            ) AS wed_income,
            IFNULL(
                SUM(

                    IF (
                        WEEKDAY(payment_date) = 3,
                        real_money,
                        0
                    )
                ),
                0
            ) AS thu_income,
            IFNULL(
                SUM(

                    IF (
                        WEEKDAY(payment_date) = 4,
                        real_money,
                        0
                    )
                ),
                0
            ) AS fri_income,
            IFNULL(
                SUM(

                    IF (
                        WEEKDAY(payment_date) = 5,
                        real_money,
                        0
                    )
                ),
                0
            ) AS sat_income,
            IFNULL(
                SUM(

                    IF (
                        WEEKDAY(payment_date) = 6,
                        real_money,
                        0
                    )
                ),
                0
            ) AS sun_income
        FROM
            tb_payment_order
        WHERE
            payment_order_status = 6
        AND WEEK (payment_date) = WEEK (NOW())
        AND company_id = #{merchantId}
    </select>
    <select id="getMonthTradeById" resultMap="monthTradeVO">
        SELECT IFNULL(SUM(IF(DAY(payment_date) = 1, real_money, 0)), 0) AS one_day_income, IFNULL(SUM(IF(DAY(payment_date) = 2, real_money, 0)), 0) AS two_day_income,
        IFNULL(SUM(IF(DAY(payment_date) = 3, real_money, 0)), 0) AS three_day_income, IFNULL(SUM(IF(DAY(payment_date) = 4, real_money, 0)), 0) AS four_day_income,
        IFNULL(SUM(IF(DAY(payment_date) = 5, real_money, 0)), 0) AS five_day_income, IFNULL(SUM(IF(DAY(payment_date) = 6, real_money, 0)), 0) AS six_day_income,
        IFNULL(SUM(IF(DAY(payment_date) = 7, real_money, 0)), 0) AS seven_day_income, IFNULL(SUM(IF(DAY(payment_date) = 8, real_money, 0)), 0) AS eight_day_income,
        IFNULL(SUM(IF(DAY(payment_date) = 9, real_money, 0)), 0) AS nine_day_income, IFNULL(SUM(IF(DAY(payment_date) = 10, real_money, 0)), 0) AS ten_day_income,
        IFNULL(SUM(IF(DAY(payment_date) = 11, real_money, 0)), 0) AS eleven_day_income, IFNULL(SUM(IF(DAY(payment_date) = 12, real_money, 0)), 0) AS twelve_day_income,
        IFNULL(SUM(IF(DAY(payment_date) = 13, real_money, 0)), 0) AS thirteen_day_income, IFNULL(SUM(IF(DAY(payment_date) = 14, real_money, 0)), 0) AS fourteen_day_income,
        IFNULL(SUM(IF(DAY(payment_date) = 15, real_money, 0)), 0) AS fifteen_day_income, IFNULL(SUM(IF(DAY(payment_date) = 16, real_money, 0)), 0) AS sixteen_day_income,
        IFNULL(SUM(IF(DAY(payment_date) = 17, real_money, 0)), 0) AS seventeen_day_income, IFNULL(SUM(IF(DAY(payment_date) = 18, real_money, 0)), 0) AS eighteen_day_income,
        IFNULL(SUM(IF(DAY(payment_date) = 19, real_money, 0)), 0) AS nineteen_day_income, IFNULL(SUM(IF(DAY(payment_date) = 20, real_money, 0)), 0) AS twenty_day_income,
        IFNULL(SUM(IF(DAY(payment_date) = 21, real_money, 0)), 0) AS twenty_one_day_income, IFNULL(SUM(IF(DAY(payment_date) = 22, real_money, 0)), 0) AS twenty_two_day_income,
        IFNULL(SUM(IF(DAY(payment_date) = 23, real_money, 0)), 0) AS twenty_three_day_income, IFNULL(SUM(IF(DAY(payment_date) = 24, real_money, 0)), 0) AS twenty_four_day_income,
		IFNULL(SUM(IF(DAY(payment_date) = 25, real_money, 0)), 0) AS twenty_five_day_income, IFNULL(SUM(IF(DAY(payment_date) = 26, real_money, 0)), 0) AS twenty_six_day_income,
        IFNULL(SUM(IF(DAY(payment_date) = 27, real_money, 0)), 0) AS twenty_seven_day_income, IFNULL(SUM(IF(DAY(payment_date) = 28, real_money, 0)), 0) AS twenty_eight_day_income,
        IF(DAY(LAST_DAY(NOW())) >= 29, IFNULL(SUM(IF(DAY(payment_date) = 29, real_money, 0)), 0), NULL) AS twenty_nine_day_income,
        IF(DAY(LAST_DAY(NOW())) >= 30, IFNULL(SUM(IF(DAY(payment_date) = 30, real_money, 0)), 0), NULL) AS thirty_day_income,
		IF(DAY(LAST_DAY(NOW())) >= 31, IFNULL(SUM(IF(DAY(payment_date) = 31, real_money, 0)), 0), NULL) AS thirty_one_day_income
        FROM tb_payment_order WHERE payment_order_status=6 AND YEAR(payment_date) = YEAR(NOW())
		AND MONTH(payment_date) = MONTH(NOW()) AND company_id = #{merchantId}
    </select>

    <select id="getYearTradeById" resultMap="yearTradeVO">
        SELECT IFNULL(SUM(IF(MONTH(payment_date) = 1, real_money, 0)), 0) AS jan_income, IFNULL(SUM(IF(MONTH(payment_date) = 2, real_money, 0)), 0) AS feb_income,
        IFNULL(SUM(IF(MONTH(payment_date) = 3, real_money, 0)), 0) AS mar_income, IFNULL(SUM(IF(MONTH(payment_date) = 4, real_money, 0)), 0) AS apr_income,
        IFNULL(SUM(IF(MONTH(payment_date) = 5, real_money, 0)), 0) AS may_income, IFNULL(SUM(IF(MONTH(payment_date) = 6, real_money, 0)), 0) AS jun_income,
        IFNULL(SUM(IF(MONTH(payment_date) = 7, real_money, 0)), 0) AS jul_income, IFNULL(SUM(IF(MONTH(payment_date) = 8, real_money, 0)), 0) AS aug_income,
        IFNULL(SUM(IF(MONTH(payment_date) = 9, real_money, 0)), 0) AS sep_income, IFNULL(SUM(IF(MONTH(payment_date) = 10, real_money, 0)), 0) AS oct_income,
        IFNULL(SUM(IF(MONTH(payment_date) = 11, real_money, 0)), 0) AS nov_income, IFNULL(SUM(IF(MONTH(payment_date) = 12, real_money, 0)), 0) AS dec_income
        FROM tb_payment_order WHERE payment_order_status=6 AND YEAR(payment_date) = YEAR(NOW()) AND company_id =#{merchantId}
    </select>


    <select id="queryMerchantTransactionFlow" resultMap="TaxTransactionFlowVOMap">
        SELECT
        t1.id as tax_id ,
        t3.id as company_id,
        t4.id as merchant_id,
        t1.tax_name,
        t3.company_name,
        IFNULL((SELECT SUM(real_money) from tb_payment_order where tax_id = t1.id and company_id = t3.id AND payment_order_status=6),0) as total_package_money,
        IFNULL((SELECT SUM(real_money) from tb_payment_order_many where tax_id = t1.id and company_id = t3.id AND payment_order_status=3),0) as many_package_money,
        (SELECT COUNT(id) from tb_payment_order where tax_id = t1.id and company_id = t3.id) as total_package_count,
        (SELECT COUNT(id) from tb_payment_order where tax_id = t1.id and company_id = t3.id) as total_package_count,
        (SELECT COUNT(id) from tb_payment_order_many where tax_id = t1.id and company_id = t3.id) as many_package_count,
        1 as cooperation_state,
        (SELECT create_date from tb_company_tax WHERE company_id=t3.id AND tax_id=t1.id GROUP BY company_id) as start_cooperation_date,
        if(DATE_FORMAT((SELECT create_date FROM tb_payment_order where tax_id = t1.id and company_id = t3.id ORDER BY create_date desc LIMIT 1), 'MM-dd-yyyy hh:mm:ss') > DATE_FORMAT((SELECT create_date FROM tb_payment_order_many where tax_id = t1.id and company_id = t3.id ORDER BY create_date desc LIMIT 1), 'MM-dd-yyyy hh:mm:ss'),(SELECT create_date FROM tb_payment_order where tax_id = t1.id and company_id = t3.id ORDER BY create_date desc LIMIT 1),(SELECT create_date FROM tb_payment_order_many where tax_id = t1.id and company_id = t3.id ORDER BY create_date desc LIMIT 1)) as lately_cooperation_date
        FROM
        tb_tax t1
        INNER JOIN tb_company_tax t2 on t2.tax_id = t1.id
        INNER JOIN tb_company_info t3 on t3.id = t2.company_id
        INNER JOIN tb_merchant t4 on t3.id = t4.company_id
        where t3.id = #{param1}
    </select>

    <select id="queryMainMerchantloginMobile" resultType="java.lang.String">
        SELECT t1.login_mobile FROM tb_merchant t1 INNER JOIN tb_company_info t2 ON t1.company_id = t2.id WHERE t1.company_id = #{companyId} AND t1.parent_id = 0 LIMIT 1
    </select>

</mapper>
