<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.MerchantRoleDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatis.entity.MerchantRole">
        <id column="id" property="id" />
        <result column="role_name" property="roleName" />
        <result column="role_position" property="rolePosition"/>
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <resultMap id="MenuById" type="com.example.mybatis.entity.Menu">
        <id column="mid" property="id"/>
        <result column="menu_name" property="menuName"/>
        <result column="menu_zhname" property="menuZhname"/>
        <result column="menu_parent" property="menuParent"/>
        <result column="mcreate_date" property="createDate"/>
        <result column="mupdate_date" property="updateDate"/>
    </resultMap>

    <resultMap id="Rolemenu" type="com.example.mybatis.vo.RoleMenuVo">
        <id column="id" property="merchantId"/>
        <result column="parent_id" property="parentId"/>
        <result column="real_name" property="realNmae"/>
        <result column="role_position" property="rolePosition"/>
        <result column="user_name" property="userName"/>
        <result column="login_mobile" property="loginMoblie"/>
        <result column="status" property="statue"/>
        <result column="create_date" property="createDate"/>
        <collection property="list" ofType="com.example.mybatis.entity.Menu">
            <id column="mid" property="id"/>
            <result column="menu_name" property="menuName"/>
            <result column="menu_zhname" property="menuZhname"/>
            <result column="menu_parent" property="menuParent"/>
            <result column="mcreate_date" property="createDate"/>
            <result column="mupdate_date" property="updateDate"/>
        </collection>
    </resultMap>

    <select id="getMenuById" resultType="string">
        SELECT m.menu_name
        FROM tb_merchant_role_menu mrm
        INNER JOIN tb_menu m ON m.id=mrm.menu_id
        INNER JOIN tb_merchant_role mr ON mr.id=mrm.merchant_role_id
        WHERE mr.id=#{MerchantId}
    </select>

    <select id="getRolemenu" resultMap="Rolemenu">
        SELECT m.id,m.parent_id,m.real_name,mr.role_position,m.user_name,m.login_mobile,m.status,m.create_date,me.id as mid,me.menu_name,me.menu_zhname,me.create_date as mcreate_date,me.update_date as mupdate_date
        FROM tb_merchant m
        INNER JOIN tb_merchant_role mr ON m.role_id=mr.id
        INNER JOIN tb_merchant_role_menu mrm ON mrm.merchant_role_id=mr.id
        INNER JOIN tb_menu me ON mrm.menu_id=me.id
        where m.id=#{merchantId} or m.parent_id = #{merchantId}
    </select>

    <select id="getPassRolemenu" resultMap="Rolemenu">
        SELECT m.id,m.parent_id,m.real_name,mr.role_position,m.user_name,m.mobile_code as login_mobile,m.status,m.create_date,me.id as mid,me.menu_name,me.menu_zhname,me.create_date as mcreate_date,me.update_date as mupdate_date
        FROM tb_managers m
        INNER JOIN tb_merchant_role mr ON m.role_id=mr.id
        INNER JOIN tb_merchant_role_menu mrm ON mrm.merchant_role_id=mr.id
        INNER JOIN tb_menu me ON mrm.menu_id=me.id
        WHERE m.id=#{managersId} OR m.parent_id=#{managersId}
    </select>

</mapper>
