<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.MerchantDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatis.entity.Merchant">
        <id column="id" property="id" />
        <result column="company_id" property="companyId" />
        <result column="company_name" property="companyName" />
        <result column="role_id" property="roleId" />
        <result column="user_name" property="userName" />
        <result column="pay_pwd" property="payPwd" />
        <result column="real_name" property="realName" />
        <result column="pass_word" property="passWord" />
        <result column="sales_man_id" property="salesManId" />
        <result column="agent_id" property="agentId" />
        <result column="login_mobile" property="loginMobile" />
        <result column="audit_status" property="auditStatus" />
        <result column="status" property="status" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, company_id,company_name, role_id, user_name, pay_pwd, real_name, pass_word, sales_man_id, agent_id, login_mobile, status, create_date, update_date
    </sql>


    <select id="findByID" resultMap="BaseResultMap">
        select * from tb_merchant where id=#{id}
    </select>

    <resultMap id="IdAndName" type="com.example.mybatis.vo.MerchantListVo">
        <id column="id" property="id" />
        <result column="company_name" property="companyName" />
    </resultMap>

    <select id="getIdAndName" resultMap="IdAndName">
        select id,company_name from tb_merchant
    </select>

    <select id="getNameById" resultType="java.lang.String">
        SELECT company_name FROM tb_merchant WHERE id=#{id}
    </select>





    <!--平台端-->

    <resultMap id="MerchantInfoPo" type="com.example.mybatis.po.MerchantInfoPo">
        <id column="id" property="merchantId" />
        <result column="company_name" property="merchantName" />
        <result column="link_name" property="linkName" />
        <result column="link_mobile" property="linkMobile" />
        <result column="structure" property="structure" />
        <result column="contract" property="contract" />
        <result column="status" property="status" />
        <result column="create_date" property="createDate" />
    </resultMap>

    <resultMap id="MerchantPaymentList" type="com.example.mybatis.po.MerchantPaymentListPO">
        <id column="payment_order_id" property="paymentOrderId" />
        <result column="merchant_name" property="merchantName" />
        <result column="tax_name" property="taxName" />
        <result column="package_status" property="packageStatus" />
        <result column="real_money" property="realMoney" />
        <result column="is_invoice" property="isInvoice" />
        <result column="payment_sate" property="paymentDate" />
    </resultMap>

    <!--查询商户-->
    <select id="selectMerchantInfoPo" resultMap="MerchantInfoPo" parameterType="list">
        SELECT a.id , a.company_name, b.link_name, b.link_mobile,
        (case when a.agent_id is null then '业务员' else '业务员/代理商' end) structure,
        c.contract, a.`status`, a.create_date
        from tb_merchant a
        LEFT JOIN tb_linkman b on a.id = b.merchant_id
        LEFT JOIN tb_company_info c on a.company_id = c.id
        <where>
            a.id in
            <foreach collection="merchantIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            and a.audit_status = #{auditStatus}
            and b.is_not = 0
            <if test="merchantId != null and merchantId != ''">
                and a.id like  CONCAT('%',#{merchantId},'%')
            </if>
            <if test="merchantName != null and merchantName != ''">
                and a.company_name like  CONCAT('%',#{merchantName},'%')
            </if>
            <if test="linkMobile != null and linkMobile != ''">
                and b.link_mobile like  CONCAT('%',#{linkMobile},'%')
            </if>
        </where>
    </select>

    <!--商户支付列表-->
    <select id="selectMerchantPaymentList" parameterType="list" resultMap="MerchantPaymentList">
        select * from tb_merchant_payment_list
        where merchant_id = #{merchantId}
        ORDER BY payment_date desc
    </select>

</mapper>
