<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.ObjectMenuDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatis.entity.ObjectMenu">
        <id column="id" property="id" />
        <result column="menu_id" property="menuId" />
        <result column="object_user_id" property="objectUserId" />
    </resultMap>

     <resultMap id="Rolemenu" type="com.example.mybatis.vo.RoleMenuVO">
        <id column="id" property="merchantId"/>
        <result column="parent_id" property="parentId"/>
        <result column="real_name" property="realNmae"/>
        <result column="user_name" property="userName"/>
        <result column="role_name" property="roleName"/>
        <result column="login_mobile" property="loginMoblie"/>
        <result column="status" property="statue"/>
        <result column="create_date" property="createDate"/>
        <collection property="list" ofType="com.example.mybatis.entity.Menu">
            <id column="mid" property="id"/>
            <result column="menu_name" property="menuName"/>
            <result column="menu_zhname" property="menuZhname"/>
            <result column="mcreate_date" property="createDate"/>
            <result column="mupdate_date" property="updateDate"/>
        </collection>
    </resultMap>

    <resultMap id="RolemenuPass" type="com.example.mybatis.vo.RoleMenuPassVO">
        <id column="id" property="managersId"/>
        <result column="parent_id" property="parentId"/>
        <result column="real_name" property="realNmae"/>
        <result column="user_name" property="userName"/>
        <result column="role_name" property="roleName"/>
        <result column="mobile_code" property="loginMoblie"/>
        <result column="STATUS" property="statue"/>
        <result column="create_date" property="createDate"/>
        <collection property="list" ofType="com.example.mybatis.entity.Menu">
            <id column="mid" property="id"/>
            <result column="menu_name" property="menuName"/>
            <result column="menu_zhname" property="menuZhname"/>
            <result column="mcreate_date" property="createDate"/>
            <result column="mupdate_date" property="updateDate"/>
        </collection>
    </resultMap>

    <resultMap id="passRolemenu" type="com.example.mybatis.vo.QueryPassRolemenuVO">
        <id column="id" property="managersId"/>
        <result column="real_name" property="realNmae"/>
        <result column="user_name" property="userName"/>
        <result column="role_name" property="roleName"/>
        <result column="mobile_code" property="loginMoblie"/>
        <collection property="list" ofType="com.example.mybatis.vo.MenuVO">
            <id column="mid" property="id"/>
            <result column="menu_name" property="menuName"/>
            <result column="menu_zhname" property="menuZhname"/>
        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, menu_id, merchant_role_id
    </sql>

    <select id="getMenuById" resultType="java.lang.String">
        SELECT m.menu_name
        FROM tb_object_menu om
        INNER JOIN tb_menu m ON m.id=om.menu_id
        WHERE om.object_user_id=#{userId}
    </select>

    <select id="getRolemenu" resultMap="Rolemenu">
        SELECT m.id,m.parent_id,m.real_name,m.role_name,m.user_name,m.login_mobile,m.status,m.create_date,me.id as mid,me.menu_name,me.menu_zhname,me.create_date as mcreate_date,me.update_date as mupdate_date
        FROM tb_merchant m
        LEFT JOIN tb_object_menu om ON om.object_user_id=m.id
        LEFT JOIN tb_menu me ON om.menu_id=me.id
        where m.id=#{userId} or m.parent_id=#{userId}
    </select>

    <select id="getPassRolemenu" resultMap="RolemenuPass">
        SELECT
            m.id,
            m.role_name,
            m.parent_id,
            m.real_name,
            m.user_name,
            m.mobile_code,
            m. STATUS,
            m.create_date,
            me.id AS mid,
            me.menu_name,
            me.menu_zhname,
            me.create_date AS mcreate_date,
            me.update_date AS mupdate_date
        FROM
            tb_managers m
        LEFT JOIN tb_object_menu om ON om.object_user_id = m.id
        OR om.object_user_id = m.parent_id
        LEFT JOIN tb_menu me ON om.menu_id = me.id
        where m.id=#{userId} or m.parent_id=#{userId}
    </select>

    <select id="queryPassRolemenu" resultMap="passRolemenu">
        SELECT
                m.id,
                m.role_name,
                m.parent_id,
                m.real_name,
                m.user_name,
                m.mobile_code,
                me.id AS mid,
                me.menu_name,
                me.menu_zhname
            FROM
                tb_managers m
            LEFT JOIN tb_object_menu om ON om.object_user_id = m.id
            LEFT JOIN tb_menu me ON om.menu_id = me.id
            where m.id=#{userId}
    </select>
    <delete id="deleteMenu">
           DELETE
        FROM
            tb_object_menu
        WHERE
            object_user_id =#{managerId}
    </delete>

</mapper>
