<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.PaymentOrderManyDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatis.entity.PaymentOrderMany">
        <id column="id" property="id" />
        <result column="merchant_id" property="merchantId" />
        <result column="company_s_name" property="companySName" />
        <result column="real_money" property="realMoney" />
        <result column="tax_id" property="taxId" />
        <result column="platform_service_provider" property="platformServiceProvider" />
        <result column="company_contract" property="companyContract" />
        <result column="payment_inventory" property="paymentInventory" />
        <result column="many_payment" property="manyPayment" />
        <result column="task_id" property="taskId" />
        <result column="acceptance_certificate" property="acceptanceCertificate" />
        <result column="tax_status" property="taxStatus" />
        <result column="composite_tax" property="compositeTax" />
        <result column="merchant_tax" property="merchantTax" />
        <result column="recevice_tax" property="receviceTax" />
        <result column="payment_order_status" property="paymentOrderStatus" />
        <result column="payment_date" property="paymentDate" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, merchant_id, company_s_name, real_money, tax_id, platform_service_provider, company_contract, payment_inventory, many_payment, task_id, acceptance_certificate, composite_tax, merchant_tax, recevice_tax, payment_order_status, payment_date, create_date, update_date
    </sql>

    <!--查询众包30天总支付-->
    <select id="selectBy30Day" parameterType="java.lang.String" resultType="decimal" >
        select SUM(real_money) 'total_money' from tb_payment_order_many where
        date_sub(curdate(), INTERVAL 30 DAY) &lt;= date(`payment_date`)
        and payment_order_status = 2 and merchant_id = #{merchantId}
    </select>

    <!--查询众包总支付-->
    <select id="selectTotal" parameterType="java.lang.String" resultType="decimal" >
        select SUM(real_money) 'total_money' from tb_payment_order_many where
        payment_order_status = 2 and merchant_id = #{merchantId}
    </select>

    <!--查询今天已支付的订单-->
    <select id="selectDay" parameterType="list" resultMap="BaseResultMap">
        select * from tb_payment_order_many where to_days(payment_date) = to_days(now())
        and payment_order_status = 2 and merchant_id = #{merchantId}
    </select>

    <!--查询本周已支付的订单-->
    <select id="selectWeek" parameterType="list" resultMap="BaseResultMap">
      SELECT * FROM tb_payment_order_many WHERE YEARWEEK(date_format(payment_date,'%Y-%m-%d')) = YEARWEEK(now())
      and payment_order_status = 2 and merchant_id = #{merchantId}
    </select>

    <!--查询本月已支付的订单-->
    <select id="selectMonth" parameterType="list" resultMap="BaseResultMap">
        SELECT * FROM tb_payment_order_many WHERE DATE_FORMAT( payment_date, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
        and payment_order_status = 2 and merchant_id = #{merchantId}
    </select>

    <!--查询今年已支付的订单-->
    <select id="selectYear" parameterType="list" resultMap="BaseResultMap">
         select * from `tb_payment_order_many` where YEAR(payment_date)=YEAR(NOW())
         and payment_order_status = 2 and merchant_id = #{merchantId}
    </select>

    <!--多条件查询-->
    <select id="selectMany" resultMap="BaseResultMap" parameterType="list">
        select
        id,company_s_name, platform_service_provider, company_contract, payment_inventory, many_payment, task_id, acceptance_certificate,payment_order_status, create_date
        from tb_payment_order_many
        <where>
            merchant_id = #{merchantId}
            <if test="id != null and id!=''">
                and id = #{id}
            </if>
            <if test="taxId != null and taxId!=''">
                and tax_id = #{taxId}
            </if>
            <if test="beginDate != null and beginDate!=''">
                and date(create_date) &gt;= #{beginDate}
            </if>
            <if test="endDate != null and endDate!=''">
                and date(create_date) &lt;= #{endDate}
            </if>
        </where>
        LIMIT #{page},#{pageSize}
    </select>

    <!--总记录数-->
    <select id="selectManyCount" parameterType="int" resultType="int" >
        select COUNT(1) from tb_payment_order_many
        <where>
            merchant_id = #{merchantId}
            <if test="id != null and id!=''">
                and id = #{id}
            </if>
            <if test="taxId != null and taxId!=''">
                and tax_id = #{taxId}
            </if>
            <if test="beginDate != null and beginDate!=''">
                and date(create_date) &gt;= #{beginDate}
            </if>
            <if test="endDate != null and endDate!=''">
                and date(create_date) &lt;= #{endDate}
            </if>
        </where>
    </select>

    <resultMap id="ListCSIByID" type="com.example.mybatis.vo.CrowdSourcingInvoiceVo">
        <result column="company_s_name" property="companySName"/>
        <result column="platform_service_provider" property="platformServiceProvider"/>
        <result column="id" property="id"/>
        <result column="payment_inventory" property="paymentInventory"/>
        <result column="many_payment" property="manyPayment"/>
        <result column="application_date" property="applicationDate"/>
        <result column="is_application" property="isApplication"/>
    </resultMap>

    <select id="getListCSIByID" resultMap="ListCSIByID">
        SELECT pom.company_s_name,pom.platform_service_provider,
        pom.id,pom.payment_inventory,pom.many_payment,csi.application_date,pom.is_application
        FROM tb_payment_order_many as pom
        LEFT JOIN tb_crowd_sourcing_application as csi ON csi.payment_order_many_id=pom.id
        WHERE pom.payment_order_status=3
        <if test="merchantId != null and merchantId != ''">
            AND pom.merchant_id=#{merchantId}
        </if>
        <if test="platformServiceProvider != null and platformServiceProvider != ''">
            AND pom.platform_service_provider=#{platformServiceProvider}
        </if>
        <if test="applicationDateOne != null and applicationDateOne != ''">
            AND csi.invapp.application_date>={applicationDate}
        </if>
        <if test="applicationDateTwo != null and applicationDateTwo != ''">
            AND csi.invapp.application_date <![CDATA[<=]]> {applicationDate}
        </if>
    </select>

    <resultMap id="PayOrderManyById" type="com.example.mybatis.vo.PaymentOrderManyVo">
        <result column="id" property="id"/>
        <result column="company_s_name" property="companySName"/>
        <result column="platform_service_provider" property="platformServiceProvider"/>
        <result column="acceptance_certificate" property="acceptanceCertificate"/>
        <result column="payment_order_status" property="paymentOrderStatus"/>
        <result column="payment_inventory" property="paymentInventory"/>
        <result column="payment_date" property="paymentDate"/>
        <result column="subpackage_payment" property="subpackagePayment"/>
        <result column="real_money" property="realMoney"/>
        <association property="taskVo" javaType="com.example.mybatis.vo.TaskVo">
            <result column="task_code" property="taskCode"/>
            <result column="task_name" property="taskName"/>
            <result column="release_date" property="releaseDate"/>
            <result column="deadline_date" property="deadlineDate"/>
            <result column="industry_type" property="industryType"/>
        </association>
    </resultMap>

    <select id="getPayOrderManyById" resultMap="PayOrderManyById">
        SELECT pom.id,pom.company_s_name,pom.platform_service_provider,pom.payment_inventory,
        pom.acceptance_certificate,pom.many_payment,pom.payment_order_status,pom.payment_date,pom.real_money,
        t.task_code,t.task_name,t.release_date,t.deadline_date,t.industry_type
        FROM tb_payment_order_many as pom
        LEFT JOIN tb_task as t ON pom.task_id=t.id
        WHERE pom.id=#{id}
    </select>

    <resultMap id="InvoiceDetailsByPayId" type="com.example.mybatis.vo.InvoiceDetailsVo">
        <result column="worker_id" property="workerId"/>
        <result column="worker_name" property="workerName"/>
        <result column="mobile_code" property="mobileCode"/>
        <result column="id_card_code" property="idCardCode"/>
        <result column="bank_code" property="bankCode"/>
        <result column="real_money" property="realMoney"/>
    </resultMap>


    <select id="getInvoiceDetailsByPayId" resultMap="InvoiceDetailsByPayId">
        SELECT  worker_id,worker_name,mobile_code,id_card_code,bank_code,real_money
        FROM tb_payment_inventory
        WHERE payment_order_id=#{id}
    </select>




    <!--平台端的查询。。。。。。。。。。。。。-->

    <!--    查询最近30天-->
    <select id="selectBy30Daypaas" parameterType="list" resultType="decimal">
        select SUM(real_money) 'total_money' from tb_payment_order_many where
        date_sub(curdate(), INTERVAL 30 DAY) &lt;= date(`payment_date`)
        and payment_order_status &gt;= 2 and merchant_id in
        <foreach collection="list" index="index" item="merchantIds" open="(" separator="," close=")">
            #{merchantIds}
        </foreach>
    </select>

    <!--查询总支付-->
    <select id="selectTotalpaas" parameterType="list" resultType="decimal">
        select SUM(real_money) 'total_money' from tb_payment_order_many where
        payment_order_status &gt;= 2 and merchant_id in
        <foreach collection="list" index="index" item="merchantIds" open="(" separator="," close=")">
            #{merchantIds}
        </foreach>
    </select>



    <!--查询今天已支付订单-->
    <select id="selectDaypaas" parameterType="list" resultMap="BaseResultMap">
        select * from tb_payment_order_many where to_days(payment_date) = to_days(now())
        and payment_order_status &gt;= 2 and merchant_id in
        <foreach collection="list" index="index" item="merchantIds" open="(" separator="," close=")">
            #{merchantIds}
        </foreach>
    </select>

    <!--查询本周已支付的订单-->
    <select id="selectWeekpaas" parameterType="list" resultMap="BaseResultMap">
        SELECT * FROM tb_payment_order_many WHERE YEARWEEK(date_format(payment_date,'%Y-%m-%d')) = YEARWEEK(now())
        and payment_order_status &gt;= 2 and merchant_id in
        <foreach collection="list" index="index" item="merchantIds" open="(" separator="," close=")">
            #{merchantIds}
        </foreach>
    </select>

    <!--查询本月已支付的订单-->
    <select id="selectMonthpaas" parameterType="list" resultMap="BaseResultMap">
        SELECT * FROM tb_payment_order_many WHERE DATE_FORMAT( payment_date, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
        and payment_order_status &gt;= 2 and merchant_id in
        <foreach collection="list" index="index" item="merchantIds" open="(" separator="," close=")">
            #{merchantIds}
        </foreach>
    </select>

    <!--查询今年已支付的订单-->
    <select id="selectYearpaas" parameterType="list" resultMap="BaseResultMap">
        select * from tb_payment_order_many where YEAR(payment_date)=YEAR(NOW())
        and payment_order_status &gt;= 2 and merchant_id in
        <foreach collection="list" index="index" item="merchantIds" open="(" separator="," close=")">
            #{merchantIds}
        </foreach>
    </select>

    <!--多条件查询-->
    <select id="selectManyPaas" resultMap="BaseResultMap" parameterType="list">
        select
        id,company_s_name, platform_service_provider, company_contract, payment_inventory, many_payment, task_id, acceptance_certificate,payment_order_status, create_date
        from tb_payment_order_many
        <where>
            merchant_id in
            <foreach collection="merchantIds" index="index" item="merchantIds" open="(" separator="," close=")">
                #{merchantIds}
            </foreach>
            <if test="merchantName != null and merchantName!=''">
                and company_name = #{merchantName}
            </if>
            <if test="taxId != null and taxId!=''">
                and tax_id = #{taxId}
            </if>
            <if test="beginDate != null and beginDate!=''">
                and date(create_date) &gt;= #{beginDate}
            </if>
            <if test="endDate != null and endDate!=''">
                and date(create_date) &lt;= #{endDate}
            </if>
        </where>
        LIMIT #{page},#{pageSize}
    </select>

    <!--总记录数-->
    <select id="selectManyCountPaas" parameterType="int" resultType="int" >
        select COUNT(1) from tb_payment_order_many
        <where>
            merchant_id in
            <foreach collection="merchantIds" index="index" item="merchantIds" open="(" separator="," close=")">
                #{merchantIds}
            </foreach>
            <if test="merchantName != null and merchantName!=''">
                and company_name = #{merchantName}
            </if>
            <if test="taxId != null and taxId!=''">
                and tax_id = #{taxId}
            </if>
            <if test="beginDate != null and beginDate!=''">
                and date(create_date) &gt;= #{beginDate}
            </if>
            <if test="endDate != null and endDate!=''">
                and date(create_date) &lt;= #{endDate}
            </if>
        </where>
    </select>

    <!--    查询最近30天-->
    <select id="selectBy30DayPaasTax" parameterType="list" resultType="decimal">
        select SUM(real_money) 'total_money' from tb_payment_order where
        date_sub(curdate(), INTERVAL 30 DAY) &lt;= date(`payment_date`)
        and payment_order_status &gt;= 2
        and tax_id = #{taxId}
    </select>

    <!--查询总支付-->
    <select id="selectTotalPaasTax" parameterType="list" resultType="decimal">
        select SUM(real_money) 'total_money' from tb_payment_order where
        payment_order_status &gt;= 2
        and tax_id = #{taxId}
    </select>



</mapper>
