<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.PaymentOrderDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatis.entity.PaymentOrder">
        <id column="id" property="id"/>
        <result column="company_id" property="companyId"/>
        <result column="company_s_name" property="companySName"/>
        <result column="real_money" property="realMoney"/>
        <result column="worker_money" property="workerMoney"/>
        <result column="tax_id" property="taxId"/>
        <result column="platform_service_provider" property="platformServiceProvider"/>
        <result column="company_contract" property="companyContract"/>
        <result column="payment_inventory" property="paymentInventory"/>
        <result column="turnkey_project_payment" property="turnkeyProjectPayment"/>
        <result column="subpackage_payment" property="subpackagePayment"/>
        <result column="task_id" property="taskId"/>
        <result column="task_name" property="taskName"/>
        <result column="task_type" property="taskType"/>
        <result column="acceptance_certificate" property="acceptanceCertificate"/>
        <result column="tax_status" property="taxStatus"/>
        <result column="composite_tax" property="compositeTax"/>
        <result column="merchant_tax" property="merchantTax"/>
        <result column="recevice_tax" property="receviceTax"/>
        <result column="payment_order_status" property="paymentOrderStatus"/>
        <result column="payment_date" property="paymentDate"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
    </resultMap>

    <resultMap id="PaymentOrderById" type="com.example.mybatis.vo.PaymentOrderVO">
        <result column="id" property="id"/>
        <result column="company_s_name" property="companySName"/>
        <result column="platform_service_provider" property="platformServiceProvider"/>
        <result column="acceptance_certificate" property="acceptanceCertificate"/>
        <result column="payment_order_status" property="paymentOrderStatus"/>
        <result column="payment_inventory" property="paymentInventory"/>
        <result column="payment_date" property="paymentDate"/>
        <result column="subpackage_payment" property="subpackagePayment"/>
        <association property="taskVo" javaType="com.example.mybatis.vo.TaskVO">
            <result column="task_code" property="taskCode"/>
            <result column="task_name" property="taskName"/>
            <result column="release_date" property="releaseDate"/>
            <result column="deadline_date" property="deadlineDate"/>
            <result column="industry_type" property="industryType"/>
        </association>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, company_id, company_s_name, real_money, tax_id, platform_service_provider, company_contract, payment_inventory, turnkey_project_payment, subpackage_payment, task_id, acceptance_certificate, tax_status, composite_tax, merchant_tax, recevice_tax,payment_order_status, payment_date, create_date, update_date
    </sql>

    <!--    查询最近30天-->
    <select id="selectBy30Day" parameterType="java.lang.String" resultType="decimal">
        select SUM(real_money) 'total_money' from tb_payment_order where
        date_sub(curdate(), INTERVAL 30 DAY) &lt;= date(`payment_date`)
        and payment_order_status &gt;= 2 and company_id = #{merchantId}
    </select>

    <!--查询总支付-->
    <select id="selectTotal" parameterType="java.lang.String" resultType="decimal">
        select SUM(real_money) 'total_money' from tb_payment_order where
        payment_order_status &gt;= 2 and company_id = #{merchantId}
    </select>

    <!--查询今天已支付订单-->
    <select id="selectDay" parameterType="list" resultMap="BaseResultMap">
        select * from tb_payment_order where to_days(payment_date) = to_days(now())
        and payment_order_status &gt;= 2 and company_id = #{merchantId}
    </select>

    <!--查询本周已支付的订单-->
    <select id="selectWeek" parameterType="list" resultMap="BaseResultMap">
      SELECT * FROM tb_payment_order WHERE YEARWEEK(date_format(payment_date,'%Y-%m-%d')) = YEARWEEK(now())
      and payment_order_status &gt;= 2 and company_id = #{merchantId}
    </select>

    <!--查询本月已支付的订单-->
    <select id="selectMonth" parameterType="list" resultMap="BaseResultMap">
        SELECT * FROM tb_payment_order WHERE DATE_FORMAT( payment_date, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
        and payment_order_status &gt;= 2 and company_id = #{merchantId}
    </select>

    <!--查询今年已支付的订单-->
    <select id="selectYear" parameterType="list" resultMap="BaseResultMap">
         select * from `tb_payment_order` where YEAR(payment_date)=YEAR(NOW())
         and payment_order_status &gt;= 2 and company_id = #{merchantId}
    </select>

    <!--多条件查询-->
    <select id="selectMany" resultMap="BaseResultMap" parameterType="list">
        select
        id,company_s_name, tax_id, platform_service_provider, company_contract, payment_inventory,
        turnkey_project_payment, subpackage_payment, task_id, acceptance_certificate,payment_order_status, create_date
        from tb_payment_order
        <where>
            company_id = #{merchantId}
            <if test="id != null and id!=''">
                and id = #{id}
            </if>
            <if test="taxId != null and taxId!=''">
                and tax_id = #{taxId}
            </if>
            <if test="beginDate != null and beginDate!=''">
                and date(create_date) &gt;= #{beginDate}
            </if>
            <if test="endDate != null and endDate!=''">
                and date(create_date) &lt;= #{endDate}
            </if>
        </where>
        ORDER BY create_date DESC
    </select>


    <!--平台端查询...............-->

    <!--    查询最近30天-->
    <select id="selectBy30Daypaas" parameterType="list" resultType="decimal">
        select SUM(real_money) 'total_money' from tb_payment_order where
        date_sub(curdate(), INTERVAL 30 DAY) &lt;= date(`payment_date`)
        and payment_order_status &gt;= 2 and company_id in
        <foreach collection="list" index="index" item="merchantIds" open="(" separator="," close=")">
            #{merchantIds}
        </foreach>
    </select>

    <!--查询总支付-->
    <select id="selectTotalpaas" parameterType="list" resultType="decimal">
        select SUM(real_money) 'total_money' from tb_payment_order where
        payment_order_status &gt;= 2 and company_id in
        <foreach collection="list" index="index" item="merchantIds" open="(" separator="," close=")">
            #{merchantIds}
        </foreach>
    </select>

    <!--查询今天已支付订单-->
    <select id="selectDaypaas" parameterType="list" resultMap="BaseResultMap">
        select * from tb_payment_order where to_days(payment_date) = to_days(now())
        and payment_order_status &gt;= 2 and company_id in
        <foreach collection="list" index="index" item="merchantIds" open="(" separator="," close=")">
            #{merchantIds}
        </foreach>
    </select>

    <!--查询本周已支付的订单-->
    <select id="selectWeekpaas" parameterType="list" resultMap="BaseResultMap">
        SELECT * FROM tb_payment_order WHERE YEARWEEK(date_format(payment_date,'%Y-%m-%d')) = YEARWEEK(now())
        and payment_order_status &gt;= 2 and company_id in
        <foreach collection="list" index="index" item="merchantIds" open="(" separator="," close=")">
            #{merchantIds}
        </foreach>
    </select>

    <!--查询本月已支付的订单-->
    <select id="selectMonthpaas" parameterType="list" resultMap="BaseResultMap">
        SELECT * FROM tb_payment_order WHERE DATE_FORMAT( payment_date, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
        and payment_order_status &gt;= 2 and company_id in
        <foreach collection="list" index="index" item="merchantIds" open="(" separator="," close=")">
            #{merchantIds}
        </foreach>
    </select>

    <!--查询今年已支付的订单-->
    <select id="selectYearpaas" parameterType="list" resultMap="BaseResultMap">
        select * from `tb_payment_order` where YEAR(payment_date)=YEAR(NOW())
        and payment_order_status &gt;= 2 and company_id in
        <foreach collection="list" index="index" item="merchantIds" open="(" separator="," close=")">
            #{merchantIds}
        </foreach>
    </select>


    <!--多条件查询-->
    <select id="selectManyPaas" resultMap="BaseResultMap" parameterType="list">
        select
        <include refid="Base_Column_List" />
        from tb_payment_order
        <where>
            company_id in
            <foreach collection="merchantIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            <if test="merchantName != null and merchantName!=''">
                and company_s_name = #{merchantName}
            </if>
            <if test="id != null and id!=''">
                and id = #{id}
            </if>
            <if test="taxId != null and taxId!=''">
                and tax_id = #{taxId}
            </if>
            <if test="beginDate != null and beginDate!=''">
                and date(create_date) &gt;= #{beginDate}
            </if>
            <if test="endDate != null and endDate!=''">
                and date(create_date) &lt;= #{endDate}
            </if>
        </where>
        ORDER BY update_date DESC
    </select>

    <select id="getPaymentOrderById" resultMap="PaymentOrderById">
        SELECT
        po.id,po.company_s_name,po.platform_service_provider,
        po.acceptance_certificate,po.payment_order_status,
        po.payment_inventory,po.payment_date,po.subpackage_payment,
        t.task_code,t.task_name,t.release_date,t.deadline_date,t.industry_type
        FROM tb_payment_order AS po
        LEFT JOIN tb_task as t ON po.task_id=t.id
        WHERE po.id=#{id}
    </select>

    <resultMap id="BillingInfo" type="com.example.mybatis.vo.BillingInfoVO">
        <result column="id" property="id"/>
        <result column="company_s_name" property="companySName"/>
        <result column="platform_service_provider" property="platformServiceProvider"/>
        <result column="real_money" property="realMoney"/>
        <result column="payment_date" property="paymentDate"/>
    </resultMap>

    <select id="getBillingInfo" resultMap="BillingInfo">
        SELECT id,company_s_name,platform_service_provider,real_money,payment_date
        from tb_payment_order
        WHERE id=#{id}
    </select>


    <!--    查询最近30天-->
    <select id="selectBy30DayPaasTax" parameterType="list" resultType="decimal">
        select SUM(real_money) 'total_money' from tb_payment_order_many where
        date_sub(curdate(), INTERVAL 30 DAY) &lt;= date(`payment_date`)
        and payment_order_status &gt;= 2
        and tax_id = #{taxId}
    </select>

    <!--查询总支付-->
    <select id="selectTotalPaasTax" parameterType="list" resultType="decimal">
        select SUM(real_money) 'total_money' from tb_payment_order_many where
        payment_order_status &gt;= 2
        and tax_id = #{taxId}
    </select>


    <!--    查询最近30天-->
    <select id="selectBy30DayPaasRegulator" parameterType="list" resultType="decimal">
        select SUM(real_money) 'total_money' from tb_payment_order_many where
        date_sub(curdate(), INTERVAL 30 DAY) &lt;= date(`payment_date`)
        and payment_order_status &gt;= 2
        and tax_id in
        <foreach collection="taxIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!--查询总支付-->
    <select id="selectTotalPaasRegulator" parameterType="list" resultType="decimal">
        select SUM(real_money) 'total_money' from tb_payment_order_many where
        payment_order_status &gt;= 2
        and tax_id in
        <foreach collection="taxIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!-- 通用查询映射结果 -->
    <resultMap id="billPO" type="com.example.mybatis.po.BillPO">
        <result column="id" property="id"/>
        <result column="company_s_name" property="merchantName"/>
        <result column="platform_service_provider" property="taxName"/>
        <result column="company_contract" property="contract"/>
        <result column="payment_inventory" property="paymentInventory"/>
        <result column="subpackage_payment" property="paymentReceipt"/>
        <result column="task_id" property="tastId"/>
        <result column="acceptance_certificate" property="acceptanceCertificate"/>
        <result column="payment_date" property="paymentDate"/>
        <result column="real_money" property="money"/>
    </resultMap>

    <!--查询账单详情-->
    <select id="selectMonthBill" resultMap="billPO">
        SELECT
        a.id,
        b.company_s_name,
        b.platform_service_provider,
        b.company_contract,
        b.payment_inventory,
        b.task_id,
        b.acceptance_certificate,
        b.subpackage_payment,
        b.payment_date,
        a.real_money
        FROM tb_payment_inventory a
        JOIN tb_payment_order b
        ON a.payment_order_id = b.id
        WHERE YEAR(a.create_date) = #{year}
        AND MONTH(a.create_date) = #{month}
        AND a.worker_id = #{workerId}
        <if test="param4 != null and param4 != ''">
            and a.id=#{param4}
        </if>
    </select>

    <resultMap id="billCountPO" type="com.example.mybatis.po.BillCountPO">
        <result column="order_count" property="orderCount"/>
        <result column="bill_money" property="billMoney"/>
    </resultMap>

    <!--账单统计-->
    <select id="selectYearCount" resultMap="billCountPO">
        SELECT
        COUNT(1) as order_count,
        SUM(a.real_money) as bill_money
        FROM tb_payment_inventory a
        WHERE YEAR(a.create_date) = #{year}
        AND a.worker_id = #{workerId}
    </select>

    <resultMap id="PaymentOrderInfoPOResultMap" type="com.example.mybatis.po.PaymentOrderInfoPO">
        <result column="id" property="paymentOrderId"/>
        <result column="company_id" property="merchantId"/>
        <result column="platform_service_provider" property="platformServiceProvider"/>
        <result column="worker_money" property="workerMoney"/>
        <result column="company_contract" property="companyContract"/>
        <result column="payment_inventory" property="paymentInventory"/>
        <result column="task_id" property="taskId"/>
        <result column="acceptance_certificate" property="acceptanceCertificate"/>
        <result column="payment_order_status" property="paymentOrderStatus"/>
        <result column="payment_mode" property="paymentMode"/>
        <result column="real_money" property="realMoney"/>
        <result column="create_date" property="creatDate"/>
        <result column="company_name" property="companyName"/>
        <result column="subpackage_payment" property="subpackagePayment"/>
        <result column="turnkey_project_payment" property="turnkeyProjectPayment"/>
        <result column="payment_bank_name" property="paymentBankName"/>
        <result column="payment_bank_code" property="paymentBankCode"/>
        <result column="payee" property="payee"/>
        <result column="payee_bank_name" property="payeeBankName"/>
        <result column="payee_bank_code" property="payeeBankCode"/>
        <result column="recevice_tax" property="receviceTax"/>
        <result column="merchant_tax" property="merchantTax"/>
        <result column="tax_status" property="taxStatus"/>
        <result column="composite_tax" property="compositeTax"/>
        <result column="tax_id" property="taxId"/>
        <result column="task_name" property="taskName"/>
        <result column="task_type" property="taskType"/>
    </resultMap>

    <resultMap id="InvoiceListQuery" type="com.example.mybatis.vo.InvoiceListVO">
        <id column="id" property="id"/>
        <result column="worker_id" property="workerId"/>
        <result column="worker_name" property="workerName"/>
        <result column="mobile_code" property="mobileCode"/>
        <result column="id_card_code" property="idCardCode"/>
        <result column="bank_code" property="bankCode"/>
        <result column="real_money" property="realMoney"/>
        <result column="task_money" property="taskMoney"/>
        <result column="tax_id" property="taxId"/>
        <result column="recevice_tax" property="receviceTax"/>
    </resultMap>

    <!--查询总包订单信息-->
    <select id="selectPaymentOrderInfo" parameterType="string" resultMap="PaymentOrderInfoPOResultMap">
            SELECT
            po.id,
            po.company_id,
            po.tax_id,
            po.task_name,
            po.task_type,
            po.platform_service_provider,
            po.worker_money,
            po.company_contract,
            po.payment_inventory,
            po.task_id,
            po.acceptance_certificate,
            po.payment_order_status,
            po.payment_mode,
            po.real_money,
            po.create_date,
            po.subpackage_payment,
            po.turnkey_project_payment,
            po.recevice_tax,
            po.merchant_tax,
            po.tax_status,
            po.composite_tax,
            ci.company_name,
            ci.bank_name AS payment_bank_name,
            ci.bank_code AS payment_bank_code,
            tp.payee,
            tp.bank_name AS payee_bank_name,
            tp.bank_code AS payee_bank_code
        FROM
            tb_payment_order po
        LEFT JOIN tb_tax_package tp ON po.tax_id = tp.tax_id
        AND tp.package_status = 0
        LEFT JOIN tb_company_info ci ON po.company_id = ci.id
        WHERE po.id = #{paymentOrderId}
    </select>

    <select id="queryPaymentOrderInfo" resultMap="PaymentOrderById">
        SELECT
            po.id,
            po.company_s_name,
            po.platform_service_provider,
            po.acceptance_certificate,
            po.payment_order_status,
            po.payment_inventory,
            po.payment_date,
            po.subpackage_payment,
            t.task_code,
            t.task_name,
            t.release_date,
            t.deadline_date,
            t.industry_type
        FROM
            tb_invoice_application ia
        INNER JOIN tb_application_payment ap ON ap.invoice_application_id = ia.id
        INNER JOIN tb_payment_order po ON po.id = ap.payment_order_id
        LEFT JOIN tb_task t ON t.id = po.task_id
        WHERE
            ia.id =#{invoiceAppcationId}
    </select>

    <!--查询账单详情-->
    <select id="queryBillInfo" resultMap="billPO">
        SELECT
        a.id,
        b.company_s_name,
        b.platform_service_provider,
        b.company_contract,
        b.payment_inventory,
        b.task_id,
        b.acceptance_certificate,
        b.subpackage_payment,
        b.payment_date,
        a.real_money
        FROM tb_payment_inventory a
        JOIN tb_payment_order b
        ON a.payment_order_id = b.id
        WHERE a.worker_id = #{param1}
        <if test="param2 != null and param2 != ''">
            and a.id=#{param2}
        </if>
    </select>

    <select id="querySubInfo" resultMap="PaymentOrderById">

    </select><select id="queryPaymentOrderInfoByIds" resultMap="PaymentOrderById">
        SELECT
            po.id,
            po.company_s_name,
            po.platform_service_provider,
            po.acceptance_certificate,
            po.payment_order_status,
            po.payment_inventory,
            po.payment_date,
            po.subpackage_payment,
            t.task_code,
            t.task_name,
            t.release_date,
            t.deadline_date,
            t.industry_type
        FROM tb_invoice i
        INNER JOIN tb_invoice_application ia ON ia.id = i.application_id
        INNER JOIN tb_application_payment ap ON ia.id = ap.invoice_application_id
        INNER JOIN tb_payment_order po ON po.id = ap.payment_order_id
        LEFT JOIN tb_task t ON t.id = po.task_id WHERE
	    i.id IN
        <foreach collection="invoiceId" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="queryPaymentOrderInfoById" resultMap="PaymentOrderById">
        SELECT
            po.id,
            po.company_s_name,
            po.platform_service_provider,
            po.acceptance_certificate,
            po.payment_order_status,
            po.payment_inventory,
            po.payment_date,
            po.subpackage_payment,
            t.task_code,
            t.task_name,
            t.release_date,
            t.deadline_date,
            t.industry_type
        FROM
            tb_maker_total_invoice mti
        INNER JOIN tb_invoice_list il ON il.maker_total_invoice_id = mti.id
        INNER JOIN tb_invoice i ON i.id = il.invoice_id
        INNER JOIN tb_invoice_application ia ON ia.id = i.application_id
        INNER JOIN tb_application_payment ap ON ap.invoice_application_id = ia.id
        INNER JOIN tb_payment_order po ON po.id = ap.payment_order_id
        LEFT JOIN tb_task t ON t.id = po.task_id
        WHERE
            mti.id =#{invoiceId}
    </select>

     <resultMap id="BuyerById" type="com.example.mybatis.vo.BuyerVO">
        <result column="tax_name" property="companyName"/>
        <result column="credit_code" property="creditCode"/>
        <result column="tax_address" property="companyAddress"/>
        <result column="link_mobile" property="telephones"/>
        <result column="bank_name" property="bankName"/>
        <result column="bank_code" property="bankCode"/>
    </resultMap>

    <select id="queryBuyer" resultMap="BuyerById">
        SELECT
            t.tax_name,
            t.credit_code,
            t.tax_address,
            t.link_mobile,
            tp.bank_name,
            tp.bank_code
        FROM
            tb_maker_total_invoice mti
        INNER JOIN tb_invoice_list il ON il.maker_total_invoice_id = mti.id
        INNER JOIN tb_invoice i ON i.id = il.invoice_id
        INNER JOIN tb_invoice_application ia ON ia.id = i.application_id
        INNER JOIN tb_application_payment ap ON ap.invoice_application_id = ia.id
        INNER JOIN tb_payment_order po ON po.id = ap.payment_order_id
        INNER JOIN tb_tax t ON t.id = po.tax_id
        INNER JOIN tb_tax_package tp ON tp.tax_id = t.id
        AND tp.package_status = 0
        WHERE
            mti.id = #{invoiceId}
        LIMIT 0,1
    </select>

    <select id="queryMakerPaymentInventory" resultMap="InvoiceListQuery">
        SELECT
            pi.id,
            pi.worker_id,
            pi.worker_name,
            pi.mobile_code,
            pi.id_card_code,
            pi.bank_code,
            pi.real_money,
            pi.task_money,
            po.tax_id,
            po.recevice_tax
        FROM
            tb_maker_total_invoice mti
        INNER JOIN tb_invoice_list il ON il.maker_total_invoice_id = mti.id
        INNER JOIN tb_invoice i ON i.id = il.invoice_id
        INNER JOIN tb_invoice_application ia ON ia.id = i.application_id
        INNER JOIN tb_application_payment ap ON ap.invoice_application_id = ia.id
        INNER JOIN tb_payment_order po ON po.id = ap.payment_order_id
        INNER JOIN tb_payment_inventory pi ON pi.payment_order_id = po.id
        WHERE mti.id=#{param2}
    </select>

    <resultMap id="paymentInfo" type="com.example.mybatis.vo.PayInfoVO">
        <result column="payment_mode" property="paymentMode"/>
        <result column="company_name" property="companyName"/>
        <result column="bank_name" property="bankName"/>
        <result column="bank_code" property="bankCode"/>
        <result column="tax_name" property="taxName"/>
        <result column="t_bank_name" property="tBankName"/>
        <result column="t_bank_code" property="tBankCode"/>
    </resultMap>

    <select id="queryPaymentInfo" resultMap="paymentInfo">
        SELECT
            po.payment_mode,
            ci.company_name,
            ci.bank_name,
            ci.bank_code,
            t.tax_name,
            tp.bank_name AS t_bank_name,
            tp.bank_code AS t_bank_code
        FROM
            tb_payment_order po
        INNER JOIN tb_company_info ci ON ci.id = po.company_id
        INNER JOIN tb_tax t ON t.id = po.tax_id
        INNER JOIN tb_tax_package tp ON tp.tax_id = t.id
        AND tp.package_status = 0
        WHERE
            po.id = #{payId}
    </select>
</mapper>
