<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.PaymentOrderDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatis.entity.PaymentOrder">
        <id column="id" property="id"/>
        <result column="company_id" property="companyId"/>
        <result column="company_s_name" property="companySName"/>
        <result column="real_money" property="realMoney"/>
        <result column="worker_money" property="workerMoney"/>
        <result column="tax_id" property="taxId"/>
        <result column="platform_service_provider" property="platformServiceProvider"/>
        <result column="company_contract" property="companyContract"/>
        <result column="payment_inventory" property="paymentInventory"/>
        <result column="turnkey_project_payment" property="turnkeyProjectPayment"/>
        <result column="subpackage_payment" property="subpackagePayment"/>
        <result column="task_id" property="taskId"/>
        <result column="task_name" property="taskName"/>
        <result column="acceptance_certificate" property="acceptanceCertificate"/>
        <result column="tax_status" property="taxStatus"/>
        <result column="composite_tax" property="compositeTax"/>
        <result column="merchant_tax" property="merchantTax"/>
        <result column="recevice_tax" property="receviceTax"/>
        <result column="payment_order_status" property="paymentOrderStatus"/>
        <result column="reasons_for_rejection" property="reasonsForRejection"/>
        <result column="trade_fail_reason" property="tradeFailReason"/>
        <result column="payment_date" property="paymentDate"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
    </resultMap>

    <resultMap id="PaymentOrderById" type="com.example.mybatis.vo.PaymentOrderVO">
        <result column="id" property="id"/>
        <result column="company_s_name" property="companySName"/>
        <result column="platform_service_provider" property="platformServiceProvider"/>
        <result column="company_contract" property="companyContract"/>
        <result column="acceptance_certificate" property="acceptanceCertificate"/>
        <result column="payment_order_status" property="paymentOrderStatus"/>
        <result column="payment_inventory" property="paymentInventory"/>
        <result column="payment_date" property="paymentDate"/>
        <result column="subpackage_payment" property="subpackagePayment"/>
        <association property="taskVo" javaType="com.example.mybatis.vo.TaskVO">
            <result column="task_code" property="taskCode"/>
            <result column="task_name" property="taskName"/>
        </association>
    </resultMap>

    <resultMap type="com.example.mybatis.vo.TodayVO" id="dayTradeVO">
        <result property="oneHourIncome" column="one_hour_income"/>
        <result property="twoHourIncome" column="two_hour_income"/>
        <result property="threeHourIncome" column="three_hour_income"/>
        <result property="fourHourIncome" column="four_hour_income"/>
        <result property="fiveHourIncome" column="five_hour_income"/>
        <result property="sixHourIncome" column="six_hour_income"/>
        <result property="sevenHourIncome" column="seven_hour_income"/>
        <result property="eightHourIncome" column="eight_hour_income"/>
        <result property="nineHourIncome" column="nine_hour_income"/>
        <result property="tenHourIncome" column="ten_hour_income"/>
        <result property="elevenHourIncome" column="eleven_hour_income"/>
        <result property="twelveHourIncome" column="twelve_hour_income"/>
        <result property="thirteenHourIncome" column="thirteen_hour_income"/>
        <result property="fourteenHourIncome" column="fourteen_hour_income"/>
        <result property="fifteenHourIncome" column="fifteen_hour_income"/>
        <result property="sixteenHourIncome" column="sixteen_hour_income"/>
        <result property="seventeenHourIncome" column="seventeen_hour_income"/>
        <result property="eighteenHourIncome" column="eighteen_hour_income"/>
        <result property="nineteenHourIncome" column="nineteen_hour_income"/>
        <result property="twentyHourIncome" column="twenty_hour_income"/>
        <result property="twentyOneHourIncome" column="twenty_one_hour_income"/>
        <result property="twentyTwoHourIncome" column="twenty_two_hour_income"/>
        <result property="twentyThreeHourIncome" column="twenty_three_hour_income"/>
        <result property="twentyFourHourIncome" column="twenty_four_hour_income"/>
    </resultMap>

    <resultMap type="com.example.mybatis.vo.WeekTradeVO" id="weekTradeVO">
        <result property="monIncome" column="mon_income"/>
        <result property="tueIncome" column="tue_income"/>
        <result property="wedIncome" column="wed_income"/>
        <result property="thuIncome" column="thu_income"/>
        <result property="friIncome" column="fri_income"/>
        <result property="satIncome" column="sat_income"/>
        <result property="sunIncome" column="sun_income"/>
    </resultMap>

    <resultMap type="com.example.mybatis.vo.MonthTradeVO" id="monthTradeVO">
        <result property="oneDayIncome" column="one_day_income"/>
        <result property="twoDayIncome" column="two_day_income"/>
        <result property="threeDayIncome" column="three_day_income"/>
        <result property="fourDayIncome" column="four_day_income"/>
        <result property="fiveDayIncome" column="five_day_income"/>
        <result property="sixDayIncome" column="six_day_income"/>
        <result property="sevenDayIncome" column="seven_day_income"/>
        <result property="eightDayIncome" column="eight_day_income"/>
        <result property="nineDayIncome" column="nine_day_income"/>
        <result property="tenDayIncome" column="ten_day_income"/>
        <result property="elevenDayIncome" column="eleven_day_income"/>
        <result property="twelveDayIncome" column="twelve_day_income"/>
        <result property="thirteenDayIncome" column="thirteen_day_income"/>
        <result property="fourteenDayIncome" column="fourteen_day_income"/>
        <result property="fifteenDayIncome" column="fifteen_day_income"/>
        <result property="sixteenDayIncome" column="sixteen_day_income"/>
        <result property="seventeenDayIncome" column="seventeen_day_income"/>
        <result property="eighteenDayIncome" column="eighteen_day_income"/>
        <result property="nineteenDayIncome" column="nineteen_day_income"/>
        <result property="twentyDayIncome" column="twenty_day_income"/>
        <result property="twentyOneDayIncome" column="twenty_one_day_income"/>
        <result property="twentyTwoDayIncome" column="twenty_two_day_income"/>
        <result property="twentyThreeDayIncome" column="twenty_three_day_income"/>
        <result property="twentyFourDayIncome" column="twenty_four_day_income"/>
        <result property="twentyFiveDayIncome" column="twenty_five_day_income"/>
        <result property="twentySixDayIncome" column="twenty_six_day_income"/>
        <result property="twentySevenDayIncome" column="twenty_seven_day_income"/>
        <result property="twentyEightDayIncome" column="twenty_eight_day_income"/>
        <result property="twentyNineDayIncome" column="twenty_nine_day_income"/>
        <result property="thirtyDayIncome" column="thirty_day_income"/>
        <result property="thirtyOneDayIncome" column="thirty_one_day_income"/>
    </resultMap>


    <resultMap type="com.example.mybatis.vo.YearTradeVO" id="yearTradeVO">
        <result property="janIncome" column="jan_income"/>
        <result property="febIncome" column="feb_income"/>
        <result property="marIncome" column="mar_income"/>
        <result property="aprIncome" column="apr_income"/>
        <result property="mayIncome" column="may_income"/>
        <result property="junIncome" column="jun_income"/>
        <result property="julIncome" column="jul_income"/>
        <result property="augIncome" column="aug_income"/>
        <result property="sepIncome" column="sep_income"/>
        <result property="octIncome" column="oct_income"/>
        <result property="novIncome" column="nov_income"/>
        <result property="decIncome" column="dec_income"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, company_id, company_s_name, real_money, worker_money, tax_id, platform_service_provider, company_contract, payment_inventory, turnkey_project_payment, subpackage_payment, task_id, task_name, acceptance_certificate, tax_status, composite_tax, merchant_tax, recevice_tax, payment_order_status, reasons_for_rejection, trade_fail_reason, payment_date, create_date, update_date
    </sql>

    <!--    查询最近30天-->
    <select id="selectBy30Day" parameterType="java.lang.String" resultType="decimal">
        select SUM(real_money) 'total_money' from tb_payment_order where
        date_sub(curdate(), INTERVAL 30 DAY) &lt;= date(`payment_date`)
        and payment_order_status = 6 and company_id = #{merchantId}
    </select>

    <!--查询总支付-->
    <select id="selectTotal" parameterType="java.lang.String" resultType="decimal">
        select SUM(real_money) 'total_money' from tb_payment_order where
        payment_order_status = 6 and company_id = #{merchantId}
    </select>

    <select id="getTotalServiceMoney" resultType="java.math.BigDecimal">
        select SUM(service_money) 'total_service_money' from tb_payment_order where
        payment_order_status = 6 and company_id = #{companyId}
    </select>

    <!--查询今天已支付订单-->
    <select id="selectDay" parameterType="list" resultMap="BaseResultMap">
        select * from tb_payment_order where date(payment_date) = date(now())
        and payment_order_status = 6 and company_id = #{merchantId}
    </select>

    <!--查询本周已支付的订单-->
    <select id="selectWeek" parameterType="list" resultMap="BaseResultMap">
      SELECT * FROM tb_payment_order WHERE YEARWEEK(date_format(payment_date,'%Y-%m-%d')) = YEARWEEK(now())
      and payment_order_status  = 6 and company_id = #{merchantId}
    </select>

    <!--查询本月已支付的订单-->
    <select id="selectMonth" parameterType="list" resultMap="BaseResultMap">
        SELECT * FROM tb_payment_order WHERE DATE_FORMAT( payment_date, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
        and payment_order_status  = 6 and company_id = #{merchantId}
    </select>

    <!--查询今年已支付的订单-->
    <select id="selectYear" parameterType="list" resultMap="BaseResultMap">
         select * from `tb_payment_order` where YEAR(payment_date)=YEAR(NOW())
         and payment_order_status  = 6 and company_id = #{merchantId}
    </select>

    <!--多条件查询-->
    <select id="selectMany" resultMap="BaseResultMap" parameterType="list">
        select
        id,company_s_name, tax_id, platform_service_provider, company_contract, payment_inventory, turnkey_project_payment, subpackage_payment, task_id,
        acceptance_certificate, payment_order_status, reasons_for_rejection, trade_fail_reason, create_date
        from tb_payment_order
        <where>
            company_id = #{merchantId}
            <if test="id != null and id!=''">
                and id = #{id}
            </if>
            <if test="taxId != null and taxId!=''">
                and tax_id = #{taxId}
            </if>
            <if test="beginDate != null and beginDate!=''">
                and date(create_date) &gt;= #{beginDate}
            </if>
            <if test="endDate != null and endDate!=''">
                and date(create_date) &lt;= #{endDate}
            </if>
        </where>
        ORDER BY create_date DESC
    </select>


    <!--平台端查询...............-->

    <!--    查询最近30天-->
    <select id="selectBy30Daypaas" parameterType="list" resultType="decimal">
        select SUM(real_money) 'total_money' from tb_payment_order where
        date_sub(curdate(), INTERVAL 30 DAY) &lt;= date(`payment_date`)
        and payment_order_status = 6 and company_id in
        <foreach collection="list" index="index" item="merchantIds" open="(" separator="," close=")">
            #{merchantIds}
        </foreach>
    </select>

    <!--查询总支付-->
    <select id="selectTotalpaas" parameterType="list" resultType="decimal">
        select SUM(real_money) 'total_money' from tb_payment_order where
        payment_order_status = 6 and company_id in
        <foreach collection="list" index="index" item="merchantIds" open="(" separator="," close=")">
            #{merchantIds}
        </foreach>
    </select>

    <select id="selectTotalServiceMoney" resultType="java.math.BigDecimal">
        select SUM(service_money) 'total_service_money' from tb_payment_order where
        payment_order_status = 6 and company_id in
        <foreach collection="list" index="index" item="merchantIds" open="(" separator="," close=")">
            #{merchantIds}
        </foreach>
    </select>

    <!--查询今天已支付订单-->
    <select id="selectDaypaas" parameterType="list" resultMap="BaseResultMap">
        select * from tb_payment_order where date(payment_date) = date(now())
        and payment_order_status &gt;= 2 and company_id in
        <foreach collection="list" index="index" item="merchantIds" open="(" separator="," close=")">
            #{merchantIds}
        </foreach>
    </select>

    <!--查询本周已支付的订单-->
    <select id="selectWeekpaas" parameterType="list" resultMap="BaseResultMap">
        SELECT * FROM tb_payment_order WHERE YEARWEEK(date_format(payment_date,'%Y-%m-%d')) = YEARWEEK(now())
        and payment_order_status &gt;= 2 and company_id in
        <foreach collection="list" index="index" item="merchantIds" open="(" separator="," close=")">
            #{merchantIds}
        </foreach>
    </select>

    <!--查询本月已支付的订单-->
    <select id="selectMonthpaas" parameterType="list" resultMap="BaseResultMap">
        SELECT * FROM tb_payment_order WHERE DATE_FORMAT( payment_date, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
        and payment_order_status &gt;= 2 and company_id in
        <foreach collection="list" index="index" item="merchantIds" open="(" separator="," close=")">
            #{merchantIds}
        </foreach>
    </select>

    <!--查询今年已支付的订单-->
    <select id="selectYearpaas" parameterType="list" resultMap="BaseResultMap">
        select * from `tb_payment_order` where YEAR(payment_date)=YEAR(NOW())
        and payment_order_status = 2 or payment_order_status = 6 and company_id in
        <foreach collection="list" index="index" item="merchantIds" open="(" separator="," close=")">
            #{merchantIds}
        </foreach>
    </select>


    <!--多条件查询-->
    <select id="selectManyPaas" resultMap="BaseResultMap" parameterType="list">
        select
        <include refid="Base_Column_List" />
        from tb_payment_order
        <where>
            company_id in
            <foreach collection="merchantIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            <if test="merchantName != null and merchantName!=''">
                and company_s_name = #{merchantName}
            </if>
            <if test="id != null and id!=''">
                and id = #{id}
            </if>
            <if test="taxId != null and taxId!=''">
                and tax_id = #{taxId}
            </if>
            <if test="beginDate != null and beginDate!=''">
                and date(create_date) &gt;= #{beginDate}
            </if>
            <if test="endDate != null and endDate!=''">
                and date(create_date) &lt;= #{endDate}
            </if>
        </where>
        ORDER BY create_date DESC
    </select>

    <select id="getPaymentOrderById" resultMap="PaymentOrderById">
        SELECT
        po.id,po.company_s_name,po.platform_service_provider,
        po.acceptance_certificate,po.payment_order_status,
        po.payment_inventory,po.payment_date,po.subpackage_payment,po.company_contract,
        t.task_code,t.task_name
        FROM tb_payment_order AS po
        LEFT JOIN tb_task as t ON po.task_id=t.id
        WHERE po.id=#{id}
    </select>

    <resultMap id="BillingInfo" type="com.example.mybatis.vo.BillingInfoVO">
        <result column="id" property="id"/>
        <result column="company_s_name" property="companySName"/>
        <result column="platform_service_provider" property="platformServiceProvider"/>
        <result column="real_money" property="realMoney"/>
        <result column="payment_date" property="paymentDate"/>
    </resultMap>

    <select id="getBillingInfo" resultMap="BillingInfo">
        SELECT id,company_s_name,platform_service_provider,real_money,payment_date
        from tb_payment_order
        WHERE id=#{id}
    </select>


    <!--    查询最近30天-->
    <select id="selectBy30DayPaasTax" parameterType="list" resultType="decimal">
        select SUM(real_money) 'total_money' from tb_payment_order where
        date_sub(curdate(), INTERVAL 30 DAY) &lt;= date(`payment_date`)
        and payment_order_status = 6
        and tax_id = #{taxId}
    </select>

    <!--查询总支付-->
    <select id="selectTotalPaasTax" parameterType="list" resultType="decimal">
        select SUM(real_money) 'total_money' from tb_payment_order where
        payment_order_status = 6
        and tax_id = #{taxId}
    </select>

    <select id="selectTotalServicePaasTax" resultType="java.math.BigDecimal">
        select SUM(service_money) 'total_service_money' from tb_payment_order where
        payment_order_status = 6
        and tax_id = #{taxId}
    </select>

    <!--    查询最近30天-->
    <select id="selectBy30DayPaasRegulator" parameterType="list" resultType="decimal">
        select SUM(real_money) 'total_money' from tb_payment_order_many where
        date_sub(curdate(), INTERVAL 30 DAY) &lt;= date(`payment_date`)
        and payment_order_status = 3
        and tax_id in
        <foreach collection="taxIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!--查询总支付-->
    <select id="selectTotalPaasRegulator" parameterType="list" resultType="decimal">
        select SUM(real_money) 'total_money' from tb_payment_order_many where
        payment_order_status = 3
        and tax_id in
        <foreach collection="taxIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!-- 通用查询映射结果 -->
    <resultMap id="billPO" type="com.example.mybatis.po.BillPO">
        <result column="id" property="id"/>
        <result column="company_s_name" property="merchantName"/>
        <result column="platform_service_provider" property="taxName"/>
        <result column="company_contract" property="contract"/>
        <result column="payment_inventory" property="paymentInventory"/>
        <result column="subpackage_payment" property="paymentReceipt"/>
        <result column="task_id" property="taskId"/>
        <result column="task_name" property="taskName"/>
        <result column="acceptance_certificate" property="acceptanceCertificate"/>
        <result column="payment_date" property="paymentDate"/>
        <result column="real_money" property="money"/>
    </resultMap>

    <!--查询账单详情-->
    <select id="selectMonthBill" resultMap="billPO">
        SELECT
        a.id,
        b.company_s_name,
        b.platform_service_provider,
        b.company_contract,
        b.payment_inventory,
        b.task_id,
        b.acceptance_certificate,
        b.subpackage_payment,
        b.payment_date,
        a.real_money
        FROM tb_payment_inventory a
        JOIN tb_payment_order b
        ON a.payment_order_id = b.id
        WHERE YEAR(a.create_date) = #{year}
        AND MONTH(a.create_date) = #{month}
        AND a.worker_id = #{workerId}
        <if test="param4 != null and param4 != ''">
            and a.id=#{param4}
        </if>
    </select>

    <resultMap id="billCountPO" type="com.example.mybatis.po.BillCountPO">
        <result column="order_count" property="orderCount"/>
        <result column="bill_money" property="billMoney"/>
    </resultMap>

    <!--账单统计-->
    <select id="selectYearCount" resultMap="billCountPO">
        SELECT
        COUNT(1) as order_count,
        SUM(a.real_money) as bill_money
        FROM tb_payment_inventory a
        WHERE YEAR(a.create_date) = #{year}
        AND a.worker_id = #{workerId}
    </select>

    <resultMap id="PaymentOrderInfoPOResultMap" type="com.example.mybatis.po.PaymentOrderInfoPO">
        <result column="id" property="paymentOrderId"/>
        <result column="company_id" property="merchantId"/>
        <result column="platform_service_provider" property="platformServiceProvider"/>
        <result column="worker_money" property="workerMoney"/>
        <result column="company_contract" property="companyContract"/>
        <result column="payment_inventory" property="paymentInventory"/>
        <result column="task_id" property="taskId"/>
        <result column="acceptance_certificate" property="acceptanceCertificate"/>
        <result column="payment_order_status" property="paymentOrderStatus"/>
        <result column="payment_mode" property="paymentMode"/>
        <result column="real_money" property="realMoney"/>
        <result column="create_date" property="creatDate"/>
        <result column="company_name" property="companyName"/>
        <result column="bank_code" property="bankCode"/>
        <result column="bank_name" property="bankName"/>
        <result column="subpackage_payment" property="subpackagePayment"/>
        <result column="turnkey_project_payment" property="turnkeyProjectPayment"/>
        <result column="payee" property="payee"/>
        <result column="payee_bank_name" property="payeeBankName"/>
        <result column="payee_bank_code" property="payeeBankCode"/>
        <result column="recevice_tax" property="receviceTax"/>
        <result column="merchant_tax" property="merchantTax"/>
        <result column="tax_status" property="taxStatus"/>
        <result column="composite_tax" property="compositeTax"/>
        <result column="tax_id" property="taxId"/>
        <result column="task_name" property="taskName"/>
        <result column="reasons_for_rejection" property="reasonsForRejection"/>
    </resultMap>

    <resultMap id="InvoiceListQuery" type="com.example.mybatis.vo.InvoiceListVO">
        <id column="id" property="id"/>
        <result column="worker_id" property="workerId"/>
        <result column="worker_name" property="workerName"/>
        <result column="mobile_code" property="mobileCode"/>
        <result column="id_card_code" property="idCardCode"/>
        <result column="bank_code" property="bankCode"/>
        <result column="real_money" property="realMoney"/>
        <result column="task_money" property="taskMoney"/>
        <result column="tax_id" property="taxId"/>
        <result column="recevice_tax" property="receviceTax"/>
    </resultMap>

    <!--查询总包订单信息-->
    <select id="selectPaymentOrderInfo" parameterType="string" resultMap="PaymentOrderInfoPOResultMap">
        SELECT
            po.id,
            po.company_id,
            po.tax_id,
            po.task_name,
            po.platform_service_provider,
            po.worker_money,
            po.company_contract,
            po.payment_inventory,
            po.task_id,
            po.acceptance_certificate,
            po.payment_order_status,
            po.payment_mode,
            IF(po.payment_mode = 0, po.real_money, po.service_money) AS real_money,
            po.create_date,
            po.subpackage_payment,
            po.turnkey_project_payment,
            po.recevice_tax,
            po.merchant_tax,
            po.tax_status,
            po.composite_tax,
            po.reasons_for_rejection,
            ci.company_name,
            ci.bank_name,
            ci.bank_code,
            t.title_of_account as payee,
            t.bank_name AS payee_bank_name,
            t.bank_code AS payee_bank_code
        FROM
            tb_payment_order po
        LEFT JOIN tb_tax t ON po.tax_id = t.id
        LEFT JOIN tb_company_info ci ON po.company_id = ci.id
        WHERE po.id = #{paymentOrderId}
    </select>

    <select id="queryPaymentOrderInfo" resultMap="PaymentOrderById">
        SELECT
            po.id,
            po.company_s_name,
            po.platform_service_provider,
            po.acceptance_certificate,
            po.payment_order_status,
            po.payment_inventory,
            po.payment_date,
            po.subpackage_payment,
            t.task_code,
            t.task_name
        FROM
            tb_invoice_application ia
        INNER JOIN tb_application_payment ap ON ap.invoice_application_id = ia.id
        INNER JOIN tb_payment_order po ON po.id = ap.payment_order_id
        LEFT JOIN tb_task t ON t.id = po.task_id
        WHERE
            ia.id =#{invoiceAppcationId}
    </select>

    <!--查询账单详情-->
    <select id="queryBillInfo" resultMap="billPO">
        SELECT
        a.id,
        b.company_s_name,
        b.platform_service_provider,
        b.company_contract,
        b.payment_inventory,
        b.task_id,
        b.task_name,
        b.acceptance_certificate,
        b.subpackage_payment,
        b.payment_date,
        a.real_money
        FROM tb_payment_inventory a
        JOIN tb_payment_order b
        ON a.payment_order_id = b.id
        WHERE a.worker_id = #{param1}
        <if test="param2 != null and param2 != ''">
            and a.id=#{param2}
        </if>
    </select>

    <select id="querySubInfo" resultMap="PaymentOrderById">

    </select><select id="queryPaymentOrderInfoByIds" resultMap="PaymentOrderById">
        SELECT
            po.id,
            po.company_s_name,
            po.platform_service_provider,
            po.acceptance_certificate,
            po.payment_order_status,
            po.payment_inventory,
            po.payment_date,
            po.subpackage_payment,
            t.task_code,
            t.task_name
        FROM tb_invoice i
        INNER JOIN tb_invoice_application ia ON ia.id = i.application_id
        INNER JOIN tb_application_payment ap ON ia.id = ap.invoice_application_id
        INNER JOIN tb_payment_order po ON po.id = ap.payment_order_id
        LEFT JOIN tb_task t ON t.id = po.task_id WHERE
	    i.id IN
        <foreach collection="invoiceId" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="queryPaymentOrderInfoById" resultMap="PaymentOrderById">
        SELECT
            po.id,
            po.company_s_name,
            po.platform_service_provider,
            po.acceptance_certificate,
            po.payment_order_status,
            po.payment_inventory,
            po.payment_date,
            po.subpackage_payment,
            t.task_code,
            t.task_name
        FROM
            tb_maker_total_invoice mti
        INNER JOIN tb_invoice_list il ON il.maker_total_invoice_id = mti.id
        INNER JOIN tb_invoice i ON i.id = il.invoice_id
        INNER JOIN tb_invoice_application ia ON ia.id = i.application_id
        INNER JOIN tb_application_payment ap ON ap.invoice_application_id = ia.id
        INNER JOIN tb_payment_order po ON po.id = ap.payment_order_id
        LEFT JOIN tb_task t ON t.id = po.task_id
        WHERE
            mti.id =#{invoiceId}
    </select>

     <resultMap id="BuyerById" type="com.example.mybatis.vo.BuyerVO">
        <result column="tax_name" property="companyName"/>
        <result column="credit_code" property="creditCode"/>
        <result column="address_and_telephone" property="addressAndTelephone"/>
        <result column="bank_and_account" property="bankAndAccount"/>
    </resultMap>

    <select id="queryBuyer" resultMap="BuyerById">
        SELECT
            t.tax_name,
            t.credit_code,
           	CONCAT(t.tax_address,',',t.link_mobile)AS address_and_telephone,
	        CONCAT(t.bank_name,',',t.bank_code)AS bank_and_account
        FROM
            tb_maker_total_invoice mti
        INNER JOIN tb_invoice_list il ON il.maker_total_invoice_id = mti.id
        INNER JOIN tb_invoice i ON i.id = il.invoice_id
        INNER JOIN tb_invoice_application ia ON ia.id = i.application_id
        INNER JOIN tb_application_payment ap ON ap.invoice_application_id = ia.id
        INNER JOIN tb_payment_order po ON po.id = ap.payment_order_id
        INNER JOIN tb_tax t ON t.id = po.tax_id
        WHERE
            mti.id = #{invoiceId}
        LIMIT 0,1
    </select>

    <select id="queryMakerPaymentInventory" resultMap="InvoiceListQuery">
        SELECT
            pi.id,
            pi.worker_id,
            pi.worker_name,
            pi.mobile_code,
            pi.id_card_code,
            pi.bank_code,
            pi.real_money,
            pi.task_money,
            po.tax_id,
            po.recevice_tax
        FROM
            tb_maker_total_invoice mti
        INNER JOIN tb_invoice_list il ON il.maker_total_invoice_id = mti.id
        INNER JOIN tb_invoice i ON i.id = il.invoice_id
        INNER JOIN tb_invoice_application ia ON ia.id = i.application_id
        INNER JOIN tb_application_payment ap ON ap.invoice_application_id = ia.id
        INNER JOIN tb_payment_order po ON po.id = ap.payment_order_id
        INNER JOIN tb_payment_inventory pi ON pi.payment_order_id = po.id
        WHERE mti.id=#{param2}
    </select>

    <resultMap id="paymentInfo" type="com.example.mybatis.vo.PayInfoVO">
        <result column="payment_mode" property="paymentMode"/>
        <result column="company_name" property="companyName"/>
        <result column="bank_name" property="bankName"/>
        <result column="bank_code" property="bankCode"/>
        <result column="tax_name" property="taxName"/>
        <result column="t_bank_name" property="tBankName"/>
        <result column="t_bank_code" property="tBankCode"/>
        <result column="real_money" property="merchantPaymentMoney"/>
        <result column="turnkey_project_payment" property="turnkeyProjectPayment"/>
    </resultMap>

    <select id="queryPaymentInfo" resultMap="paymentInfo">
        SELECT
            po.payment_mode,
            ci.company_name,
            ci.bank_name,
            ci.bank_code,
            t.tax_name,
            t.bank_name AS t_bank_name,
            t.bank_code AS t_bank_code,
            po.real_money,
            po.turnkey_project_payment
        FROM
            tb_payment_order po
        INNER JOIN tb_company_info ci ON ci.id = po.company_id
        INNER JOIN tb_tax t ON t.id = po.tax_id
        WHERE
            po.id = #{param1}
    </select>

    <resultMap id="SubpackageInfo" type="com.example.mybatis.vo.QuerySubpackageInfoVO">
        <result property="taxName" column="tax_name"/>
        <result property="paymentMode" column="payment_mode"/>
        <result property="bankName" column="bank_name"/>
        <result property="bankCode" column="bank_code"/>
        <result property="workerName" column="worker_name"/>
        <result property="realMoney" column="real_money"/>
        <result property="subpackagePayment" column="subpackage_payment"/>
    </resultMap>

    <select id="querySubpackageInfo" resultMap="SubpackageInfo">
        SELECT
            po.payment_mode,
            t.tax_name,
            t.bank_name,
            t.bank_code,
            pi.worker_name,
            pi.real_money,
            po.subpackage_payment
        FROM
            tb_payment_order po
        INNER JOIN tb_company_info ci ON ci.id = po.company_id
        INNER JOIN tb_tax t ON t.id = po.tax_id
        INNER JOIN tb_payment_inventory pi ON pi.payment_order_id = po.id
        WHERE
            po.id = #{param1}
        AND pi.worker_id = #{param2}
    </select>

    <select id="selectDaypaa" resultMap="dayTradeVO">
        SELECT
            IFNULL(
                SUM(
                    IF (
                        HOUR (payment_date) = 1,
                        real_money,
                        0
                    )
                ),
                0
            ) AS one_hour_income,
            IFNULL(
                SUM(
                    IF (
                        HOUR (payment_date) = 2,
                        real_money,
                        0
                    )
                ),
                0
            ) AS two_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 3,
                        real_money,
                        0
                    )
                ),
                0
            ) AS three_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 4,
                        real_money,
                        0
                    )
                ),
                0
            ) AS four_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 5,
                        real_money,
                        0
                    )
                ),
                0
            ) AS five_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 6,
                        real_money,
                        0
                    )
                ),
                0
            ) AS six_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 7,
                        real_money,
                        0
                    )
                ),
                0
            ) AS seven_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 8,
                        real_money,
                        0
                    )
                ),
                0
            ) AS eight_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 9,
                        real_money,
                        0
                    )
                ),
                0
            ) AS nine_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 10,
                        real_money,
                        0
                    )
                ),
                0
            ) AS ten_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 11,
                        real_money,
                        0
                    )
                ),
                0
            ) AS eleven_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 12,
                        real_money,
                        0
                    )
                ),
                0
            ) AS twelve_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 13,
                        real_money,
                        0
                    )
                ),
                0
            ) AS thirteen_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 14,
                        real_money,
                        0
                    )
                ),
                0
            ) AS fourteen_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 15,
                        real_money,
                        0
                    )
                ),
                0
            ) AS fifteen_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 16,
                        real_money,
                        0
                    )
                ),
                0
            ) AS sixteen_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 17,
                        real_money,
                        0
                    )
                ),
                0
            ) AS seventeen_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 18,
                        real_money,
                        0
                    )
                ),
                0
            ) AS eighteen_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 19,
                        real_money,
                        0
                    )
                ),
                0
            ) AS nineteen_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 20,
                        real_money,
                        0
                    )
                ),
                0
            ) AS twenty_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 21,
                        real_money,
                        0
                    )
                ),
                0
            ) AS twenty_one_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 22,
                        real_money,
                        0
                    )
                ),
                0
            ) AS twenty_two_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 23,
                        real_money,
                        0
                    )
                ),
                0
            ) AS twenty_three_hour_income,
            IFNULL(
                SUM(

                    IF (
                        HOUR (payment_date) = 0,
                        real_money,
                        0
                    )
                ),
                0
            ) AS twenty_four_hour_income
        FROM
            tb_payment_order
        WHERE
            payment_order_status = 6
        AND DATE(payment_date) = DATE(NOW())
        AND company_id IN
         <foreach collection="list" index="index" item="merchantIds" open="(" separator="," close=")">
            #{merchantIds}
        </foreach>
    </select>
    <select id="selectWeekpaa" resultMap="weekTradeVO">
        SELECT
            IFNULL(
                SUM(

                    IF (
                        WEEKDAY(payment_date) = 0,
                        real_money,
                        0
                    )
                ),
                0
            ) AS mon_income,
            IFNULL(
                SUM(

                    IF (
                        WEEKDAY(payment_date) = 1,
                        real_money,
                        0
                    )
                ),
                0
            ) AS tue_income,
            IFNULL(
                SUM(

                    IF (
                        WEEKDAY(payment_date) = 2,
                        real_money,
                        0
                    )
                ),
                0
            ) AS wed_income,
            IFNULL(
                SUM(

                    IF (
                        WEEKDAY(payment_date) = 3,
                        real_money,
                        0
                    )
                ),
                0
            ) AS thu_income,
            IFNULL(
                SUM(

                    IF (
                        WEEKDAY(payment_date) = 4,
                        real_money,
                        0
                    )
                ),
                0
            ) AS fri_income,
            IFNULL(
                SUM(

                    IF (
                        WEEKDAY(payment_date) = 5,
                        real_money,
                        0
                    )
                ),
                0
            ) AS sat_income,
            IFNULL(
                SUM(

                    IF (
                        WEEKDAY(payment_date) = 6,
                        real_money,
                        0
                    )
                ),
                0
            ) AS sun_income
        FROM
            tb_payment_order
        WHERE
            payment_order_status = 6
        AND WEEK (payment_date) = WEEK (NOW())
        AND company_id IN
         <foreach collection="list" index="index" item="merchantIds" open="(" separator="," close=")">
            #{merchantIds}
        </foreach>
    </select>
    <select id="selectMonthpaa" resultMap="monthTradeVO">
        SELECT IFNULL(SUM(IF(DAY(payment_date) = 1, real_money, 0)), 0) AS one_day_income, IFNULL(SUM(IF(DAY(payment_date) = 2, real_money, 0)), 0) AS two_day_income,
        IFNULL(SUM(IF(DAY(payment_date) = 3, real_money, 0)), 0) AS three_day_income, IFNULL(SUM(IF(DAY(payment_date) = 4, real_money, 0)), 0) AS four_day_income,
        IFNULL(SUM(IF(DAY(payment_date) = 5, real_money, 0)), 0) AS five_day_income, IFNULL(SUM(IF(DAY(payment_date) = 6, real_money, 0)), 0) AS six_day_income,
        IFNULL(SUM(IF(DAY(payment_date) = 7, real_money, 0)), 0) AS seven_day_income, IFNULL(SUM(IF(DAY(payment_date) = 8, real_money, 0)), 0) AS eight_day_income,
        IFNULL(SUM(IF(DAY(payment_date) = 9, real_money, 0)), 0) AS nine_day_income, IFNULL(SUM(IF(DAY(payment_date) = 10, real_money, 0)), 0) AS ten_day_income,
        IFNULL(SUM(IF(DAY(payment_date) = 11, real_money, 0)), 0) AS eleven_day_income, IFNULL(SUM(IF(DAY(payment_date) = 12, real_money, 0)), 0) AS twelve_day_income,
        IFNULL(SUM(IF(DAY(payment_date) = 13, real_money, 0)), 0) AS thirteen_day_income, IFNULL(SUM(IF(DAY(payment_date) = 14, real_money, 0)), 0) AS fourteen_day_income,
        IFNULL(SUM(IF(DAY(payment_date) = 15, real_money, 0)), 0) AS fifteen_day_income, IFNULL(SUM(IF(DAY(payment_date) = 16, real_money, 0)), 0) AS sixteen_day_income,
        IFNULL(SUM(IF(DAY(payment_date) = 17, real_money, 0)), 0) AS seventeen_day_income, IFNULL(SUM(IF(DAY(payment_date) = 18, real_money, 0)), 0) AS eighteen_day_income,
        IFNULL(SUM(IF(DAY(payment_date) = 19, real_money, 0)), 0) AS nineteen_day_income, IFNULL(SUM(IF(DAY(payment_date) = 20, real_money, 0)), 0) AS twenty_day_income,
        IFNULL(SUM(IF(DAY(payment_date) = 21, real_money, 0)), 0) AS twenty_one_day_income, IFNULL(SUM(IF(DAY(payment_date) = 22, real_money, 0)), 0) AS twenty_two_day_income,
        IFNULL(SUM(IF(DAY(payment_date) = 23, real_money, 0)), 0) AS twenty_three_day_income, IFNULL(SUM(IF(DAY(payment_date) = 24, real_money, 0)), 0) AS twenty_four_day_income,
		IFNULL(SUM(IF(DAY(payment_date) = 25, real_money, 0)), 0) AS twenty_five_day_income, IFNULL(SUM(IF(DAY(payment_date) = 26, real_money, 0)), 0) AS twenty_six_day_income,
        IFNULL(SUM(IF(DAY(payment_date) = 27, real_money, 0)), 0) AS twenty_seven_day_income, IFNULL(SUM(IF(DAY(payment_date) = 28, real_money, 0)), 0) AS twenty_eight_day_income,
        IF(DAY(LAST_DAY(NOW())) >= 29, IFNULL(SUM(IF(DAY(payment_date) = 29, real_money, 0)), 0), NULL) AS twenty_nine_day_income,
        IF(DAY(LAST_DAY(NOW())) >= 30, IFNULL(SUM(IF(DAY(payment_date) = 30, real_money, 0)), 0), NULL) AS thirty_day_income,
		IF(DAY(LAST_DAY(NOW())) >= 31, IFNULL(SUM(IF(DAY(payment_date) = 31, real_money, 0)), 0), NULL) AS thirty_one_day_income
        FROM tb_payment_order WHERE payment_order_status=6 AND YEAR(payment_date) = YEAR(NOW())
		AND MONTH(payment_date) = MONTH(NOW()) AND company_id IN
         <foreach collection="list" index="index" item="merchantIds" open="(" separator="," close=")">
            #{merchantIds}
        </foreach>
    </select>
    <select id="selectYearpaa" resultMap="yearTradeVO">
    SELECT IFNULL(SUM(IF(MONTH(payment_date) = 1, real_money, 0)), 0) AS jan_income, IFNULL(SUM(IF(MONTH(payment_date) = 2, real_money, 0)), 0) AS feb_income,
        IFNULL(SUM(IF(MONTH(payment_date) = 3, real_money, 0)), 0) AS mar_income, IFNULL(SUM(IF(MONTH(payment_date) = 4, real_money, 0)), 0) AS apr_income,
        IFNULL(SUM(IF(MONTH(payment_date) = 5, real_money, 0)), 0) AS may_income, IFNULL(SUM(IF(MONTH(payment_date) = 6, real_money, 0)), 0) AS jun_income,
        IFNULL(SUM(IF(MONTH(payment_date) = 7, real_money, 0)), 0) AS jul_income, IFNULL(SUM(IF(MONTH(payment_date) = 8, real_money, 0)), 0) AS aug_income,
        IFNULL(SUM(IF(MONTH(payment_date) = 9, real_money, 0)), 0) AS sep_income, IFNULL(SUM(IF(MONTH(payment_date) = 10, real_money, 0)), 0) AS oct_income,
        IFNULL(SUM(IF(MONTH(payment_date) = 11, real_money, 0)), 0) AS nov_income, IFNULL(SUM(IF(MONTH(payment_date) = 12, real_money, 0)), 0) AS dec_income
        FROM tb_payment_order WHERE payment_order_status=6 AND YEAR(payment_date) = YEAR(NOW()) AND company_id IN
         <foreach collection="list" index="index" item="merchantIds" open="(" separator="," close=")">
            #{merchantIds}
        </foreach>
    </select>

    <select id="getFlowInfo" resultType="java.math.BigDecimal">
        SELECT
             IFNULL(SUM(po.real_money),0)
        FROM
            tb_payment_order po
        WHERE
            po.payment_order_status = 6
        <if test="param3 != null">
            AND DATE_SUB(CURDATE(), INTERVAL #{param3} DAY) &lt;= date(payment_date)
        </if>
        <if test="param1 != null and param1 != ''">
            AND po.company_id = #{param1}
        </if>
        <if test="param2 != null and param2 != ''">
            AND po.tax_id = #{param2}
        </if>
    </select>
    <select id="getInvoiceTotalCount" resultType="java.lang.Integer">
        SELECT
            COUNT(1)
        FROM
            tb_payment_order po
        WHERE
            po.is_not_invoice = 1
        <if test="param1 != null and param1 != ''">
            AND po.company_id = #{param1}
        </if>
        <if test="param2 != null and param2 != ''">
            AND po.tax_id = #{param2}
        </if>
    </select>

    <select id="getPaymentTotalServiceMoney" resultType="java.math.BigDecimal">
        SELECT
            IFNULL(SUM(po.service_money), 0)
        FROM
            tb_payment_order po
        WHERE
            po.payment_order_status = 6
        <if test="param1 != null and param1 != ''">
            AND po.company_id = #{param1}
        </if>
        <if test="param2 != null and param2 != ''">
            AND po.tax_id = #{param2}
        </if>
    </select>

    <select id="getInvoiceTotalMoney" resultType="java.math.BigDecimal">
        SELECT
            IFNULL(SUM(po.real_money + po.service_money),0)
        FROM
            tb_payment_order po
        WHERE
            po.is_not_invoice = 1
        <if test="param1 != null and param1 != ''">
            AND po.company_id = #{param1}
        </if>
        <if test="param2 != null and param2 != ''">
            AND po.tax_id = #{param2}
        </if>
    </select>
</mapper>
