<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.PaymentOrderDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatis.entity.PaymentOrder">
        <id column="id" property="id"/>
        <result column="merchant_id" property="merchantId"/>
        <result column="company_s_name" property="companySName"/>
        <result column="real_money" property="realMoney"/>
        <result column="worker_money" property="workerMoney"/>
        <result column="tax_id" property="taxId"/>
        <result column="platform_service_provider" property="platformServiceProvider"/>
        <result column="company_contract" property="companyContract"/>
        <result column="payment_inventory" property="paymentInventory"/>
        <result column="turnkey_project_payment" property="turnkeyProjectPayment"/>
        <result column="subpackage_payment" property="subpackagePayment"/>
        <result column="task_id" property="taskId"/>
        <result column="acceptance_certificate" property="acceptanceCertificate"/>
        <result column="tax_status" property="taxStatus"/>
        <result column="composite_tax" property="compositeTax"/>
        <result column="merchant_tax" property="merchantTax"/>
        <result column="recevice_tax" property="receviceTax"/>
        <result column="payment_order_status" property="paymentOrderStatus"/>
        <result column="payment_date" property="paymentDate"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
    </resultMap>

    <resultMap id="PaymentOrderById" type="com.example.mybatis.vo.PaymentOrderVo">
        <result column="id" property="id"/>
        <result column="company_s_name" property="companySName"/>
        <result column="platform_service_provider" property="platformServiceProvider"/>
        <result column="acceptance_certificate" property="acceptanceCertificate"/>
        <result column="payment_order_status" property="paymentOrderStatus"/>
        <result column="payment_inventory" property="paymentInventory"/>
        <result column="payment_date" property="paymentDate"/>
        <result column="subpackage_payment" property="subpackagePayment"/>
        <association property="taskVo" javaType="com.example.mybatis.vo.TaskVo">
            <result column="task_code" property="taskCode"/>
            <result column="task_name" property="taskName"/>
            <result column="release_date" property="releaseDate"/>
            <result column="deadline_date" property="deadlineDate"/>
            <result column="industry_type" property="industryType"/>
        </association>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, payment_order_id, merchant_id, company_s_name, real_money, tax_id, platform_service_provider, company_contract, payment_inventory, turnkey_project_payment, subpackage_payment, task_id, acceptance_certificate, tax_status, composite_tax, merchant_tax, recevice_tax, package_status,payment_order_status, payment_date, create_date, update_date
    </sql>

    <!--    查询最近30天-->
    <select id="selectBy30Day" parameterType="java.lang.String" resultType="decimal">
        select SUM(real_money) 'total_money' from tb_payment_order where
        date_sub(curdate(), INTERVAL 30 DAY) &lt;= date(`payment_date`)
        and payment_order_status = 2 and merchant_id = #{merchantId}
    </select>

    <!--查询总支付-->
    <select id="selectTotal" parameterType="java.lang.String" resultType="decimal">
        select SUM(real_money) 'total_money' from tb_payment_order where
        payment_order_status = 2 and merchant_id = #{merchantId}
    </select>

    <!--查询今天已支付订单-->
    <select id="selectDay" parameterType="list" resultMap="BaseResultMap">
        select * from tb_payment_order where to_days(payment_date) = to_days(now())
        and payment_order_status = 2 and merchant_id = #{merchantId}
    </select>

    <!--查询本周已支付的订单-->
    <select id="selectWeek" parameterType="list" resultMap="BaseResultMap">
      SELECT * FROM tb_payment_order WHERE YEARWEEK(date_format(payment_date,'%Y-%m-%d')) = YEARWEEK(now())
      and payment_order_status = 2 and merchant_id = #{merchantId}
    </select>

    <!--查询本月已支付的订单-->
    <select id="selectMonth" parameterType="list" resultMap="BaseResultMap">
        SELECT * FROM tb_payment_order WHERE DATE_FORMAT( payment_date, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
        and payment_order_status = 2 and merchant_id = #{merchantId}
    </select>

    <!--查询今年已支付的订单-->
    <select id="selectYear" parameterType="list" resultMap="BaseResultMap">
         select * from `tb_payment_order` where YEAR(payment_date)=YEAR(NOW())
         and payment_order_status = 2 and merchant_id = #{merchantId}
    </select>

    <!--多条件查询-->
    <select id="selectMany" resultMap="BaseResultMap" parameterType="list">
        select
        id,company_s_name, tax_id, platform_service_provider, company_contract, payment_inventory,
        turnkey_project_payment, subpackage_payment, task_id, acceptance_certificate,payment_order_status, create_date
        from tb_payment_order
        <where>
            merchant_id = #{merchantId}
            <if test="id != null and id!=''">
                and id = #{id}
            </if>
            <if test="taxId != null and taxId!=''">
                and tax_id = #{taxId}
            </if>
            <if test="beginDate != null and beginDate!=''">
                and date(create_date) &gt;= #{beginDate}
            </if>
            <if test="endDate != null and endDate!=''">
                and date(create_date) &lt;= #{endDate}
            </if>
        </where>
        LIMIT #{page},#{pageSize}
    </select>

    <!--总记录数-->
    <select id="selectManyCount" parameterType="int" resultType="int">
        select COUNT(1) from tb_payment_order
        <where>
            merchant_id = #{merchantId}
            <if test="id != null and id!=''">
                and id = #{id}
            </if>
            <if test="taxId != null and taxId!=''">
                and tax_id = #{taxId}
            </if>
            <if test="beginDate != null and beginDate!=''">
                and date(create_date) &gt;= #{beginDate}
            </if>
            <if test="endDate != null and endDate!=''">
                and date(create_date) &lt;= #{endDate}
            </if>
        </where>
    </select>






    <!--平台端查询...............-->

    <!--    查询最近30天-->
    <select id="selectBy30Daypaas" parameterType="list" resultType="decimal">
        select SUM(real_money) 'total_money' from tb_payment_order where
        date_sub(curdate(), INTERVAL 30 DAY) &lt;= date(`payment_date`)
        and payment_order_status &gt;= 2 and merchant_id in
        <foreach collection="list" index="index" item="merchantIds" open="(" separator="," close=")">
            #{merchantIds}
        </foreach>
    </select>

    <!--查询总支付-->
    <select id="selectTotalpaas" parameterType="list" resultType="decimal">
        select SUM(real_money) 'total_money' from tb_payment_order where
        payment_order_status &gt;= 2 and merchant_id in
        <foreach collection="list" index="index" item="merchantIds" open="(" separator="," close=")">
            #{merchantIds}
        </foreach>
    </select>

    <!--查询今天已支付订单-->
    <select id="selectDaypaas" parameterType="list" resultMap="BaseResultMap">
        select * from tb_payment_order where to_days(payment_date) = to_days(now())
        and payment_order_status &gt;= 2 and merchant_id in
        <foreach collection="list" index="index" item="merchantIds" open="(" separator="," close=")">
            #{merchantIds}
        </foreach>
    </select>

    <!--查询本周已支付的订单-->
    <select id="selectWeekpaas" parameterType="list" resultMap="BaseResultMap">
      SELECT * FROM tb_payment_order WHERE YEARWEEK(date_format(payment_date,'%Y-%m-%d')) = YEARWEEK(now())
      and payment_order_status &gt;= 2 and merchant_id in
        <foreach collection="list" index="index" item="merchantIds" open="(" separator="," close=")">
            #{merchantIds}
        </foreach>
    </select>

    <!--查询本月已支付的订单-->
    <select id="selectMonthpaas" parameterType="list" resultMap="BaseResultMap">
        SELECT * FROM tb_payment_order WHERE DATE_FORMAT( payment_date, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
        and payment_order_status &gt;= 2 and merchant_id in
        <foreach collection="list" index="index" item="merchantIds" open="(" separator="," close=")">
            #{merchantIds}
        </foreach>
    </select>

    <!--查询今年已支付的订单-->
    <select id="selectYearpaas" parameterType="list" resultMap="BaseResultMap">
         select * from `tb_payment_order` where YEAR(payment_date)=YEAR(NOW())
         and payment_order_status &gt;= 2 and merchant_id in
        <foreach collection="list" index="index" item="merchantIds" open="(" separator="," close=")">
            #{merchantIds}
        </foreach>
    </select>


    <!--多条件查询-->
    <select id="selectManyPaas" resultMap="BaseResultMap" parameterType="list">
        select
        id,company_s_name, tax_id, platform_service_provider, company_contract, payment_inventory,
        turnkey_project_payment, subpackage_payment, task_id, acceptance_certificate,payment_order_status, create_date
        from tb_payment_order
        <where>
            merchant_id in
            <foreach collection="merchantIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            <if test="merchantName != null and merchantName!=''">
                and company_name = #{merchantName}
            </if>
            <if test="id != null and id!=''">
                and id = #{id}
            </if>
            <if test="taxId != null and taxId!=''">
                and tax_id = #{taxId}
            </if>
            <if test="beginDate != null and beginDate!=''">
                and date(create_date) &gt;= #{beginDate}
            </if>
            <if test="endDate != null and endDate!=''">
                and date(create_date) &lt;= #{endDate}
            </if>
        </where>
        LIMIT #{page},#{pageSize}
    </select>

    <!--总记录数-->
    <select id="selectManyCountPaas" parameterType="int" resultType="int">
        select COUNT(1) from tb_payment_order
        <where>
            merchant_id in
            <foreach collection="merchantIds" index="index" item="merchantIds" open="(" separator="," close=")">
                #{merchantIds}
            </foreach>
            <if test="merchantName != null and merchantName!=''">
                and company_name = #{merchantName}
            </if>
            <if test="id != null and id!=''">
                and id = #{id}
            </if>
            <if test="taxId != null and taxId!=''">
                and tax_id = #{taxId}
            </if>
            <if test="beginDate != null and beginDate!=''">
                and date(create_date) &gt;= #{beginDate}
            </if>
            <if test="endDate != null and endDate!=''">
                and date(create_date) &lt;= #{endDate}
            </if>
        </where>
    </select>

    <select id="getPaymentOrderById" resultMap="PaymentOrderById">
        SELECT
        po.id,po.company_s_name,po.platform_service_provider,
        po.acceptance_certificate,po.payment_order_status,
        po.payment_inventory,po.payment_date,po.subpackage_payment,
        t.task_code,t.task_name,t.release_date,t.deadline_date,t.industry_type
        FROM tb_payment_order AS po
        LEFT JOIN tb_task as t ON po.task_id=t.id
        WHERE po.id=#{id}
    </select>

    <resultMap id="BillingInfo" type="com.example.mybatis.vo.BillingInfoVo">
        <result column="id" property="id"/>
        <result column="company_s_name" property="companySName"/>
        <result column="platform_service_provider" property="platformServiceProvider"/>
        <result column="real_money" property="realMoney"/>
        <result column="payment_date" property="paymentDate"/>
    </resultMap>

    <select id="getBillingInfo" resultMap="BillingInfo">
        SELECT id,company_s_name,platform_service_provider,real_money,payment_date
        from tb_payment_order
        WHERE id=#{id}
    </select>

</mapper>
