<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.PaymentHistoryDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="paymentHistoryListVO" type="com.example.mybatis.vo.PaymentHistoryListVO">
        <id column="id" property="id" />
        <result column="trade_no" property="tradeNo" />
        <result column="outer_trade_no" property="outerTradeNo" />
        <result column="order_type" property="orderType" />
        <result column="payment_method" property="paymentMethod" />
        <result column="amount" property="amount" />
        <result column="trade_status" property="tradeStatus" />
        <result column="trade_fail_reason" property="tradeFailReason" />
        <result column="create_date" property="createDate" />
    </resultMap>

    <select id="queryPaymentHistoryList" resultMap="paymentHistoryListVO">
        SELECT t1.id, t1.trade_no, t1.outer_trade_no, t1.order_type, t1.payment_method, t1.amount, t1.trade_status, t1.trade_fail_reason, t1.create_date FROM tb_payment_history t1
        WHERE t1.trade_object = #{tradeObject} AND t1.trade_object_id = #{tradeObjectId}
        <if test="beginDate != null">
            AND DATEDIFF(t1.create_date, #{beginDate}) <![CDATA[ >= ]]> 0
        </if>
        <if test="endDate != null">
            AND DATEDIFF(t1.create_date, #{endDate}) <![CDATA[ <= ]]> 0
        </if>
        <if test="orderType != null">
            AND t1.order_type = #{orderType}
        </if>
        <if test="paymentMethod != null">
            AND t1.payment_method = #{paymentMethod}
        </if>
        <if test="tradeStatus != null">
            AND t1.trade_status = #{tradeStatus}
        </if>
        ORDER BY t1.create_date DESC
    </select>

</mapper>
