<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.RegulatorDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatis.entity.Regulator">
        <id column="id" property="id"/>
        <result column="regulator_name" property="regulatorName"/>
        <result column="address" property="address"/>
        <result column="linkman" property="linkman"/>
        <result column="link_mobile" property="linkMobile"/>
        <result column="user_name" property="userName"/>
        <result column="pass_word" property="passWord"/>
        <result column="status" property="status"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, regulator_name, address, linkman, link_mobile, user_name, pass_word, status, , update_date
    </sql>
    
    <select id="selectRegulator" parameterType="list" resultMap="BaseResultMap">
        SELECT
        id,
        regulator_name,
        user_name,
        linkman,
        link_mobile,
        status,
        create_date
        FROM tb_regulator
        <where>
            <if test="regulatorName != null and regulatorName != ''">
                AND regulator_name like CONCAT('%',#{regulatorName},'%') 
            </if>
            <if test="startDate != null and startDate != ''">
                AND date(create_date) &gt;= #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                AND date(create_date) &lt;= #{endDate}
            </if>
        </where>
    </select>

</mapper>
