<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.RegulatorDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatis.entity.Regulator">
        <id column="id" property="id"/>
        <result column="regulator_name" property="regulatorName"/>
        <result column="address" property="address"/>
        <result column="linkman" property="linkman"/>
        <result column="link_mobile" property="linkMobile"/>
        <result column="user_name" property="userName"/>
        <result column="pass_word" property="passWord"/>
        <result column="status" property="status"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, regulator_name, address, linkman, link_mobile, user_name, pass_word, status, , update_date
    </sql>

    <select id="selectRegulator" parameterType="list" resultMap="BaseResultMap">
        SELECT
        id,
        regulator_name,
        user_name,
        linkman,
        link_mobile,
        status,
        create_date
        FROM tb_regulator
        <where>
            <if test="regulatorName != null and regulatorName != ''">
                AND regulator_name like CONCAT('%',#{regulatorName},'%')
            </if>
            <if test="startDate != null and startDate != ''">
                AND date(create_date) &gt;= #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                AND date(create_date) &lt;= #{endDate}
            </if>
        </where>
    </select>

    <resultMap id="RegulatorWorkerPO" type="com.example.mybatis.po.RegulatorWorkerPO">
        <result column="id" property="workerId"/>
        <result column="account_name" property="workerName"/>
        <result column="mobile_code" property="mobileCode"/>
        <result column="idcard_code" property="idCardCode"/>
        <result column="total_order_count" property="totalOrderCount"/>
        <result column="total_money" property="totalMoney"/>
        <result column="many_order_count" property="manyOrderCount"/>
        <result column="many_money" property="manyMoney"/>
        <result column="many_tax_money" property="manyTaxMoney"/>
        <result column="total_tax_money" property="totalTaxMoney"/>
        <result column="attestation" property="attestation"/>
        <result column="agreementUrl" property="agreementUrl"/>
        <result column="create_date" property="createDate"/>
    </resultMap>

    <sql id="RegulatorWorkerTable">
        ((SELECT
        a.worker_id,
        IFNULL(total_order_count,0) AS 'total_order_count',
        IFNULL(total_money,0) AS 'total_money',
        IFNULL(many_order_count,0) AS 'many_order_count',
        IFNULL(many_money,0) AS 'many_money',
        IFNULL(many_tax_money,0) AS 'many_tax_money',
        IFNULL(total_tax_money,0) AS 'total_tax_money'
        FROM(
        SELECT
        worker_id,
        count(1) AS 'total_order_count',
        sum(real_money) AS 'total_money',
        sum(tax_amount) AS 'total_tax_money'
        FROM tb_payment_inventory
        WHERE package_status = 0
        AND payment_order_id in
        <foreach collection="paymentOrderIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        GROUP BY worker_id , package_status) a
        LEFT JOIN (
        SELECT
        worker_id,
        count(1) as 'many_order_count',
        sum(real_money) as 'many_money',
        sum(tax_amount) AS 'many_tax_money'
        FROM tb_payment_inventory
        WHERE package_status = 1
        AND payment_order_id in
        <foreach collection="paymentOrderIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        GROUP BY worker_id , package_status) b
        ON a.worker_id = b.worker_id
        )
        UNION (
        SELECT
        c.worker_id,
        IFNULL(total_order_count,0) AS 'total_order_count',
        IFNULL(total_money,0) AS 'total_money',
        IFNULL(many_order_count,0) AS 'many_order_count',
        IFNULL(many_money,0) AS 'many_money',
        IFNULL(many_tax_money,0) AS 'many_tax_money',
        IFNULL(total_tax_money,0) AS 'total_tax_money'
        FROM (
        SELECT
        worker_id,
        count(1) as 'total_order_count',
        sum(real_money) as 'total_money',
        sum(tax_amount) AS 'total_tax_money'
        FROM tb_payment_inventory
        WHERE package_status = 0
        AND payment_order_id in
        <foreach collection="paymentOrderIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        GROUP BY worker_id , package_status) c
        RIGHT JOIN(
        SELECT
        worker_id,
        count(1) as 'many_order_count',
        sum(real_money) as 'many_money',
        sum(tax_amount) AS 'many_tax_money'
        FROM tb_payment_inventory
        WHERE package_status = 1
        AND payment_order_id in
        <foreach collection="paymentOrderIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        GROUP BY worker_id , package_status) d
        ON c.worker_id = d.worker_id
        ))
    </sql>

    <!--查询所监管的创客-->
    <select id="selectRegulatorWorker" resultMap="RegulatorWorkerPO">
        SELECT
        f.total_order_count,
        f.total_money,
        f.many_order_count,
        f.many_money,
        f.many_tax_money,
        f.total_tax_money,
        e.id,
        e.account_name,
        e.mobile_code,
        e.idcard_code,
        e.attestation,
        e.agreementUrl,
        e.create_date
        FROM tb_worker e
        JOIN
        <include refid="RegulatorWorkerTable"/>
        f
        ON e.id = f.worker_id
        <where>
            <if test="workerId != null and workerId != '' ">
                AND e.id like CONCAR('%',#{workerId},'%')
            </if>
            <if test="workerName != null and workerName != '' ">
                AND e.account_name like CONCAR('%',#{workerName},'%')
            </if>
            <if test="idCardCode != null and idCardCode != '' ">
                AND e.idcard_code like CONCAR('%',#{idCardCode},'%')
            </if>
            <if test="startDate != null and startDate != '' ">
                AND e.create_date &gt;= #{startDate}
            </if>
            <if test="endDate != null and endDate != '' ">
                AND e.create_date &lt;= #{endDate}
            </if>
        </where>
    </select>

    <!--查询所监管的创客-->
    <select id="selectExportRegulatorWorker" resultMap="RegulatorWorkerPO">
        SELECT
        f.total_order_count,
        f.total_money,
        f.many_order_count,
        f.many_money,
        f.many_tax_money,
        f.total_tax_money,
        e.id,
        e.account_name,
        e.mobile_code,
        e.idcard_code,
        e.attestation,
        e.agreementUrl,
        e.create_date
        FROM tb_worker e
        JOIN
        <include refid="RegulatorWorkerTable"/>
        f
        ON e.id = f.worker_id
        WHERE e.id IN
        <foreach collection="workerIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <resultMap id="RegulatorMerchantInfoPO" type="com.example.mybatis.po.RegulatorMerchantInfoPO">
        <result column="id" property="companyId"/>
        <result column="company_name" property="companyName"/>
        <result column="contract" property="contract"/>
        <result column="count_total_order" property="countTotalOrder"/>
        <result column="count_total_money" property="countTotalMoney"/>
        <result column="count_many_order" property="countManyOrder"/>
        <result column="count_many_money" property="countManyMoney"/>
        <result column="audit_status" property="auditStatus"/>
        <result column="create_date" property="createDate"/>
    </resultMap>

    <sql id="RegulatorMerchantSql">
        SELECT ci.id,
        ci.company_name,
        ci.contract,
        po.count_total_order,
        po.count_total_money,
        pom.count_many_order,
        pom.count_many_money,
        ci.audit_status,
        ci.create_date
        FROM tb_company_info ci
        JOIN (SELECT COUNT(1) AS 'count_total_order',
        SUM(real_money) AS 'count_total_money',
        company_id
        FROM tb_payment_order
        WHERE tax_id IN
        <foreach collection="taxIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        GROUP BY company_id) po
        ON ci.id = po.company_id
        JOIN (SELECT COUNT(1) AS 'count_many_order',
        SUM(real_money) AS 'count_many_money',
        company_id
        FROM tb_payment_order_many
        WHERE tax_id IN
        <foreach collection="taxIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        GROUP BY company_id) pom
        ON ci.id = pom.company_id
    </sql>

    <!--查询所监管的商户-->
    <select id="selectRegulatorMerchant" resultMap="RegulatorMerchantInfoPO">
        <include refid="RegulatorMerchantSql"/>
        <where>
            <if test="companyName != null and workerId != '' ">
                AND ci.company_name like CONCAR('%',#{companyName},'%')
            </if>
            <if test="companyId != null and companyId != '' ">
                AND ci.id like CONCAR('%',#{companyId},'%')
            </if>
            <if test="startDate != null and startDate != '' ">
                AND ci.create_date &gt;= #{startDate}
            </if>
            <if test="endDate != null and endDate != '' ">
                AND ci.create_date &lt;= #{endDate}
            </if>
        </where>
    </select>

    <!--导出所监管的商户-->
    <select id="selectExportRegulatorMerchant" resultMap="RegulatorMerchantInfoPO">
        <include refid="RegulatorMerchantSql"/>
        <where>
            ci.id in
            <foreach collection="companyIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>

</mapper>
