<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.RegulatorDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatis.entity.Regulator">
        <id column="id" property="id"/>
        <result column="regulator_name" property="regulatorName"/>
        <result column="address" property="address"/>
        <result column="linkman" property="linkman"/>
        <result column="link_mobile" property="linkMobile"/>
        <result column="user_name" property="userName"/>
        <result column="pass_word" property="passWord"/>
        <result column="status" property="status"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, regulator_name, address, linkman, link_mobile, user_name, pass_word, status, , update_date
    </sql>
    
    <select id="selectRegulator" parameterType="list" resultMap="BaseResultMap">
        SELECT
        id,
        regulator_name,
        user_name,
        linkman,
        link_mobile,
        status,
        create_date
        FROM tb_regulator
        <where>
            <if test="regulatorName != null and regulatorName != ''">
                AND regulator_name like CONCAT('%',#{regulatorName},'%') 
            </if>
            <if test="startDate != null and startDate != ''">
                AND date(create_date) &gt;= #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                AND date(create_date) &lt;= #{endDate}
            </if>
        </where>
    </select>

    <resultMap id="RegulatorWorkerPO" type="com.example.mybatis.po.RegulatorWorkerPO">
        <result column="worker_id" property="workerId"/>
        <result column="worker_name" property="workerName"/>
        <result column="mobile_code" property="mobileCode"/>
        <result column="id_card_code" property="idCardCode"/>
        <result column="total_order_count" property="totalOrderCount"/>
        <result column="total_money" property="totalMoney"/>
        <result column="many_order_count" property="manyOrderCount"/>
        <result column="many_money" property="manyMoney"/>
        <result column="attestation" property="attestation"/>
        <result column="agreementUrl" property="agreementUrl"/>
        <result column="create_date" property="createDate"/>
    </resultMap>

    <!--查询所监管的创客-->
    <select id="selectRegulatorWorker" resultMap="RegulatorWorkerPO">
        SELECT
        f.*,
        e.attestation,
        e.agreementUrl,
        e.create_date
        FROM tb_worker e
        JOIN
        ((SELECT
        a.worker_id,
        a.worker_name,
        a.mobile_code,
        a.id_card_code,
        IFNULL(total_order_count,0) AS 'total_order_count',
        IFNULL(total_money,0) AS 'total_money',
        IFNULL(many_order_count,0) AS 'many_order_count',
        IFNULL(many_money,0) AS 'many_money'
        FROM(
        SELECT
        worker_id,
        worker_name,
        mobile_code,
        id_card_code,
        count(1) AS 'total_order_count',
        sum(real_money) AS 'total_money'
        FROM tb_payment_inventory
        WHERE package_status = 0
        AND payment_order_id in
        <foreach collection="paymentOrderIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        GROUP BY worker_id , package_status) a
        LEFT JOIN (
        SELECT
        worker_id,
        worker_name,
        mobile_code,id_card_code,
        count(1) as 'many_order_count',
        sum(real_money) as 'many_money'
        FROM tb_payment_inventory
        WHERE package_status = 1
        AND payment_order_id in
        <foreach collection="paymentOrderIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        GROUP BY worker_id , package_status) b
        ON a.worker_id = b.worker_id
        )
        UNION (
        SELECT
        c.worker_id,
        c.worker_name,
        c.mobile_code,
        c.id_card_code,
        IFNULL(total_order_count,0) AS 'total_order_count',
        IFNULL(total_money,0) AS 'total_money',
        IFNULL(many_order_count,0) AS 'many_order_count',
        IFNULL(many_money,0) AS 'many_money'
        FROM (
        SELECT worker_id,
        worker_name,
        mobile_code,
        id_card_code,
        count(1) as 'total_order_count',
        sum(real_money) as 'total_money'
        FROM tb_payment_inventory
        WHERE package_status = 0
        AND payment_order_id in
        <foreach collection="paymentOrderIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        GROUP BY worker_id , package_status) c
        RIGHT JOIN(
        SELECT
        worker_id,
        worker_name,
        mobile_code,
        id_card_code,count(1) as 'many_order_count',
         sum(real_money) as 'many_money'
        FROM tb_payment_inventory
        WHERE package_status = 1
        AND payment_order_id in
        <foreach collection="paymentOrderIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        GROUP BY worker_id , package_status) d
        ON c.worker_id = d.worker_id
        ))f
        ON e.id =f.worker_id
        <where>
            <if test="workerId != null and workerId != '' ">
                AND f.worker_id like CONCAR('%',#{workerId},'%')
            </if>
            <if test="workerName != null and workerName != '' ">
                AND f.worker_name like CONCAR('%',#{workerName},'%')
            </if>
            <if test="idCardCode != null and idCardCode != '' ">
                AND f.id_card_code like CONCAR('%',#{idCardCode},'%')
            </if>
            <if test="startDate != null and startDate != '' ">
                AND e.create_date like CONCAR('%',#{startDate},'%')
            </if>
            <if test="endDate != null and endDate != '' ">
                AND e.create_date like CONCAR('%',#{endDate},'%')
            </if>
        </where>
    </select>

    <!--查询所监管的创客-->
    <select id="selectExportRegulatorWorker" resultMap="RegulatorWorkerPO">
        SELECT
        f.*,
        e.attestation,
        e.agreementUrl,
        e.create_date
        FROM tb_worker e
        JOIN
        ((SELECT
        a.worker_id,
        a.worker_name,
        a.mobile_code,
        a.id_card_code,
        IFNULL(total_order_count,0) AS 'total_order_count',
        IFNULL(total_money,0) AS 'total_money',
        IFNULL(many_order_count,0) AS 'many_order_count',
        IFNULL(many_money,0) AS 'many_money'
        FROM(
        SELECT
        worker_id,
        worker_name,
        mobile_code,
        id_card_code,
        count(1) AS 'total_order_count',
        sum(real_money) AS 'total_money'
        FROM tb_payment_inventory
        WHERE package_status = 0
        AND payment_order_id in
        <foreach collection="paymentOrderIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        GROUP BY worker_id , package_status) a
        LEFT JOIN (
        SELECT
        worker_id,
        worker_name,
        mobile_code,id_card_code,
        count(1) as 'many_order_count',
        sum(real_money) as 'many_money'
        FROM tb_payment_inventory
        WHERE package_status = 1
        AND payment_order_id in
        <foreach collection="paymentOrderIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        GROUP BY worker_id , package_status) b
        ON a.worker_id = b.worker_id
        )
        UNION (
        SELECT
        c.worker_id,
        c.worker_name,
        c.mobile_code,
        c.id_card_code,
        IFNULL(total_order_count,0) AS 'total_order_count',
        IFNULL(total_money,0) AS 'total_money',
        IFNULL(many_order_count,0) AS 'many_order_count',
        IFNULL(many_money,0) AS 'many_money'
        FROM (
        SELECT worker_id,
        worker_name,
        mobile_code,
        id_card_code,
        count(1) as 'total_order_count',
        sum(real_money) as 'total_money'
        FROM tb_payment_inventory
        WHERE package_status = 0
        AND payment_order_id in
        <foreach collection="paymentOrderIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        GROUP BY worker_id , package_status) c
        RIGHT JOIN(
        SELECT
        worker_id,
        worker_name,
        mobile_code,
        id_card_code,count(1) as 'many_order_count',
        sum(real_money) as 'many_money'
        FROM tb_payment_inventory
        WHERE package_status = 1
        AND payment_order_id in
        <foreach collection="paymentOrderIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        GROUP BY worker_id , package_status) d
        ON c.worker_id = d.worker_id
        ))f
        ON e.id =f.worker_id
        AND f.worker_id IN
        <foreach collection="workerIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>
