<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.SubpackageDao">


    <resultMap id="summaryList" type="com.example.mybatis.vo.SubpackageVO">
        <id column="id" property="id"/>
        <result column="company_s_name" property="companySName"/>
        <result column="platform_service_provider" property="platformServiceProvider"/>
        <result column="maker_tax_url" property="makerTaxUrl"/>
        <result column="maker_invoice_url" property="makerInvoiceUrl"/>
        <result column="is_subpackage" property="isSubpackage"/>
        <result column="invoice_date" property="invoiceDate"/>
        <collection property="list" ofType="com.example.mybatis.vo.OrderSubpackageVO">
            <id column="pid" property="id"/>
            <result column="payment_inventory" property="paymentInventory"/>
            <result column="turnkey_project_payment" property="turnkeyProjectPayment"/>
        </collection>
    </resultMap>

    <resultMap id="summary" type="com.example.mybatis.vo.SubpackageVO">
        <id column="id" property="id"/>
        <result column="company_s_name" property="companySName"/>
        <result column="platform_service_provider" property="platformServiceProvider"/>
        <result column="maker_tax_url" property="makerTaxUrl"/>
        <result column="maker_invoice_url" property="makerInvoiceUrl"/>
        <result column="total_amount" property="totalAmount"/>
        <result column="payment_date" property="paymentDate"/>
        <result column="payment_order_status" property="paymentOrderStatus"/>
        <result column="invoice_date" property="invoiceDate"/>
        <collection property="list" ofType="com.example.mybatis.vo.OrderSubpackageVO">
            <id column="pid" property="id"/>
            <result column="payment_inventory" property="paymentInventory"/>
            <result column="turnkey_project_payment" property="turnkeyProjectPayment"/>
            <result column="acceptance_certificate" property="acceptanceCertificate"/>
            <result column="subpackage_payment" property="subpackagePayment"/>
        </collection>
        <collection property="taskVOList" ofType="com.example.mybatis.vo.TaskVO">
            <result column="task_code" property="taskCode"/>
            <result column="task_name" property="taskName"/>
        </collection>
    </resultMap>

    <resultMap id="SubpackageInfo" type="com.example.mybatis.vo.SubpackageInfoVO">
        <result column="invoice_category" property="invoiceCategory"/>
        <result column="maker_invoice_desc" property="makerInvoiceDesc"/>
        <result column="maker_invoice_url" property="makerInvoiceUrl"/>
        <result column="maker_tax_url" property="makerTaxUrl"/>
    </resultMap>

    <resultMap id="InvoiceDetailsByPayId" type="com.example.mybatis.vo.InvoiceDetailsVO">
        <result column="worker_id" property="workerId"/>
        <result column="worker_name" property="workerName"/>
        <result column="mobile_code" property="mobileCode"/>
        <result column="id_card_code" property="idCardCode"/>
        <result column="bank_code" property="bankCode"/>
        <result column="real_money" property="realMoney"/>
    </resultMap>

    <!--通用查询-->
    <sql id="que">

    </sql>

    <select id="getSummaryList" resultMap="summaryList">
        SELECT mti.id,po.company_s_name,po.platform_service_provider,mti.maker_invoice_url,mti.maker_tax_url,
        po.is_subpackage,mti.invoice_date,po.id as pid,po.payment_inventory,po.turnkey_project_payment
        FROM tb_maker_total_invoice as mti
        INNER JOIN tb_application_payment as ap ON ap.payment_order_id
        INNER JOIN tb_invoice_application as ia ON ia.id= ap.invoice_application_id
        INNER JOIN tb_payment_order as po ON po.id=ap.payment_order_id
        INNER JOIN tb_invoice as i ON ia.id=i.application_id
        WHERE po.is_subpackage = 1
        <if test="param3 != null and param3 != ''">
            AND po.company_id=#{param3}
        </if>
        <if test="param2.platformServiceProvider != null and param2.platformServiceProvider != ''">
            AND po.tax_id=#{param2.platformServiceProvider}
        </if>
        <if test="param2.applicationDateOne != null and param2.applicationDateOne != ''">
            AND ia.application_date>=#{param2.applicationDateOne}
        </if>
        <if test="param2.applicationDateTwo != null and param2.applicationDateTwo != ''">
            AND ia.application_date <![CDATA[<=]]> #{param2.applicationDateTwo}
        </if>
        order by mti.invoice_date DESC
    </select>


    <select id="getSummary" resultMap="summary">
        SELECT mti.id,po.company_s_name,po.platform_service_provider,mti.maker_tax_url,mti.maker_invoice_url,mti.total_amount,po.payment_date,
        po.payment_order_status,mti.invoice_date,po.id as pid,po.payment_inventory,po.turnkey_project_payment,po.acceptance_certificate,
        po.subpackage_payment,t.task_code,t.task_name
        FROM tb_maker_total_invoice as mti
        INNER JOIN tb_application_payment as ap ON ap.payment_order_id
        INNER JOIN tb_invoice_application as ia ON ia.id= ap.invoice_application_id
        INNER JOIN tb_payment_order as po ON po.id=ap.payment_order_id
        INNER JOIN tb_invoice as i ON ia.id=i.application_id
        LEFT JOIN tb_task as t ON t.id=po.id
        WHERE po.is_subpackage=1 and mti.id=#{invoiceId}
    </select>

    <select id="getSubpackageInfoById" resultMap="SubpackageInfo">
        SELECT invoice_category,maker_invoice_desc,maker_invoice_url,maker_tax_url
        FROM tb_maker_total_invoice
        WHERE id=#{invoiceId}
    </select>
    <select id="getListById" resultMap="InvoiceDetailsByPayId">
        SELECT pi.worker_id,pi.worker_name,pi.mobile_code,pi.id_card_code,pi.bank_code,pi.real_money
        FROM tb_maker_total_invoice as mti
        INNER JOIN tb_invoice_list il ON il.maker_total_invoice_id=mti.id
        INNER JOIN tb_invoice i ON i.id=il.invoice_id
        INNER JOIN tb_invoice_application AS ia ON ia.id = i.application_id
        INNER JOIN tb_application_payment AS ap ON ap.invoice_application_id = ia.id
        INNER JOIN tb_payment_order AS po ON po.id = ap.payment_order_id
        INNER JOIN tb_payment_inventory AS pi ON pi.payment_order_id = po.id
        WHERE mti.id=#{invoiceId}
    </select>

    <resultMap id="PaymentOrderById" type="com.example.mybatis.vo.PaymentOrderVO">
        <result column="id" property="id"/>
        <result column="company_s_name" property="companySName"/>
        <result column="platform_service_provider" property="platformServiceProvider"/>
        <result column="acceptance_certificate" property="acceptanceCertificate"/>
        <result column="payment_order_status" property="paymentOrderStatus"/>
        <result column="payment_inventory" property="paymentInventory"/>
        <result column="payment_date" property="paymentDate"/>
        <result column="subpackage_payment" property="subpackagePayment"/>
        <association property="taskVo" javaType="com.example.mybatis.vo.TaskVO">
            <result column="task_code" property="taskCode"/>
            <result column="task_name" property="taskName"/>
        </association>
    </resultMap>

    <select id="queryPaymentOrderInfo" resultMap="PaymentOrderById">
        SELECT
            po.id,
            po.company_s_name,
            po.platform_service_provider,
            po.acceptance_certificate,
            po.payment_order_status,
            po.payment_inventory,
            po.payment_date,
            po.subpackage_payment,
            t.task_code,
            t.task_name
        FROM
            tb_maker_total_invoice mti
        INNER JOIN tb_invoice_list il ON il.maker_total_invoice_id = mti.id
        INNER JOIN tb_invoice i ON i.id = il.invoice_id
        INNER JOIN tb_invoice_application ia ON ia.id = i.application_id
        INNER JOIN tb_application_payment ap ON ap.invoice_application_id = ia.id
        INNER JOIN tb_payment_order po ON po.id = ap.payment_order_id
        LEFT JOIN tb_task t ON t.id = po.task_id
        where mti.id=#{invoiceId}
    </select>
</mapper>
