<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.TaskDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatis.entity.Task">
        <id column="id" property="id"/>
        <result column="merchant_id" property="merchantId"/>
        <result column="merchant_name" property="merchantName"/>
        <result column="invoice_id" property="invoiceId"/>
        <result column="task_code" property="taskCode"/>
        <result column="task_name" property="taskName"/>
        <result column="release_date" property="releaseDate"/>
        <result column="deadline_date" property="deadlineDate"/>
        <result column="task_desc" property="taskDesc"/>
        <result column="industry_type" property="industryType"/>
        <result column="task_cost_min" property="taskCostMin"/>
        <result column="task_cost_max" property="taskCostMax"/>
        <result column="task_skill" property="taskSkill"/>
        <result column="release_time" property="releaseTime"/>
        <result column="deadline_time" property="deadlineTime"/>
        <result column="upper_limit" property="upperLimit"/>
        <result column="cooperate_mode" property="cooperateMode"/>
        <result column="task_mode" property="taskMode"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
        <result column="state" property="state"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, merchant_id, invoice_id, task_name, release_date, task_desc, industry_type, task_cost_min, task_cost_max, task_skill, task_begin_time, task_end_time, upper_limit, cooperate_mode, task_mode, create_date, update_date, state
    </sql>


    <sql id="task_list">
       select * from tb_task
    </sql>

    <!--查询参数-->
    <sql id="query">
        WHERE 1=1

    </sql>

    <!--查询总条数/* LIMIT #{currPage},#{pageSize}*/-->
    <select id="count" resultType="int">
        select count(1) from tb_task
        <include refid="query"/>
    </select>

    <!--查询所有的任务列表-->
    <select id="selectLists" resultMap="BaseResultMap">
        select * from tb_task
        where 1=1
        AND merchant_id = #{param3}
        <if test="taskListDto.taskCode != null and taskListDto.taskCode != ''">
            AND task_code LIKE CONCAT ('%',#{taskListDto.taskCode},'%')
        </if>
        <if test="taskListDto.taskName != null and taskListDto.taskName != ''">
            AND task_name LIKE CONCAT ('%',#{taskListDto.taskName},'%')
        </if>
        <if test="taskListDto.cooperateMode != null and taskListDto.cooperateMode != ''">
            AND cooperate_mode= #{taskListDto.cooperateMode}
        </if>
        <if test="taskListDto.releaseDate != null and taskListDto.releaseDate != ''">
            AND release_date >= #{taskListDto.releaseDate}
        </if>
        <if test="taskListDto.deadlineDate != null and taskListDto.deadlineDate != ''">
            AND deadline_date <![CDATA[<=]]> #{taskListDto.deadlineDate}
        </if>
        order by create_date desc
    </select>

    <!--删除任务信息-->
    <delete id="delete">
        DELETE FROM tb_task WHERE id=#{id}
    </delete>

    <!--添加任务详情-->
    <insert id="addTask" parameterType="com.example.mybatis.dto.TaskDto">
        INSERT INTO tb_task (id,merchant_id,task_name,task_code,
        release_date,deadline_date,task_desc,industry_type,task_cost_min,
        task_cost_max,task_skill,release_time,deadline_time,upper_limit,cooperate_mode,task_mode,state)
        VALUES (#{id},#{merchantId},#{taskName},#{taskCode}
        ,#{releaseDate},#{deadlineDate},#{taskDesc},#{industryType},#{taskCostMin},
        #{taskCostMax},#{taskSkill},#{releaseTime},#{deadlineTime},#{upperLimit},#{cooperateMode},#{taskMode},#{state})
    </insert>

    <!--根据任务id查询任务详情-->
    <select id="setTaskById" resultMap="BaseResultMap">
        SELECT task_code,(SELECT company_name FROM tb_merchant WHERE id=merchant_id) as merchant_name,task_name,task_desc,industry_type,task_cost_min,task_cost_max,task_skill,release_date,deadline_date,upper_limit,cooperate_mode,task_mode,state,create_date
        FROM tb_task where id=#{id}
    </select>

    <select id="getTaskCode" resultType="java.lang.String">
        select task_code from tb_task
        where create_date in
        (select MAX(create_date) from tb_task)
    </select>

    <update id="closeTask">
        UPDATE tb_task SET state=1
        WHERE id=#{taskId}
    </update>

    <update id="openTask">
        UPDATE tb_task SET state=1
        WHERE id=#{taskId}
    </update>

    <resultMap id="PlatformTaskList" type="com.example.mybatis.vo.PlatformTaskListVO">
        <id column="id" property="id"/>
        <result column="task_code" property="taskCode"/>
        <result column="merchant_name" property="merchantName"/>
        <result column="task_name" property="taskName"/>
        <result column="release_date" property="releaseDate"/>
        <result column="industry_type" property="industryType"/>
        <result column="release_time" property="releaseTime"/>
        <result column="cooperate_mode" property="cooperateMode"/>
        <result column="task_mode" property="taskMode"/>
    </resultMap>

    <select id="getPlatformTaskList" resultMap="BaseResultMap">
        SELECT id,task_code,
        (SELECT company_name FROM tb_merchant WHERE id=merchant_id) as merchant_name,
        task_name,release_date,industry_type,release_time,cooperate_mode,task_mode,state
        FROM tb_task
        WHERE 1=1
        <if test="platformTaskDto.merchantName != null and platformTaskDto.merchantName != ''">
           and (SELECT id FROM tb_merchant WHERE company_name like CONCAT('%',#{platformTaskDto.merchantName},'%'))
        </if>
        <if test="platformTaskDto.taskName != null and platformTaskDto.taskName != ''">
            AND task_name LIKE CONCAT ('%',#{platformTaskDto.taskName},'%')
        </if>
        <if test="platformTaskDto.cooperateMode != null and platformTaskDto.cooperateMode != ''">
            AND cooperate_mode=#{platformTaskDto.cooperateMode}
        </if>
        <if test="platformTaskDto.releaseDate != null and platformTaskDto.releaseDate != ''">
            AND release_date >= #{platformTaskDto.releaseDate}
        </if>
        <if test="platformTaskDto.deadlineDate != null and platformTaskDto.deadlineDate != ''">
            AND deadline_date <![CDATA[<=]]> #{platformTaskDto.deadlineDate}
        </if>
        order by create_date desc
    </select>

    <insert id="addPlatformTask" parameterType="com.example.mybatis.dto.TaskDto">
        INSERT INTO tb_task (id,merchant_id,task_name,task_code,
        release_date,deadline_date,task_desc,industry_type,task_cost_min,
        task_cost_max,task_skill,release_time,deadline_time,upper_limit,cooperate_mode,task_mode,state)
        VALUES (#{id},#{merchantId},#{taskName},#{taskCode}
        ,#{releaseDate},#{deadlineDate},#{taskDesc},#{industryType},#{taskCostMin},
        #{taskCostMax},#{taskSkill},#{releaseTime},#{deadlineTime},#{upperLimit},#{cooperateMode},#{taskMode},#{state})
    </insert>

    <resultMap id="taskInfo" type="com.example.mybatis.vo.TaskInfoVO">
        <id property="id" column="id"/>
        <result property="companyName" column="company_name"/>
        <result property="taskName" column="task_name"/>
        <result property="upperLimit" column="upper_limit"/>
        <result property="taskCostMin" column="task_cost_min"/>
        <result property="taskCostMax" column="task_cost_max"/>
        <result property="cooperateMode" column="cooperate_mode"/>
        <result property="releaseDate" column="release_date"/>
        <result property="taskMode" column="task_mode"/>
    </resultMap>

    <select id="setTask" resultMap="taskInfo">
        SELECT
            t.id,
            m.company_name,
            t.task_name,
            t.upper_limit,
            t.task_cost_min,
            t.task_cost_max,
            t.cooperate_mode,
            CONCAT(
                DATE(release_date),
                ' ',
                TIME(release_time)
            ) AS release_date,
            t.task_mode
        FROM
            tb_task t
        INNER JOIN tb_merchant m ON m.id = t.merchant_id
        WHERE
            task_mode != 0
        AND state = 0
        AND deadline_date > NOW()
        ORDER BY release_date DESC
    </select>
</mapper>
