<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.TaxDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatis.entity.Tax">
        <id column="id" property="id"/>
        <result column="tax_man" property="taxMan"/>
        <result column="business_license" property="businessLicense"/>
        <result column="tax_name" property="taxName"/>
        <result column="tax_address" property="taxAddress"/>
        <result column="tax_create_date" property="taxCreateDate"/>
        <result column="link_man" property="linkMan"/>
        <result column="link_mobile" property="linkMobile"/>
        <result column="credit_code" property="creditCode"/>
        <result column="bank_name" property="bankName"/>
        <result column="bank_code" property="bankCode"/>
        <result column="title_of_account" property="titleOfAccount"/>
        <result column="tax_status" property="taxStatus"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
    </resultMap>

    <resultMap id="PayInfo" type="com.example.mybatis.po.RegulatorTaxPayInfoPo">
        <id column="id" property="id"/>
        <result column="platform_service_provider" property="platformServiceProvider"/>
        <result column="type" property="type"/>
        <result column="company_contract" property="companyContract"/>
        <result column="payment_inventory" property="paymentInventory"/>
        <result column="real_money" property="realMoney"/>
        <result column="payment_order_status" property="paymentOrderStatus"/>
        <result column="payment_date" property="paymentDate"/>
    </resultMap>

    <resultMap id="taxInBankInfoVO" type="com.example.mybatis.vo.TaxInBankInfoVO">
        <id column="bank_name" property="bankName"/>
        <result column="bank_code" property="bankCode"/>
        <result column="title_of_account" property="titleOfAccount"/>
    </resultMap>

    <resultMap id="TaxTransactionFlowVOMap" type="com.example.mybatis.vo.TaxTransactionFlowVO">
        <result column="company_id" property="companyId"/>
        <result column="merchant_id" property="merchantId"/>
        <result column="tax_id" property="taxId"/>
        <result column="company_name" property="merchantName"/>
        <result column="tax_name" property="taxName"/>
        <result column="total_package_money" property="totalPackageMoney"/>
        <result column="many_package_money" property="manyPackageMoney"/>
        <result column="total_package_count" property="totalPackageCount"/>
        <result column="many_package_count" property="manyPackageCount"/>
        <result column="cooperation_state" property="cooperationState"/>
        <result column="start_cooperation_date" property="startCooperationDate"/>
        <result column="lately_cooperation_date" property="latelyCooperationDate"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tax_man, business_license, tax_name, tax_address, tax_create_date, link_man, link_mobile, credit_code, tax_status, create_date, update_date
    </sql>

    <sql id="que">
        <if test="companySName != null and companySName != '' ">
            and company_s_name like CONCAT('%',#{companySName},'%')
        </if>
        <if test="startDate != null and startDate != ''">
            and date(create_date) &gt;= #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and date(create_date) &lt;= #{endDate}
        </if>
    </sql>

    <resultMap id="SellerById" type="com.example.mybatis.vo.SellerVO">
        <result column="tax_name" property="taxName"/>
        <result column="tax_address" property="taxAddress"/>
        <result column="link_mobile" property="phone"/>
        <result column="bank_name" property="bankName"/>
        <result column="bank_code" property="bankCode"/>
        <result column="credit_code" property="creditCode"/>
    </resultMap>

    <select id="getSellerById" resultMap="SellerById">
        SELECT t.tax_name,t.credit_code,t.tax_address,t.link_mobile,t.bank_code,t.bank_name
        FROM tb_tax t
        LEFT JOIN tb_tax_package tp ON tp.tax_id=t.id AND tp.package_status=0
        WHERE t.id=#{id}
    </select>

    <resultMap id="taxPO" type="com.example.mybatis.po.TaxPO">
        <result column="id" property="companyTaxId"/>
        <result column="charge_status" property="chargeStatus"/>
        <result column="tax_name" property="taxName"/>
        <result column="package_status" property="packageStatus"/>
        <result column="service_charge" property="serviceCharge"/>
        <result column="contract" property="contract"/>
        <result column="payee" property="payee"/>
        <result column="bank_name" property="bankName"/>
        <result column="bank_code" property="bankCode"/>
    </resultMap>

    <!--按公司查找服务商信息-->
    <select id="selectByMerchantId" parameterType="string" resultMap="taxPO">
        SELECT
        ct.id,
        ct.charge_status,
        t.tax_name,
        ct.package_status,
        ct.service_charge,
        ct.contract,
        t.title_of_account as payee,
        t.bank_name,
        t.bank_code
        FROM tb_company_tax as ct
        LEFT JOIN tb_tax as t ON ct.tax_id = t.id
        WHERE ct.company_id = #{companyId}
    </select>

    <resultMap id="TaxListPO" type="com.example.mybatis.po.TaxListPO">
        <result column="tax_name" property="taxName"/>
        <result column="id" property="taxId"/>
        <result column="total_status" property="totalStatus"/>
        <result column="many_status" property="manyStatus"/>
        <result column="tax_status" property="taxStatus"/>
        <result column="create_date" property="createDate"/>
    </resultMap>
    <!--查询服务商列表-->
    <select id="selectTaxList" resultMap="TaxListPO" parameterType="list">
        select f.id, f.tax_name, f.link_man, f.link_mobile, IF((SELECT COUNT(ttp.id) FROM tb_tax_package ttp WHERE ttp.package_status = 0 AND ttp.tax_id = f.id) > 0, 1, 0) AS total_status,
        IF((SELECT COUNT(ttp.id) FROM tb_tax_package ttp WHERE ttp.package_status = 1 AND ttp.tax_id = f.id) > 0, 1, 0) AS many_status, f.tax_status, f.create_date FROM tb_tax f
        <if test="merchantId != null and merchantId != ''">
        INNER JOIN tb_company_tax ct ON ct.tax_id=f.id
        </if>
        where 1=1
        <if test="merchantId != null and merchantId != ''">
            and ct.company_id=#{merchantId}
        </if>
        <if test="taxName != null and taxName != '' ">
            and tax_name like CONCAT('%',#{taxName},'%')
        </if>
        <if test="startDate != null and startDate != ''">
            and date(create_date) &gt;= #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and date(create_date) &lt;= #{endDate}
        </if>
        GROUP BY f.id
    </select>

    <resultMap id="MerchantPaymentList" type="com.example.mybatis.po.MerchantPaymentListPO">
        <id column="payment_order_id" property="paymentOrderId"/>
        <result column="merchant_name" property="merchantName"/>
        <result column="tax_name" property="taxName"/>
        <result column="package_status" property="packageStatus"/>
        <result column="real_money" property="realMoney"/>
        <result column="is_invoice" property="isInvoice"/>
        <result column="payment_date" property="paymentDate"/>
    </resultMap>

    <!--服务商的交易流水-->
    <select id="selectTaxPaymentList" parameterType="list" resultMap="MerchantPaymentList">
        select payment_order_id,merchant_name,tax_name,package_status,real_money,is_invoice,payment_date from tb_merchant_payment_list
        where payment_order_id in
        <foreach collection="paymentOrderIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY payment_date desc
    </select>

    <select id="selectPayInfo" resultMap="PayInfo">
        SELECT id,platform_service_provider,company_s_name,if(TRUE,'0','1') as type,company_contract,payment_inventory,real_money,IFNULL(is_not_invoice,0) as payment_order_status,payment_date
        from tb_payment_order
        WHERE tax_id=#{taxId}
        AND payment_order_status = 6
        <include refid="que"/>
        UNION
        SELECT id,platform_service_provider,company_s_name,if(FALSE,'0','1') as type,company_contract,payment_inventory,real_money,IFNULL(is_not_invoice,0) as payment_order_status,payment_date
        FROM tb_payment_order_many
        WHERE tax_id=#{taxId}
        AND payment_order_status = 3
        <include refid="que"/>
        ORDER BY id
    </select>


    <select id="getPayInfoByIds" resultMap="PayInfo">
        SELECT id,platform_service_provider,company_s_name,if(TRUE,'总包+分包','众包') as type,company_contract,payment_inventory,real_money,payment_order_status,payment_date
        from tb_payment_order
        where id in
        <foreach collection="payIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <resultMap id="cooperationInfoVO" type="com.example.mybatis.vo.CooperationInfoVO">
        <id column="id" property="id"/>
        <result column="package_status" property="packageStatus"/>
        <result column="tid" property="taxId"/>
        <result column="tax_name" property="taxName"/>
        <result column="charge_status" property="chargeStatus"/>
        <result column="tax_price" property="taxPrice"/>
        <result column="service_charge" property="serviceCharge"/>
        <result column="payee" property="payee"/>
        <result column="bank_code" property="bankCode"/>
        <result column="bank_name" property="bankName"/>
        <collection property="companyLadderServiceVos" ofType="com.example.mybatis.vo.CompanyLadderServiceVO">
            <id column="cls_id" property="companyLadderServiceId"/>
            <result column="start_money" property="startMoney"/>
            <result column="end_money" property="endMoney"/>
            <result column="clsservice_charge" property="serviceCharge"/>
            <result column="rate" property="rate"/>
        </collection>
    </resultMap>

    <select id="queryCooper" resultMap="cooperationInfoVO">
        SELECT
            ct.id,
            ct.package_status,
            t.tax_name,
            t.id as tid,
            ct.charge_status,
            ttp.tax_price,
            ct.service_charge,
            ct.contract,
            t.title_of_account as payee,
            t.bank_code,
            t.bank_name,
            cls.id as cls_id,
            tilp.start_money,
            tilp.end_money,
            cls.service_charge as clsservice_charge,
		        tilp.rate
        FROM
            tb_company_info ci
        INNER JOIN tb_company_tax ct ON ct.company_id = ci.id
        INNER JOIN tb_tax t ON t.id = ct.tax_id
        LEFT JOIN tb_tax_package ttp ON ttp.tax_id = ct.tax_id AND ttp.package_status = ct.package_status
				LEFT JOIN tb_invoice_ladder_price tilp ON ttp.tax_id = ct.tax_id AND IF(ct.package_status = 0, tilp.packaeg_status = 4, tilp.packaeg_status = 5)
        LEFT JOIN tb_company_ladder_service cls ON cls.company_tax_id = ct.id AND cls.start_money = tilp.start_money AND cls.end_money = tilp.end_money
        where ci.id= #{companyId}
        <if test="taxId != null and taxId != ''">
            AND ct.tax_id = #{taxId}
        </if>
    </select>

    <resultMap id="taxInfo" type="com.example.mybatis.vo.TaxInfoVO">
        <id column="id" property="id"/>
        <result column="tax_name" property="taxName"/>
        <result column="credit_code" property="creditCode"/>
        <result column="tax_man" property="taxMan"/>
        <result column="link_mobile" property="linkMobile"/>
        <result column="bank_name" property="bankName"/>
        <result column="bank_code" property="bankCode"/>
        <result column="create_date" property="createDate"/>
        <result column="tax_status" property="taxStatus"/>
    </resultMap>

    <select id="queryTaxInfoById" resultMap="taxInfo">
        SELECT
            t.id,
            t.tax_name,
            t.credit_code,
            t.tax_man,
            t.link_mobile,
            t.bank_name,
            t.bank_code,
            t.create_date,
            t.tax_status
        FROM
            tb_tax t
        WHERE
            t.id = #{taxId}
        ORDER BY t.id
    </select>

    <resultMap id="taxPaasList" type="com.example.mybatis.vo.TaxListVO">
        <id column="id" property="id"/>
        <result column="tax_name" property="taxName"/>
    </resultMap>

    <select id="getTaxPaasList" resultMap="taxPaasList">
        SELECT
            t.id,
            t.tax_name
        FROM
            tb_tax t
        LEFT JOIN tb_tax_package tp ON tp.tax_id = t.id
        WHERE
            tp.package_status = #{packageStatus}
    </select>

    <select id="queryTaxInBankInfo" resultMap="taxInBankInfoVO">
        SELECT t1.bank_name, t1.bank_code, t1.title_of_account FROM tb_tax t1 WHERE t1.id = #{taxId}
    </select>

    <select id="queryTaxTransactionFlow" resultMap="TaxTransactionFlowVOMap">
        SELECT
        DISTINCT t3.id as company_id,
        t1.id as tax_id ,
        t1.tax_name,
        t4.id as merchant_id,
        t3.company_name,
        IFNULL((SELECT SUM(real_money) from tb_payment_order where tax_id = t1.id and company_id = t3.id AND payment_order_status=6),0) as total_package_money,
        IFNULL((SELECT SUM(real_money) from tb_payment_order_many where tax_id = t1.id and company_id = t3.id AND payment_order_status=3),0) as many_package_money,
        (SELECT COUNT(id) from tb_payment_order where tax_id = t1.id and company_id = t3.id AND payment_order_status=6) as total_package_count,
        (SELECT COUNT(id) from tb_payment_order_many where tax_id = t1.id and company_id = t3.id AND payment_order_status=3) as many_package_count,
        1 as cooperation_state,
        (SELECT create_date from tb_company_tax WHERE company_id=t3.id AND tax_id=t1.id GROUP BY company_id)as start_cooperation_date,
        if(DATE_FORMAT((SELECT create_date FROM tb_payment_order where tax_id = t1.id and company_id = t3.id ORDER BY create_date desc LIMIT 1),
        'MM-dd-yyyy hh:mm:ss') > DATE_FORMAT((SELECT create_date FROM tb_payment_order_many where tax_id = t1.id and company_id = t3.id
        ORDER BY create_date desc LIMIT 1), 'MM-dd-yyyy hh:mm:ss'),(SELECT create_date FROM tb_payment_order where tax_id = t1.id and company_id = t3.id
        ORDER BY create_date desc LIMIT 1),(SELECT create_date FROM tb_payment_order_many where tax_id = t1.id and company_id = t3.id
        ORDER BY create_date desc LIMIT 1)) as lately_cooperation_date
        FROM
        tb_tax t1
        INNER JOIN tb_company_tax t2 on t2.tax_id = t1.id
        INNER JOIN tb_company_info t3 on t3.id = t2.company_id
        INNER JOIN tb_merchant t4 on t3.id=t4.company_id and t4.parent_id =0
        where t1.id = #{param1}
        ORDER BY lately_cooperation_date DESC
    </select>

    <resultMap id="taxCompanyFlow" type="com.example.mybatis.vo.TaxCompanyPaymentVO">
        <id column="id" property="id"/>
        <result column="platform_service_provider" property="platformServiceProvider"/>
        <result column="company_s_name" property="companySName"/>
        <result column="cooperate_mode" property="cooperateMode"/>
        <result column="transaction_flow" property="transactionFlow"/>
        <result column="is_not_invoice" property="isNotInvoice"/>
        <result column="update_date" property="updateDate"/>
    </resultMap>

    <select id="getTaxCompanyFlow" resultMap="taxCompanyFlow">
        SELECT
            id,
            platform_service_provider,
            company_s_name,
            0 AS cooperate_mode,
            (real_money + service_money) AS transaction_flow,
            IFNULL(is_not_invoice, 0) AS is_not_invoice,
            update_date
        FROM
            tb_payment_order
        WHERE company_id=#{param2}
        AND tax_id=#{param3}
        UNION
        SELECT
            id,
            platform_service_provider,
            company_s_name,
            1 AS cooperate_mode,
            real_money AS transaction_flow,
            IFNULL(is_not_invoice, 0) AS is_not_invoice,
            update_date
        FROM
            tb_payment_order_many
        WHERE company_id=#{param2}
        AND tax_id=#{param3}
        ORDER BY
            update_date DESC
    </select>
</mapper>
