<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.TaxPackageDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatis.entity.TaxPackage">
        <id column="id" property="id" />
        <result column="tax_id" property="taxId" />
        <result column="tax_price" property="taxPrice" />
        <result column="package_status" property="packageStatus" />
        <result column="support_category" property="supportCategory" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tax_id, tax_price, payee, bank_name, bank_code, package_status, support_category, create_date, update_date
    </sql>

</mapper>
