<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.TradeRecordDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatis.entity.TradeRecord">
        <id column="id" property="id" />
        <result column="payer_object" property="payerObject" />
        <result column="payer_id" property="payerId" />
        <result column="payee_object" property="payeeObject" />
        <result column="payee_id" property="payeeId" />
        <result column="trade_method" property="tradeMethod" />
        <result column="trade_type" property="tradeType" />
        <result column="amount" property="amount" />
        <result column="outer_trade_no" property="outerTradeNo" />
        <result column="trade_status" property="tradeStatus" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, payer_object, payer_id, payee_object, payee_id, trade_method, trade_type, amount, outer_trade_no, trade_status, create_date, update_date
    </sql>

</mapper>
