<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.WorkerDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatis.entity.Worker">
        <id column="id" property="id" />
        <result column="worker_status" property="workerStatus" />
        <result column="worker_name" property="workerName" />
        <result column="account_name" property="accountName" />
        <result column="worker_sex" property="workerSex" />
        <result column="mobile_code" property="mobileCode" />
        <result column="idcard_code" property="idcardCode" />
        <result column="bank_code" property="bankCode" />
        <result column="attestation" property="attestation" />
        <result column="idcardFront" property="idcardFront" />
        <result column="idcardBack" property="idcardBack" />
        <result column="attestation_video" property="attestationVideo" />
        <result column="user_name" property="userName" />
        <result column="user_pwd" property="userPwd" />
        <result column="skill" property="skill" />
        <result column="agreementSign" property="agreementSign" />
        <result column="agreementUrl" property="agreementUrl" />
        <result column="head_portraits" property="headPortraits" />
        <result column="picture" property="picture" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
    </resultMap>


    <resultMap id="WorkerPo" type="com.example.mybatis.po.WorkerPo">
        <id column="id" property="wId" />
        <result column="worker_name" property="workerName" />
        <result column="mobile_code" property="mobileCode" />
        <result column="idcard_code" property="idcardCode" />
        <result column="attestation" property="attestation" />
        <result column="agreementUrl" property="agreementUrl" />
        <result column="create_date" property="createDate" />
    </resultMap>

    <resultMap id="WorkerPos" type="com.example.mybatis.po.WorkerPo">
        <id column="id" property="wId" />
        <result column="worker_name" property="workerName" />
        <result column="mobile_code" property="mobileCode" />
        <result column="idcard_code" property="idcardCode" />
        <result column="attestation" property="attestation" />
        <result column="agreementUrl" property="agreementUrl" />
        <result column="create_date" property="createDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, worker_status, worker_name, account_name, worker_sex, mobile_code, idcard_code, bank_code, attestation, idcardFront, idcardBack, attestation_video, user_name, user_pwd, skill, agreementSign, agreementUrl, head_portraits, picture, create_date, update_date
    </sql>
    
    <select id="selectByIdAndAccountNameAndMobile" resultMap="BaseResultMap" parameterType="list">
        select
        a.id,  account_name, mobile_code, idcard_code, bank_code, attestation,  agreementSign ,a.create_date
        from tb_worker a join tb_merchant_worker b on a.id = b.worker_id
        <where>
            b.merchant_id = #{merchantId}
            <if test="id != null and id != ''">
                and a.id = #{id}
            </if>
            <if test="accountName != null and accountName != ''">
                and account_name = #{accountName}
            </if>
            <if test="mobileCode != null and mobileCode != ''">
                and mobile_code = #{mobileCode}
            </if>
        </where>
        limit 0,10
    </select>


    <select id="getWorkerByTaskId" resultMap="WorkerPo">
        SELECT w.id,w.worker_name,w.mobile_code,w.idcard_code,w.attestation,w.agreementUrl,wt.create_date FROM tb_worker_task as wt,tb_worker as w
        WHERE wt.worker_id=w.id AND wt.task_id=#{taskId}
    </select>

    <select id="getCheckByTaskId" resultMap="WorkerPos">
        SELECT w.id,w.worker_name,w.mobile_code,w.idcard_code,w.attestation,w.agreementUrl,wt.achievement_date,wt.achievement_desc,wt.achievement_files
        FROM tb_worker_task as wt,tb_worker as w
        WHERE wt.worker_id=w.id AND wt.task_id=#{taskId}
    </select>

</mapper>
