<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.WorkerDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatis.entity.Worker">
        <id column="id" property="id"/>
        <result column="worker_status" property="workerStatus"/>
        <result column="worker_name" property="workerName"/>
        <result column="account_name" property="accountName"/>
        <result column="worker_sex" property="workerSex"/>
        <result column="mobile_code" property="mobileCode"/>
        <result column="idcard_code" property="idcardCode"/>
        <result column="bank_code" property="bankCode"/>
        <result column="attestation" property="attestation"/>
        <result column="idcard_front" property="idcardFront"/>
        <result column="idcard_back" property="idcardBack"/>
        <result column="member_id" property="memberId"/>
        <result column="sub_account_no" property="subAccountNo"/>
        <result column="attestation_video" property="attestationVideo"/>
        <result column="user_name" property="userName"/>
        <result column="user_pwd" property="userPwd"/>
        <result column="skill" property="skill"/>
        <result column="agreement_sign" property="agreementSign"/>
        <result column="agreement_url" property="agreementUrl"/>
        <result column="head_portraits" property="headPortraits"/>
        <result column="picture" property="picture"/>
        <result column="business_license" property="businessLicense"/>
        <result column="credit_code" property="creditCode"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
    </resultMap>


    <resultMap id="WorkerPo" type="com.example.mybatis.po.WorkerPo">
        <id column="id" property="wId"/>
        <result column="worker_name" property="workerName"/>
        <result column="mobile_code" property="mobileCode"/>
        <result column="idcard_code" property="idcardCode"/>
        <result column="attestation" property="attestation"/>
        <result column="agreement_url" property="agreementUrl"/>
        <result column="create_date" property="createDate"/>
        <result column="is_deliver" property="isDeliver"/>
        <result column="achievement_desc" property="achievementDesc"/>
        <result column="achievement_date" property="achievementDate"/>
        <result column="achievement_files" property="achievementFiles"/>
    </resultMap>

    <resultMap id="WorkerPos" type="com.example.mybatis.po.WorkerPo">
        <id column="id" property="wId"/>
        <result column="worker_name" property="workerName"/>
        <result column="mobile_code" property="mobileCode"/>
        <result column="idcard_code" property="idcardCode"/>
        <result column="attestation" property="attestation"/>
        <result column="agreement_url" property="agreementUrl"/>
        <result column="create_date" property="createDate"/>
        <result column="check_money" property="checkMoney"/>
        <result column="is_deliver" property="isDeliver"/>
        <result column="achievement_date" property="achievementDate"/>
        <result column="achievement_desc" property="achievementDesc"/>
        <result column="achievement_files" property="achievementFiles"/>

    </resultMap>

    <resultMap id="workerPassVo" type="com.example.mybatis.vo.WorkerPassVO">
        <id column="id" property="wId"/>
        <result column="worker_name" property="workerName"/>
        <result column="mobile_code" property="mobileCode"/>
        <result column="idcard_code" property="idcardCode"/>
        <result column="attestation" property="attestation"/>
        <result column="agreement_url" property="agreementUrl"/>
        <result column="create_date" property="createDate"/>
        <result column="is_deliver" property="isDeliver"/>
        <result column="acceptance_amount" property="acceptanceAmount"/>
        <result column="status" property="status"/>
        <result column="achievement_desc" property="achievementDesc"/>
    </resultMap>

    <resultMap id="workerInfo" type="com.example.mybatis.vo.WorkerInfoVO">
        <result column="task_number" property="taskNumber"/>
        <result column="total_revenue" property="totalRevenue"/>
        <result column="total_tax" property="totalTax"/>
        <result column="invoice_number" property="invoiceNumber"/>
    </resultMap>

    <resultMap id="workerPayInfo" type="com.example.mybatis.vo.WorkerPayInfoVO">
        <result column="payment_order_id" property="paymentOrderId"/>
        <result column="company_s_name" property="companySName"/>
        <result column="platform_service_provider" property="platformServiceProvider"/>
        <result column="worker_name" property="workerName"/>
        <result column="package_status" property="packageStatus"/>
        <result column="payment_status" property="paymentStatus"/>
        <result column="task_money" property="taskMoney"/>
        <result column="create_date" property="createDate"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, worker_status, worker_name, account_name, worker_sex, mobile_code, idcard_code, bank_code, attestation, idcard_front, idcard_back, attestation_video, user_name, user_pwd, skill, agreement_sign, agreement_url, head_portraits, picture, business_license, create_date, update_date
    </sql>

    <sql id="ByIdAndAccountNameAndMobile">
        <if test="workerId != null and workerId != ''">
            and w.id = #{workerId}
        </if>
        <if test="accountName != null and accountName != ''">
            and w.account_name like CONCAT('%',#{accountName},'%')
        </if>
        <if test="mobileCode != null and mobileCode != ''">
            and w.mobile_code = #{mobileCode}
        </if>
    </sql>

    <select id="selectByIdAndAccountNameAndMobile" resultMap="BaseResultMap" parameterType="list">
        select
        a.id, account_name, mobile_code, idcard_code, bank_code, attestation, agreement_sign ,a.create_date
        from tb_worker a join tb_company_worker b on a.id = b.worker_id
        <where>
            b.company_id = #{merchantId}
        <if test="accountName != null and accountName != ''">
            and account_name like CONCAT('%',#{accountName},'%')
        </if>
        <if test="mobileCode != null and mobileCode != ''">
            and mobile_code = #{mobileCode}
        </if>
        </where>
    </select>

    <select id="selectWorkerQueryNot" resultMap="BaseResultMap" parameterType="list">
       SELECT
            w.id,
            w.account_name,
            w.mobile_code,
            w.idcard_code,
            w.bank_code,
            w.attestation,
            w.agreement_url,
            w.create_date
        FROM
            tb_worker w
        <if test="param6 != null">
            INNER JOIN tb_company_worker cw ON cw.worker_id=w.id AND cw.company_id in
            <foreach collection="companyIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
             </foreach>
        </if>
        WHERE 1=1
        <include refid="ByIdAndAccountNameAndMobile"></include>
        AND (
            w.attestation = 0
            OR w.agreement_sign != 2
        )
        ORDER BY create_date desc
    </select>

    <select id="selectWorkerQuery" resultMap="BaseResultMap" parameterType="list">
        SELECT
            w.id,
            w.account_name,
            w.mobile_code,
            w.idcard_code,
            w.bank_code,
            w.attestation,
            w.agreement_url,
            w.create_date
        FROM
            tb_worker w
        WHERE
            attestation = 1
        AND agreement_sign = 2
        <include refid="ByIdAndAccountNameAndMobile"></include>
        ORDER BY create_date desc
    </select>

    <select id="selectAgentWorkerQuery" resultMap="BaseResultMap">
        SELECT DISTINCT
            w.id,
            w.account_name,
            w.mobile_code,
            w.idcard_code,
            w.bank_code,
            w.attestation,
            w.agreement_url,
            w.create_date
        FROM
            tb_worker w
        INNER JOIN tb_company_worker cw ON cw.worker_id=w.id AND cw.company_id in
        <foreach collection="companyIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        INNER JOIN tb_payment_inventory pi ON pi.worker_id = w.id
        LEFT JOIN (
            SELECT
                id AS payment_order_id
            FROM
                tb_payment_order
        WHERE company_id in 
       <foreach collection="companyIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        UNION 
         SELECT
                id AS payment_order_id
            FROM
                tb_payment_order_many
        WHERE company_id in
        <foreach collection="companyIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        ) po ON po.payment_order_id = pi.payment_order_id
        WHERE
            w.attestation = 1
        AND w.agreement_sign = 2
        <include refid="ByIdAndAccountNameAndMobile"></include>
        ORDER BY
            w.create_date DESC
    </select>

    <select id="getWorkerByTaskId" resultMap="WorkerPo">
        SELECT
            w.id,
            w.account_name AS worker_name,
            w.mobile_code,
            w.idcard_code,
            w.attestation,
            w.agreement_url,
            IF (ISNULL(wt.achievement_date),0,1) AS is_deliver,
            wt.achievement_date,
            wt.achievement_desc,
            wt.achievement_files,
            wt.create_date
        FROM
            tb_worker_task AS wt,
            tb_worker AS w
        WHERE
	    wt.worker_id = w.id
	    AND wt.task_id=#{taskId}
	    AND wt.task_status = 0
    </select>

    <select id="getCheckByTaskId" resultMap="WorkerPos">
        SELECT
            w.id,
            w.account_name as worker_name,
            w.mobile_code,
            w.idcard_code,
            w.attestation,
            w.agreement_url,
            wt.check_money,
            IF (ISNULL(wt.achievement_date),0,1) AS is_deliver,
            wt.achievement_date,
            wt.achievement_desc,
            wt.achievement_files,
            wt.create_date
        FROM
            tb_worker_task AS wt,
            tb_worker AS w
        WHERE
            wt.worker_id = w.id
        AND wt.task_status = 0
        AND wt.task_id =#{taskId}
    </select>

    <resultMap id="worekerPaymentListPo" type="com.example.mybatis.po.WorekerPaymentListPo">
        <result column="payment_order_id" property="paymentOrderId"/>
        <result column="tax_name" property="taxName"/>
        <result column="merchant_name" property="merchantName"/>
        <result column="worker_name" property="workerName"/>
        <result column="package_status" property="packageStatus"/>
        <result column="real_money" property="realMoney"/>
        <result column="payment_date" property="paymentDate"/>
        <result column="invoice_status" property="invoiceStatus"/>
    </resultMap>


    <!--查询创客支付明细-->
    <select id="workerPaymentList" parameterType="list" resultMap="worekerPaymentListPo">
        select a.payment_order_id,
        (case when c.platform_service_provider is null then d.platform_service_provider else c.platform_service_provider end)as tax_name,
        (case when c.company_s_name is null then d.company_s_name else c.company_s_name end)as merchant_name,
        a.worker_name, a.package_status, a.real_money,
        IFNULL((case when c.payment_date is null then d.payment_date else c.payment_date end),a.create_date) as 'payment_date',
        (case when b.id is null then 0 else 1 end)as invoice_status from tb_payment_inventory a
        left join tb_invoice_payment_inventory b on a.id = b.payment_inventory_id
        left join tb_payment_order c on a.payment_order_id = c.id
        left join tb_payment_order_many d on a.payment_order_id = d.id
        where a.worker_id = #{workerId}
        ORDER BY payment_date DESC
    </select>

    <sql id="WorkerPaymentSql">
        select a.payment_order_id,
        IF (a.package_status=0,(SELECT platform_service_provider from tb_payment_order WHERE id=a.payment_order_id),
		(SELECT platform_service_provider from tb_payment_order_many WHERE id=a.payment_order_id)) tax_name,
        IF (a.package_status=0,(SELECT company_s_name from tb_payment_order WHERE id=a.payment_order_id),
		(SELECT company_s_name from tb_payment_order_many WHERE id=a.payment_order_id)) merchant_name,
        w.account_name AS worker_name,
        w.account_name as worker_name, a.package_status, a.real_money,
        IFNULL((case when c.payment_date is null then d.payment_date else c.payment_date end),a.create_date) as
        'payment_date',
        (case when b.id is null then 0 else 1 end)as invoice_status
        from tb_payment_inventory a
        INNER JOIN tb_worker w ON w.id=a.worker_id
        left join tb_invoice_payment_inventory b on a.id = b.payment_inventory_id
        left join tb_payment_order c on a.payment_order_id = c.id and c.payment_order_status = 6
        left join tb_payment_order_many d on a.payment_order_id = d.id and d.payment_order_status = 3
    </sql>

    <!--查询监管部门所监管的创客支付明细-->
    <select id="regulatorWorkerPaymentList" parameterType="list" resultMap="worekerPaymentListPo">
        SELECT
            po.payment_order_id,
            po.tax_id,
            po.company_id,
            po.tax_name,
            po.company_s_name as merchant_name,
            pi.worker_name,
            pi.real_money,
            ifnull(po.is_not_invoice, 0) as invoice_status,
            pi.package_status,
            pi.update_date as payment_date
        FROM
            (
                SELECT
                    id AS payment_order_id,
                    company_id AS company_id,
                    tax_id AS tax_id,
                    platform_service_provider AS tax_name,
                    company_s_name AS company_s_name,
                    is_not_invoice AS is_not_invoice
                FROM
                    tb_payment_order
                WHERE
                    payment_order_status = 6
                UNION
                SELECT
                    id AS payment_order_id,
                    company_id AS company_id,
                    tax_id AS tax_id,
                    platform_service_provider AS tax_name,
                    company_s_name AS company_s_name,
                    is_not_invoice AS is_not_invoice
                FROM
                    tb_payment_order_many
                WHERE
                    payment_order_status = 3
            ) AS po
        INNER JOIN tb_payment_inventory pi ON pi.payment_order_id = po.payment_order_id
        INNER JOIN tb_regulator_tax rt ON po.tax_id=rt.tax_id
        INNER JOIN tb_regulator r ON r.id = rt.regulator_id
        WHERE
            pi.worker_id = #{param2}
        AND r.id= #{param3}
        ORDER BY pi.update_date DESC
    </select>

    <!--查询监管部门所监管的创客支付明细-->
    <select id="selectRegulatorWorkerPaymentInfo" parameterType="list" resultMap="worekerPaymentListPo">
        SELECT
            po.payment_order_id,
            po.tax_id,
            po.company_id,
            po.tax_name,
            po.company_s_name as merchant_name,
            pi.worker_name,
            pi.real_money,
            ifnull(po.is_not_invoice, 0) as invoice_status,
            pi.package_status,
            pi.update_date as payment_date
        FROM
            (
                SELECT
                    id AS payment_order_id,
                    company_id AS company_id,
                    tax_id AS tax_id,
                    platform_service_provider AS tax_name,
                    company_s_name AS company_s_name,
                    is_not_invoice AS is_not_invoice
                FROM
                    tb_payment_order
                WHERE
                    payment_order_status = 6
                UNION
                SELECT
                    id AS payment_order_id,
                    company_id AS company_id,
                    tax_id AS tax_id,
                    platform_service_provider AS tax_name,
                    company_s_name AS company_s_name,
                    is_not_invoice AS is_not_invoice
                FROM
                    tb_payment_order_many
                WHERE
                    payment_order_status = 3
            ) AS po
        INNER JOIN tb_payment_inventory pi ON pi.payment_order_id = po.payment_order_id
        INNER JOIN tb_regulator_tax rt ON po.tax_id=rt.tax_id
        INNER JOIN tb_regulator r ON r.id = rt.regulator_id
        WHERE
            pi.worker_id = #{param3}
        AND r.id= #{param2}
        <if test="taxName != null and taxName != ''">
            AND po.tax_name like CONCAT('%',#{taxName},'%')
        </if>
        <if test="companyName != null and companyName != ''">
            AND po.company_s_name like CONCAT('%',#{companyName},'%')
        </if>
        <if test="startDate != null and startDate != ''">
            AND pi.update_date &gt;= #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            AND pi.update_date &lt;= #{endDate}
        </if>
        ORDER BY pi.update_date DESC
    </select>

    <!--导出监管部门所监管的创客支付明细-->
    <select id="exportRegulatorWorkerPaymentInfo" parameterType="list" resultMap="worekerPaymentListPo">
        <include refid="WorkerPaymentSql"/>
        <where>
            a.worker_id = #{workerId}
            and a.payment_order_id in
            <foreach collection="paymentOrderIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>

    <resultMap id="workerMakeMoney" type="com.example.mybatis.vo.WorkerVO">
        <result column="real_money" property="realMoney"/>
        <result column="head_portraits" property="headPortraits"/>
        <result column="account_name" property="accountName"/>
    </resultMap>

    <select id="setWorkerMakeMoney" resultMap="workerMakeMoney">
        SELECT SUM(real_money) as real_money ,w.head_portraits,w.account_name
        FROM tb_payment_inventory pi
        INNER JOIN tb_worker w ON w.id=pi.worker_id
        GROUP BY w.id
    </select>


    <select id="getPaasCheckByTaskId" resultMap="workerPassVo">
        SELECT
            w.id,
            w.account_name as worker_name,
            w.mobile_code,
            w.idcard_code,
            w.attestation,
            w.agreement_url,
            wt.achievement_date,
            wt.achievement_desc,
            wt.achievement_files,
            wt.create_date,
            wt.`status`,
            IF( ISNULL(achievement_date),0,1) as is_deliver,
            wt.check_money as acceptance_amount
        FROM
            tb_worker AS w
        INNER JOIN tb_worker_task wt ON wt.worker_id = w.id
        where wt.task_id=#{taskId} and  wt.task_status=0
    </select>

    <select id="queryWorkerInfo" resultMap="workerInfo">
        SELECT
            (
                SELECT
                    count(1)
                FROM
                    tb_worker_task
                WHERE
                    worker_id = w.id
            ) AS task_number,
            (
                SELECT
                    SUM(real_money)
                FROM
                    tb_payment_inventory
                WHERE
                    worker_id = w.id
            ) AS total_revenue,
            (
                SELECT
                    SUM(tax_amount)
                FROM
                    tb_payment_inventory
                WHERE
                    worker_id = w.id
            ) AS total_tax,
            (
                SELECT
                    COUNT(1)
                FROM
                    tb_payment_inventory pi
                    INNER JOIN tb_payment_order po ON pi.payment_order_id=po.id AND po.is_not_invoice=1
                WHERE
                    pi.worker_id = w.id
            ) +
        (
                SELECT
                    COUNT(1)
                FROM
                    tb_payment_inventory pi
                    INNER JOIN tb_payment_order_many pm ON pi.payment_order_id=pm.id AND pm.is_not_invoice=1
                WHERE
                    pi.worker_id = w.id
            ) AS invoice_number
        FROM
            tb_worker w
        WHERE
            w.id = #{workerId}
    </select>

    <select id="queryWorkerPayInfo" resultMap="workerPayInfo">
        SELECT
            pi.payment_order_id,
            po.company_s_name,
            po.platform_service_provider,
            pi.worker_name,
            pi.package_status,
            pi.real_money AS task_money,
            pi.payment_status,
            pi.create_date
        FROM
            tb_payment_inventory pi
            LEFT JOIN (
            SELECT
                id AS payment_order_id,
                company_id as company_id,
                company_s_name AS company_s_name,
                platform_service_provider AS platform_service_provider
            FROM
                tb_payment_order
            UNION
            SELECT
                id AS payment_order_id,
                company_id as company_id,
                company_s_name AS company_s_name,
                platform_service_provider AS platform_service_provider
            FROM
                tb_payment_order_many
            ) po ON po.payment_order_id = pi.payment_order_id
        WHERE
            pi.worker_id =#{param2}
        AND pi.payment_status = 1
        <if test="param3 != null and param3 != ''">
            AND company_id= #{param3}
        </if>
        order by pi.create_date desc
    </select>

    <resultMap id="WorkerCompanyByID" type="com.example.mybatis.vo.WorkerCompanyVO">
        <result column="id" property="id"/>
        <result column="account_name" property="accountName"/>
        <result column="mobile_code" property="mobileCode"/>
        <result column="idcard_code" property="idcardCode"/>
    </resultMap>

    <select id="queryWorkerCompanyByID" resultMap="WorkerCompanyByID">
        SELECT
            w.id,
            w.account_name,
            w.mobile_code,
            w.idcard_code
        FROM
            tb_company_worker cw
        INNER JOIN tb_worker w ON cw.worker_id = w.id
        WHERE
            cw.company_id = #{param2}
        AND w.attestation = 1
        AND w.agreement_sign = 2
    </select>

    <select id="queryWorkerCount" resultType="int">
        <if test="param1 != null and param1 != ''">
            SELECT COUNT(DISTINCT worker_id)
                FROM tb_payment_inventory
            WHERE payment_order_id IN (
                    SELECT id
                        FROM tb_payment_order
                    WHERE tax_id = #{param1}
                        UNION
                    SELECT id
                        FROM tb_payment_order_many
                    WHERE tax_id = #{param1}
                )
        </if>
        <if test="param2 != null and param2 != ''">
            SELECT COUNT(DISTINCT id) as countWorker FROM tb_company_worker where company_id = #{param2}
        </if>
    </select>
</mapper>
